/* banner */
.banner_fixed {
	position: fixed;
	top: 0;
	left: 0;
}
.banner {
	width: 100%;
	overflow: hidden;
}
.banner .swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}
.banner .swiper-wrapper {
	display: flex;
	position: relative;
	width: 100%;
	z-index: 1
}
.banner .swiper-slide {
	height: 0;
	padding-bottom: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-shrink: 0;
	position: relative;
	overflow: hidden
}
.banner .swiper-slide>img,
.banner .swiper-slide>video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover
}

.banner-button-prev,
.banner-button-next {
	display: none;
}

.banner-pagination {
	position: absolute;
	left: 2.5vw;
	bottom: 10%;
	text-align: center;
	z-index: 2;
}
.banner-pagination .swiper-pagination-bullet {
	width: .7rem;
	height: .02rem;
	display: inline-block;
	margin: 0 6px;
	background: #CCC;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
	outline: none;
	cursor: pointer;
	position: relative;
}
.banner-pagination .swiper-pagination-bullet::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 4s ease;
	transition: all 4s ease
}
.banner-pagination .swiper-pagination-bullet-active::before {
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-animation: w100 5800ms 1;
	animation: w100 5800ms 1;
}
@keyframes w100 {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}

@media screen and (max-width:1200px) {
	.banner-button-prev,
	.banner-button-next {
		display: none;
	}
}
@media screen and (max-width:1024px) {
	.banner {
		height: auto;
	}
	.banner .swiper-slide {
		padding-bottom: 50%
	}

	.banner-button-prev,
	.banner-button-next {
		display: none
	}
}
@media screen and (max-width:768px) {
	.banner .swiper-slide {
		padding-bottom: 52%
	}

	.banner-pagination {
		bottom: 0.3rem;
	}
	.banner-pagination .swiper-pagination-bullet {
		width: 0.5rem;
	}
}
@media screen and (max-width:560px) {
	.banner-pagination {
		bottom: 0.2rem;
	}
}






