@charset "utf-8";


/* Contact Us */
.c_list{display:-webkit-flex; display:flex; flex-wrap:nowrap;gap: 0 2%;}

.c_list dt{width: 23.5%;box-sizing: border-box;padding: .2rem; border: 1px solid var(--border_color);-webkit-border-radius:.1rem; border-radius:.1rem;}

.c_list .ico{margin-bottom: .6rem; width: 0.6rem;height: 0.6rem;box-sizing: border-box;border: 1px solid var(--border_color);-webkit-border-radius:.1rem; border-radius:.1rem;position: relative;}
.c_list .ico img{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);width: 0.3rem; height: 0.3rem;object-fit: contain;}

.c_list span{position: relative;}
.c_list h5{padding-bottom: 0.1rem;margin-bottom: .2rem; font-size: 0.2rem;color: #333;font-weight: 900;position: relative;}
.c_list h5::before,.c_list h5::after{content: '';position: absolute;left: 0;bottom: 0;height: 1px;}
.c_list h5::before{width: 100%;background: var(--border_color);}
.c_list h5::after{width: 50%;background: var(--i_color);}
.c_list p,.c_list a{font-size: .16rem;color: #666;}
.c_list a:hover{color: var(--i_color);}

@media screen and (max-width:1024px) {
	.c_list{flex-wrap: wrap;gap: .3rem 2%;}
	.c_list dt{width: 49%;}

	.c_list .ico{margin-bottom: 0.2rem; width: 0.5rem;height: 0.5rem;}
	.c_list .ico img{width: .26rem;height: 0.26rem;}
	.c_list h5{font-size: 0.18rem;}
}
@media screen and (max-width:768px) {
	.c_list{gap: .16rem 2%;}
	.c_list h5{font-size: 0.16rem;}
	.c_list p, .c_list a{font-size: 15px;}
}
@media screen and (max-width:560px) {
	.c_list{gap: .14rem 0;}
	.c_list dt{width: 100%;}
	.c_list .ico{width: 0.44rem;height: 0.44rem;}
	.c_list .ico img{width: 0.22rem;height: 0.22rem;}
	.c_list h5{margin-bottom: 0.1rem;}
}





.c_form_box{}
.c_form_box .wrap{display:-webkit-flex; display:flex; flex-wrap:wrap;}

.c_form{width: 44%;}
#wpforms-456789{--input_font_size:14px;--input_height:.46rem}
#wpforms-456789{margin:0;padding:0;}
#wpforms-form-456789{width:100%;position:relative;overflow:hidden}

#wpforms-456789 input,#wpforms-456789 button{margin:0;padding:0;border:none;background:none}
#wpforms-456789 .wpforms-field{padding:0;margin:0}
#wpforms-456789 .wpforms-field-label{font-size:0;}
#wpforms-456789 .wpforms-required-label{position:absolute;top:.06rem;left:.1rem;font-size:.16rem;color:#F00}
#wpforms-456789 .wpforms-field{width:100%;background:transparent;padding-bottom:.2rem;position:relative;overflow:hidden}

#wpforms-456789 .wpforms-field-container input,#wpforms-456789 textarea{width:100%;max-width:100% !important;min-width:100%;font-size:var(--input_font_size);color:#333;height:var(--input_height);box-sizing:border-box;background:#EEE;padding:0 .24rem;-webkit-border-radius:.05rem;border-radius:.05rem;overflow:hidden;-webkit-transition:all .5s ease;transition:all .5s ease}
#wpforms-456789 .wpforms-field-container input:hover,#wpforms-456789 textarea:hover{border-color:var(--i_color);}
#wpforms-456789 input{line-height:var(--input_height)}
#wpforms-456789 textarea{line-height:.22rem;min-height:1rem;padding:.06rem .24rem}

#wpforms-456789-field_1-container,#wpforms-456789-field_2-container{width:49% !important;}

#wpforms-456789 input::-webkit-input-placeholder,#wpforms-456789 textarea::-webkit-input-placeholder{color:rgb(0 0 0 / 40%);font-size:var(--input_font_size)}
#wpforms-456789 input::-moz-placeholder,#wpforms-456789 textarea::-moz-placeholder{color:rgb(0 0 0 / 40%);font-size:var(--input_font_size)}
#wpforms-456789 input::-ms-input-placeholder,#wpforms-456789 textarea::-ms-input-placeholder{color:rgb(0 0 0 / 40%);font-size:var(--input_font_size)}

#wpforms-456789-field_1-error,#wpforms-456789-field_2-error,#wpforms-456789-field_3-error,#wpforms-456789-field_4-error,#wpforms-456789-field_5-error,#wpforms-456789-field_6-error{position:absolute;font-size:12px;color:#A90909;}

#wpforms-456789 .wpforms-field-container{width:100%;display:-webkit-flex;display:flex;flex-wrap:wrap;justify-content:space-between;overflow:hidden}
#wpforms-456789 .wpforms-submit-container{text-align:center; padding:0; overflow:hidden; position:relative; width: 2rem; -webkit-border-radius:.06rem; border-radius:.06rem;}
#wpforms-456789 .wpforms-submit-container button{width:100%;height:.42rem;font-size:.14rem;color:#FFF;font-weight:bold;line-height:.42rem; background:var(--i_color); cursor:pointer; position:relative; z-index:2}
#wpforms-456789 .wpforms-submit-container button:hover{background:var(--i_color2)}
#wpforms-456789 .wpforms-submit-container img{position:absolute;top:50%;transform:translate(0,-50%);right:4px;z-index:2}

@media screen and (max-width:1024px) {
	.c_form{width: 100%;}

}
@media screen and (max-width:768px) {
	#wpforms-456789 .wpforms-field{width: 100% !important;}
}
@media screen and (max-width:560px) {}







.c_faq{width: 50%;margin-left: auto;}

.c_faq_list {}
.c_faq_list li {
	padding-bottom: 0.26rem;
	border-bottom: 1px solid var(--border_color);
}
.c_faq_list li:not(:first-child){padding-top: 0.26rem;}
.c_faq_list .tit{cursor: pointer;}
.c_faq_list .tit h3,.c_faq_list .txt b{font-size: 0.2rem;font-weight: 900;}
.c_faq_list .txt{display: none;margin-top: 0.16rem;}


.c_media_list{display:-webkit-flex; display:flex; flex-wrap:wrap;gap: 0 .24rem;}
.c_media_list dt{-webkit-transition:all .5s ease; transition:all .5s ease;}
.c_media_list iconify-icon{font-size: 0.32rem;}
.c_media_list dt:hover{-webkit-transform:translate(0,-8px); transform:translate(0,-8px);}
.c_media_list dt:hover iconify-icon{color: var(--i_color);}

@media screen and (max-width:1024px) {
	.c_faq{width: 100%;margin: .38rem 0 0;}

	.c_faq_list .tit h3, .c_faq_list .txt b{font-size: 0.18rem;}

	.c_media_list iconify-icon{font-size: 0.26rem;}
}
@media screen and (max-width:768px) {
	.c_faq_list li{padding-bottom: 0.2rem;}
	.c_faq_list li:not(:first-child){padding-top: 0.2rem;}
	.c_faq_list .tit h3, .c_faq_list .txt b{font-size: 0.17rem;}
}
@media screen and (max-width:560px) {
	.c_faq_list .tit h3, .c_faq_list .txt b{font-size: 0.16rem;}
}







.c_map{}
.c_map{width:100%; position:relative; overflow:hidden}
.c_map::before{content:""; display:block; padding-bottom:30%}
.c_map iframe{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:100%; height:100%; object-fit:cover; -webkit-transition: all .5s ease; transition: all .5s ease}

@media screen and (max-width:1024px) {
	.c_map::before{padding-bottom: 46%;}
}
@media screen and (max-width:768px) {}
@media screen and (max-width:560px) {
	.c_map::before{padding-bottom: 58%;}
}








/* Service */
.ser_cont{}

.ser_cont dt{}
.ser_cont dd{background: #F1F1F1;}

.ser_logotit{position:absolute; left:20%; top: -.2rem; font-size: 1.4rem;color:transparent;font-weight: 900; -webkit-text-stroke:1px rgba(0,0,0,.08); transform-origin: 0 0}

.ser_cont .wrap{display:-webkit-flex; display:flex; flex-wrap:wrap;}

.ser_txt{width: 50%;box-sizing: border-box;display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;}
.ser_cont dt .ser_txt{padding-right: 4%;}
.ser_cont dd .ser_txt{padding-left: 4%;}
.ser_txt img{height: 0.7rem;}
.ser_txt p{margin: .16rem 0 .16rem; font-size: 0.26rem;color: #333;font-weight: 900;text-transform: uppercase;}
.ser_txt h6{margin: .16rem 0; font-size: 0.2rem;color: var(--i_color);font-weight: 900;}

.ser_img{width: 50%;}
.ser_img img{width: 100%;}

@media screen and (max-width:1366px) {
	.ser_txt img{height: 0.6rem;}
	.ser_txt p{font-size: 0.22rem;}
	.ser_txt h6{font-size: 0.18rem;}
}
@media screen and (max-width:1200px) {}
@media screen and (max-width:1024px) {
	.ser_logotit{display: none;}

	.ser_txt{width: 100%;margin-top: 0.4rem; padding-right: 0 !important;padding-left: 0 !important;}
	.ser_img{width: 100%;order: -1;}

	.ser_txt img{height: 0.5rem;}
	.ser_txt p{font-size: 0.2rem;}
	.ser_txt h6{font-size: 0.17rem;}
}
@media screen and (max-width:768px) {
	.ser_txt img{height: 0.46rem;}
	.ser_txt p{font-size: 0.18rem;}
}
@media screen and (max-width:560px) {
	.ser_txt{margin-top: 0.26rem;}
	.ser_txt img{height: 0.4rem;}
	.ser_txt p{font-size: 0.17rem;}
	.ser_txt h6{font-size: 0.16rem;}
}



















