/* 初始化 */
@font-face{
	font-family:'roboto';
	src:url('static/fonts/Roboto-Regular.ttf') format("truetype")		
}
html {
	scroll-behavior: smooth
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img{margin:0; padding:0}
body, button, input, select, textarea{font:normal 13px /* PingFang SC, */ Arial, system-ui, -apple-system, tahoma, Arial, sans-serif}
button, input, textarea, select{font-size:inherit; font-weight:inherit; border:0; outline:0; resize:none}
ul, ol, li{list-style:none}
fieldset, img{border:0}
h1, h2, h3, h4, h5, h6, code, dfn, em, var, i, b{font-style:normal; font-weight:normal}
a{text-decoration:none; color:#555}
input, textarea{outline-style:none}
*{box-sizing: border-box;font-family: "roboto"}
/* 表单文字 */
input::-webkit-input-placeholder{color:#AAA; font-size:13px}
input::-moz-placeholder{color:#AAA; font-size:13px}
input:-moz-placeholder{color:#AAA; font-size:13px}
input:-ms-input-placeholder{color:#AAA; font-size:13px}
/*滚动条*/
::-webkit-scrollbar{width:6px; height:8px}
::-webkit-scrollbar-thumb{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2); background:#777}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2); border-radius:0; background:#F1F1F1}
/* 复制选中 */ 
::selection{background:#338FFF; color:#FFF}
::-moz-selection{background:#338FFF; color:#FFF}
::-webkit-selection{background:#338FFF; color:#FFF}

.fl{float:left}
.fr{float:right}
.container{overflow:hidden}
.pr{position:relative;display: flex;display: -webkit-flex; align-items: center;justify-content: space-between;}
.clear{clear:both}
.wrap{width:72.5%; max-width: 1500px; margin:0 auto}
@media only screen and (max-width:959px){
	.wrap{width: 100%;}
}


:root{
	--i_color:#cc0000;  /* 全局颜色 */
	--head_height:80px;  /* PC端头部高度 */
	--head_height_reduce:60px;
	--font-color:#434343 /* 常用字体颜色*/
}
@media only screen and (max-width:800px){
	:root{--head_height:60px}   /* 移动端头部高度 */
	
}

/* -----------------公用样式----------------- */
/* in_position */
/* .in_position{padding:14px 0; border-bottom:1px solid var(--border_color); background:#FFF}
.in_position a{display:block; float:left; font-size:14px; color:#666; position:relative; line-height:20px; text-transform:uppercase}
.in_position a:first-child{padding-left:26px; background:url('./static/images/home_1_hei.svg') no-repeat left center; background-size:20px}
.in_position a:not(:last-child):after{content:">"; margin:0 4px; color:#777}
.in_position a:last-child{color:var(--i_color)!important}
.in_position a:hover{color:var(--i_color)} */

/* page */
.in_page_box{text-align:center; overflow:hidden;margin: 30px auto;}
.in_page{display:inline-blochoverk}
.in_page a{float:left; display:block; margin:0 4px; padding:0 12px; line-height:30px; font-size:14px; color:#666; border:1px solid #CCC}
.in_page a:hover, .in_page .current{border-color:var(--i_color)!important; background:var(--i_color); color:#FFF!important}

/* 按钮 */
.com_but{
	display: flex;
	justify-content: center;
	line-height: 40px;
	width: 120px;
	font-size: 16px;
	color: #fff;
	background-color: var(--i_color);
	border-radius: 8px;
	cursor: pointer;
	transition: all .3s ease;
	border: 1px solid transparent;
}
.com_but:hover{
	background-color: #fff;
	border: 1px solid var(--i_color);
	color: var(--i_color);
}
@media screen and (max-width:959px){
	.com_but{line-height: 30px;width:100px;font-size: 14px;border-radius: 10px;}
}
@media screen and (max-width:560px){
	.com_but{line-height: 20px;width:80px;font-size: 12px;border-radius: 10px;}
}




/* 头部结构 */
header{
	position:fixed;
	height: var(--head_height);
	top:0;
	left:0;
	width:100%;
	background:none;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	will-change:transform;
	-webkit-transition:-webkit-transform .5s;
	transition:-webkit-transform .5s;
	transition:transform .5s;
	transition:transform .5s, -webkit-transform .5s;
	z-index:2022;
	
}
.pr{width: 94%;margin: 0 auto;}
@media only screen and (max-width:960px){
	.pr{width: 100%;}
}
.logo{width: 11%;}
.cd-primary-nav{width: 77%;}
.top_r{width: 11%;}
/* logo */
.logo{height:var(--head_height);display: flex;align-items: center;justify-content: flex-start;}
.logo img{max-height: 60px;transition: all .3s ease;-webkit-transition: all .3s ease;}
.logo img:hover{max-height: 62px}



/* PC端导航样式 */
@media only screen and (min-width:960px){
	#cd-navigation{width: 100%; position: relative; display: flex;display: -webkit-flex; justify-content: space-between;align-items: center;}
	#cd-navigation>li{flex: 1; height: var(--head_height);text-overflow:ellipsis; white-space:nowrap;}
	#cd-navigation>li>a{
		display: flex;display: -webkit-flex; justify-content: center;align-items: center;
		width: 100%;height: 99%; 
		text-transform: uppercase; 
		font-size:16px; 
		color:#000;
		font-weight: 300;}
	#cd-navigation>li:hover a{color: #fff;border-bottom: 1px solid #fff;}
}

/* 移动端导航按钮 */
header .m_menu{display:none}
header .m_menu>img{width: 30px;}
@media only screen and (max-width:959px){
	.pr{padding: 0 10px;}
	header .m_menu{
		display:block;
		position: absolute;top: 50%;right: 10px; transform: translatey(-50%);
	}
	.m_back{display: none;}
	#cd-navigation{
		padding: 2%;
		display: none;
		position: absolute;top: var(--head_height);left: 0;width: 100vw;height: 100vh;
		background-color: #fff;
	}
	#cd-navigation>li>a{display: block; width: 100%;padding: 10px 8px;font-size: 17px;}
}

/* 移动端导航样式 */
@media only screen and (max-width:959px){
	/*滚动条*/
	#cd-navigation::-webkit-scrollbar{width:2px; height:8px}
	#cd-navigation::-webkit-scrollbar-thumb{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2); background:var(--i_color)}
	#cd-navigation::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2); border-radius:0; background:#F1F1F1}
	
}


.top_r{height:var(--head_height);display: flex;display: -webkit-flex;flex-wrap: nowrap;align-items: center;justify-content: flex-end;}

/* 搜索 */
.top_search_ico{position:relative;margin-right: 16px;}
.top_search_ico i{display:block; width:20px; height:20px; background:url("static/images/search_hei.svg") no-repeat center; background-size:contain; cursor:pointer}

.top_search{--search_height:44px}
.top_search{position:absolute; top:var(--head_height); left:0; width:100%; height:0; background:rgba(0,0,0,.4); overflow:hidden; z-index:-1}
.top_search.on{display:block!important; height:74px; margin-top: 0px;}
.top_search form{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:36%; font-size:0; overflow:hidden}
.top_search .top_search_ipt, .top_search .top_search_btn{display:inline-block; vertical-align:middle}
.top_search .top_search_ipt{width:calc(100% - var(--search_height)); height:var(--search_height); line-height:var(--search_height); box-sizing:border-box; padding-left:16px; font-size:16px; color:#555}
.top_search .top_search_btn{width:var(--search_height); height:var(--search_height); background:var(--i_color) url('static/images/search_bai.svg') no-repeat center; background-size:20px; cursor:pointer}

.top_search{-webkit-transition:all .5s ease; -moz-transition:all .5s ease; -ms-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease}
@media screen and (max-width:959px){
	.top_r{display: none;}
}

/* 语言切换 */
.top_language{position:relative;cursor:pointer;margin-right: 26px;}
.top_language>li:after{content:""; position:absolute; top:50%; margin-top:-4px; right:-14px; width:0; height:0; border-left:6px solid transparent; border-right:6px solid transparent; border-top:8px solid var(--font-color)}
.top_language.on>li:after{-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg)}
.top_language i{display:block; width:30px; height:30px; background:url("static/images/language_hei.svg") no-repeat center; background-size:contain; cursor:pointer}

.top_language .sub-menu{position:absolute; top:34px; right:-50%; display:none; min-width:100%; background:#FFF}
.top_language.on .sub-menu{display:block!important}

.top_language .sub-menu li{border-bottom:1px solid #eee}
.top_language .sub-menu a>span{display:block; padding:0 14px; min-width:110px; overflow:hidden}
.top_language .sub-menu img, .top_language .sub-menu .trp-ls-language-name{display:inline-block; vertical-align:middle}
.top_language .sub-menu .trp-ls-language-name{margin-left:8px; font-size:14px; color:#666; line-height:32px}
.top_language .sub-menu li:hover{background:rgba(0,0,0,.1)}
.top_language .sub-menu li:hover .trp-ls-language-name{color:var(--i_color)}


header,.logo .top_r,#cd-navigation>li{-webkit-transition:all .7s ease; -moz-transition:all .7s ease; -ms-transition:all .7s ease; -o-transition:all .7s ease; transition:all .7s ease}





footer{background: url(static/images/footer_bc.webp) center;background-size: 100%;}
/* 底部菜单 */
.mainfooter{display: flex;display: -webkit-flex; padding: 2% 0;}
.f_tit{margin: 2rem 0 5px;}
.f_tit a{font-size: 18px;font-weight: bold;line-height: 170%;color: #000;white-space: nowrap;text-transform: uppercase;}
.f_about .log_img{max-height: 52px;margin-top: 2rem;}
.f_about .log_img img{max-height: 52px;}
.f_about .f_media{margin-top: 4.375rem; width:80%; display:-webkit-flex; display:flex; flex-wrap:nowrap;justify-content: space-between; align-items: center;}
.f_about .f_media>li>a{display: flex; justify-content: center; align-items: center;width: 30px;height: 30px;}
.f_about .f_media>li:nth-child(3)>a img{height:45px;width: 45px;} 
.f_about .f_media img{width:100%; object-fit:cover}
.f_about .f_media li:hover{-webkit-transform:translate(0,-8px); -moz-transform:translate(0,-8px); -o-transform:translate(0,-8px); -ms-transform:translate(0,-8px); transform:translate(0,-8px)}
.f_about .f_media li{-webkit-transition:all .5s ease; -moz-transition:all .5s ease; -ms-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease}
.footer_but{width: 130px; display:block;border:1px solid #fff;border-radius: 5px; min-width: 8.125rem; color: #f9f9f9;text-align: center;background:none;padding: .5rem 0%;}
.footer_but button{background: none; color: #fff;}
.mainfooter>dt{flex: 1;}
.mainfooter>dt:nth-child(2){flex: .7;}
.f_liner{width: 45px;background-color: #000;border-bottom: 1px solid #000;margin: 10px 0 1rem 0;}
.f_nav>ul{margin-top: 20px;}
.f_nav>ul li{margin-bottom:1rem}
.f_nav>ul a{font-size:14px; color:#000; line-height:20px;text-transform: uppercase;}
.f_nav .privacy{font-size:14px; color:#000; line-height:20px;text-transform: uppercase; cursor: pointer;}
.f_nav .privacy:hover{color:var(--i_color)}
.f_nav>ul a:hover{color:var(--i_color)}
.f_contact>ul{margin-top: 20px;}
.f_contact li{margin-bottom:1rem; overflow:hidden; display:-webkit-flex; display:flex; flex-wrap:nowrap; align-items: flex-start;}
.f_contact li img{width: 25px; margin-right: 5px;}
.f_contact li span, .f_contact li a{display:inline-block; font-size:14px; color:#000; line-height:150%;overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;}
.f_contact li a:hover{color:#000}
@media screen and (max-width:959px){
	.mainfooter{display: block;}
	.f_about{margin-left: 2%; display: flex;width: 100%; align-items: center;justify-content: space-between;}
	.f_about .log_img,.f_about .f_media{margin-top: 2rem;}
	.f_about .f_media{width: 40%;}
	.mainfooter{padding: 2% 3%;}
	.f_tit {border: none;}
	.f_nav{display: none;}
	.f_contact{margin-left: 2%;}
	.f_contact li span, .f_contact li a{font-size: 16px;}
	.f_contact li img{width: 30px; margin-right: 10px;}
}
@media screen and (max-width:560px){
	.f_about .f_media>li>a{width: 15px;}
	.f_about .f_media>li:nth-child(3)>a img{width: 20px;height: 20px;}
}

/* 底部 版权*/
.copyright{text-align: center;padding: 0 5%;}
.copyright span{font-size: 14px; line-height: 200%;color: #000;text-align: center;}
.copyright span a{color: #000;}
.copyright span a:hover{color: var(--i_color);}
@media screen and (max-width:959px){
.copyright{margin-bottom: 50px;}
}
/* --------------移动端菜单栏-------------------- */
.phone_bar{display: none;}
@media screen and (max-width:959px){
	/* 移动端底部 */
	.phone_bar {width: 100%;display: flex;background-color: #fff;height: 50px;position: fixed;bottom: 0;left: 0;z-index: 9999;}
	.phone_bar a {flex: 1;display: flex;height: 100%;border: 1px solid #d3d3d3; border-top: none; justify-content: center;align-items: center;}
	.phone_bar a p {display: flex; align-items: center;}
	.phone_bar a p img {width: 23px;height: 23px;object-fit: cover;margin-right: 5px;}
	.phone_bar a p span {font-size: 0.8125rem;line-height: 100%;}
	.copyright{margin-bottom: 50px;}
}

/* ---------------- 侧边客服 --------------------- */
.aside_right{position:fixed; right:0; bottom:10%; z-index:999999}
.aside_right ul{}
.aside_right li{position:relative; cursor:pointer}
.aside_right li>a{display:block; width:48px; height:48px; background:rgba(0,0,0,.7); display:flex; justify-content:center; align-items:center; z-index:3}
.aside_right li img{display:block; margin:0 auto; width:20px; height:20px; object-fit:contain}
.aside_right li:hover>a{background:var(--i_color)}
.side_tel_box, .side_qr_box{position:absolute; box-shadow:-1px 2px 6px rgba(0,0,0,.2); display:flex; justify-content:center; align-items:center; z-index:-1}
.side_tel_box{top:0; right:-300px; width:180px; min-height:100%; background:#FFF}
.side_qr_box{top:50%; transform:translate(0,-50%); right:-180px; width:120px; height:120px; background:#FFF}
.side_tel_box h6{padding:8px 0; font-size:14px; color:#666}
.side_tel_box h6 a{line-height:20px}
.side_tel_box a:hover{color:var(--i_color)}
.side_qr_box img{width:90%; height:90%}
.aside_right li:hover .side_tel_box, .aside_right li:hover .side_qr_box{right:48px}
.side_tel_box, .side_qr_box{-webkit-transition:all .3s ease; -moz-transition:all .3s ease; -ms-transition:all .3s ease; -o-transition:all .3s ease; transition:all .3s ease}
.close{position:absolute; top:20px; right:20px; display:block; width:30px; height:30px; background:url(static/images/public/ico_cha_bai.svg) no-repeat center; background-size:contain}
.close:hover{-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg)}
.close{-webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -ms-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition:all 0.5s ease}

/* 弹出窗口 */
#aside_mask_bg{display:none; position:fixed; top:0%; left:0%; width:100%; height:100%; background:rgba(0,0,0,.6); z-index:9999999999998}
#aside_sc_from{display:none; position:fixed; top:50%; left:50%; transform:translate(-50%,-50%); width:740px; padding:60px 80px; background:rgb(0 0 0 / 70%); z-index:9999999999999; overflow:auto}
#aside_sc_from .tit{margin-bottom:40px}
#aside_sc_from .tit h1{font-size:26px; color:#FFF; font-weight:bold; line-height:30px}
/* 关闭按钮 */
.close{position:absolute; top:20px; right:20px; display:block; width:30px; height:30px; background:url(static/images/ico_cha_bai.svg) no-repeat center; background-size:contain}
.close:hover{-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg)}
.close{-webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -ms-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition:all 0.5s ease}

/* 弹出表单 */
#wpforms-166{--input_font_size:15px; --input_height:42px}
#wpforms-166{width:100%; margin:0 auto; padding:0}
#wpforms-form-130{width:100%; overflow:hidden}
#wpforms-166 input, #wpforms-166 button{margin:0; padding:0; border:none; background:none}
#wpforms-166 .wpforms-field{padding:0; margin:0}
#wpforms-166 .wpforms-error-container{line-height:16px}
#wpforms-166 .wpforms-field-container{width:100%; display:-webkit-flex; display:flex; flex-wrap:wrap; overflow:hidden}
#wpforms-166 .wpforms-submit-container{padding:0!important; width:200px; height:var(--input_height); background:var(--i_color); position:relative}
#wpforms-166 .wpforms-field-label{display:block!important}
#wpforms-166 .wpforms-field-label{font-size:0}
#wpforms-166 .wpforms-required-label{font-size:16px; color:#f00; position:absolute; top:12px; left:5px}
#wpforms-166 .wpforms-field{width:100%; margin-bottom:10px; padding-bottom:20px; background:transparent; position:relative; overflow:hidden}
#wpforms-166 .wpforms-field:nth-child(1){margin-right:20px}
#wpforms-166 .wpforms-field:nth-child(1), #wpforms-166 .wpforms-field:nth-child(2){width:calc(50% - 10px)}
#wpforms-166-field_3{background: transparent;border: none;}
#wpforms-166 input{height:var(--input_height)}
#wpforms-166 textarea{min-height:100px}
#wpforms-166 input, #wpforms-166 textarea{width:100%; max-width:100%!important; min-width:100%!important; font-size:var(--input_font_size); color:#FFF; box-sizing:border-box; border-bottom:1px solid rgba(255,255,255,.7); line-height:var(--input_height); padding:0 16px; font-weight:300}
#wpforms-166 input::-webkit-input-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}
#wpforms-166 input::-moz-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}
#wpforms-166 input::-moz-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}
#wpforms-166 input::-ms-input-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}
#wpforms-166 textarea::-webkit-input-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}
#wpforms-166 textarea::-moz-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}
#wpforms-166 textarea::-moz-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}
#wpforms-166 textarea::-ms-input-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}
#wpforms-166 #wpforms-166-field_1-error, #wpforms-166 #wpforms-166-field_2-error, #wpforms-166 #wpforms-166-field_3-error, #wpforms-166 #wpforms-166-field_4-error{position:absolute; font-size:12px}
#wpforms-166 .wpforms-submit-container button{width:100%; height:var(--input_height); font-size:16px; color:#FFF; line-height:var(--input_height); cursor:pointer; text-transform:uppercase; position:relative; z-index:2}
#wpforms-166 .wpforms-submit-container img{position:absolute; top:50%; transform:translate(0,-50%); right:4px}
#wpforms-166 .wpforms-submit-container:hover{background:var(--i_color)}
@media screen and (max-width:1200px){
	.aside_right a{width:42px; height:42px}
	.aside_right em{width:18px; height:18px}
}
@media screen and (max-width:959px){.aside_right{display:none}}



/* banner */

.banner{width:100%; overflow:hidden; position:relative}

.banner .swiper-slide{height:0; overflow:hidden; padding-bottom:100vh; position:relative}

.banner .swiper-slide>img{position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover}
.banner .swiper-slide video{position:absolute; left:0; top:0; width:100%; height:100%!important; object-fit:cover; z-index:2}


.banner .swiper-button-prev, .banner .swiper-button-next{
	position:absolute;
	top:50%;
	transform:translate(0,-50%);
	width:60px;
	height:60px;
	z-index:999;
	outline:none;
	cursor:pointer;
	-moz-user-select:none; /*火狐*/
    -webkit-user-select:none; /*webkit浏览器*/
    -ms-user-select:none; /*IE10*/
    -khtml-user-select:none; /*早期浏览器*/
    user-select:none;
	-webkit-border-radius:200px; -moz-border-radius:200px; border-radius:200px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;

	}

.banner .swiper-button-prev{left:-60px; background:rgba(0,0,0,.6) url(static/images/arrow_left_kx_bai.svg) no-repeat center; background-size:26px}

.banner .swiper-button-next{right:-60px; background:rgba(0,0,0,.6) url(static/images/arrow_right_kx_bai.svg) no-repeat center; background-size:26px}

.banner:hover .swiper-button-prev{left:4%}


.banner:hover .swiper-button-next{right:4%}
.banner .swiper-button-prev:hover, .banner .swiper-button-next:hover{background-color:var(--i_color)}

.banner .pagination-all{
	position:absolute;
	bottom:30px;
	left:50%;
	transform:translate(-50%,0);
	cursor:pointer;
	z-index:10;

}
.banner .swiper-pagination {
	position: relative;
	display: inline-block;
	text-align: left;

}
.banner .swiper-pagination-bullet {
	width: 2rem;
	height: 4px;
	border-radius: 0;
	background: rgba(255, 255, 255, 0.7);
	opacity: 1;
	margin: 0 0.2rem;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;

}
.banner .swiper-pagination-bullet-active {
	background:var(--i_color);
}


@media screen and (max-width:959px){
	.banner .swiper-button-prev, .banner .swiper-button-next{display:none!important}
}

@media screen and (max-width:767px){
	.banner .swiper-slide{padding-bottom:100%}
}
@media screen and (max-width:560px){
	

	.banner .pagination-all{bottom:26px}
	.banner .swiper-pagination-bullet{width:1.6rem}
}



/* banner上文字 */
.b_text1{position:absolute; top:38%; left:50%; transform: translate(-50%,-50%);}
.b_text1 h2{font-size: 3.6875rem; color:#fff; font-weight:bold;font-style: italic;}
.b_text1 h2>span{color: var(--i_color);}
.b_text1 h3{font-size:1.5625rem; color:#FFF; font-style: italic;margin-top: 3.125rem;line-height: 170%; }

@media screen and (max-width:959px){
	.b_text1 h2{font-size: 24px;}
	.b_text1 h3{font-size: 18px;margin-top:1.25rem ;}
}
@media screen and (max-width:560px){
	.b_text1{left: 2%;top: 22%;transform: translate(0,0);}
	.b_text1 h2{font-size: 14px;}
	.b_text1 h3{font-size: 12px;}
}

