/* ---------------------- applications ---------------------- */

.app {}

.app_cont {
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
}

.app_cont .pic {
	flex-shrink: 0;
	width: 50%;
	height: 100%;
	position: relative;
}
.app_cont .pic::before {
	content: '';
	position: absolute;
	right: 16%;
	bottom: -.5rem;
	width: 12rem;
	height: 80%;
	background: #EEE;
}
.app_cont .pic img {
	width: 100%;
	position: relative;
	-webkit-border-radius: .2rem;
	border-radius: .2rem;
}



.app_cont .txt {
	margin-left: 6%;
	width: 100%;
}
.app_cont .txt>h2 {
	margin-bottom: 0.3rem;
	font-size: 0.26rem;
	color: var(--i_color);
	font-weight: bold;
}

.app_cont article,
.app_cont article * {
	font-size: 0.16rem;
	color: #444;
	line-height: 0.26rem;
}

.app_cont article h5 {
	margin: .16rem 0 .1rem;
	font-size: 0.2rem;
	font-weight: bold;
	color: var(--i_color);
}

@media screen and (max-width:1366px) {
	.app_cont .txt>h2 {
		font-size: 0.22rem;
	}
}
@media screen and (max-width:1200px) {}
@media screen and (max-width:1024px) {
	.app_cont {
		flex-wrap: wrap;
	}
	.app_cont .pic {
		width: 100%;
	}
	.app_cont .txt {
		margin: .8rem 0 0 0;
	}

	.app_cont .txt>h2 {
		font-size: 0.2rem;
	}
}
@media screen and (max-width:768px) {
	.app_cont .pic::before {
		bottom: -0.3rem;
	}
	.app_cont .txt {
		margin: .6rem 0 0 0;
	}
	.app_cont .txt>h2 {
		font-size: 0.18rem;
	}
}
@media screen and (max-width:560px) {
	.app_cont .txt>h2 {
		font-size: 0.16rem;
		margin-bottom: 0.2rem;
	}
	.app_cont article,
	.app_cont article * {
		font-size: 0.15rem;
	}
}













.abc {}