/* ------------------ Home ------------------ */

/* banner */
.banner {
	width: 100%;
	overflow: hidden;
}
.banner .swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}
.banner .swiper-wrapper {
	display: flex;
	position: relative;
	width: 100%;
	z-index: 1
}
.banner .swiper-slide {
	height: 0;
	padding-bottom: calc(100vh - var(--head_height));
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-shrink: 0;
	position: relative;
	overflow: hidden
}
.banner .swiper-slide>img,
.banner .swiper-slide>video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover
}

.banner-button-prev,
.banner-button-next {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: .5rem;
	height: .5rem;
	background: rgb(0 0 0 / 40%);
	z-index: 999;
	outline: none;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	overflow: hidden;
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}
.banner-button-prev {
	left: -.5rem;
	-webkit-border-radius: 0 .05rem .05rem 0;
	border-radius: 0 .05rem .05rem 0;
}
.banner-button-next {
	right: -.5rem;
	-webkit-border-radius: .05rem 0 0 .05rem;
	border-radius: .05rem 0 0 .05rem;
}
.banner-button-prev i,
.banner-button-next i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.24rem;
	color: #FFF;
}

.banner:hover .banner-button-prev {
	left: 0
}
.banner:hover .banner-button-next {
	right: 0
}
.banner-button-prev:hover,
.banner-button-next:hover {
	background-color: var(--i_color)
}

.banner-pagination {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 0.4rem;
	text-align: center;
	z-index: 2;
}
.banner-pagination .swiper-pagination-bullet {
	width: .08rem;
	height: .08rem;
	display: inline-block;
	margin: 0 6px;
	background: #CCC;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
	outline: none;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.banner-pagination .swiper-pagination-bullet-active {
	width: 0.26rem;
	background: var(--i_color)
}

@media screen and (max-width:1200px) {
	.banner-button-prev,
	.banner-button-next {
		display: none;
	}
}
@media screen and (max-width:1024px) {
	.banner {
		height: auto;
	}
	.banner .swiper-slide {
		padding-bottom: 50%
	}

	.banner-button-prev,
	.banner-button-next {
		display: none
	}
}
@media screen and (max-width:768px) {
	.banner .swiper-slide {
		padding-bottom: 52%
	}
	.banner-pagination {
		bottom: 0.3rem;
	}
}
@media screen and (max-width:560px) {
	.banner-pagination {
		bottom: 0.2rem;
	}
}






.b_t {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 100%;
}

.b_t1 {
	top: 33%;
}
.b_t1 .wrap {
	box-sizing: border-box;
	padding-left: 8%;
}
.b_t1 h2 {
	position: absolute;
	top: -55%;
	font-size: 1.6rem;
	color: transparent;
	font-weight: 900;
	-webkit-text-stroke: 1px rgb(0 0 0 / 6%)
}
.b_t1 h3 {
	font-size: 0.34rem;
	color: var(--i_color);
	font-weight: bold;
	text-transform: uppercase;
}
.b_t1 h5 {
	display: table;
	margin: .1rem 0 .14rem;
	position: relative;
}
.b_t1 h5::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: .04rem;
	width: 100%;
	height: 5px;
	background: var(--i_color2);
}
.b_t1 h5 i {
	padding: 0 .04rem;
	font-size: 0.24rem;
	color: #000;
	font-weight: bold;
	position: relative;
}
.b_t1 p {
	font-size: 0.24rem;
	color: #222;
}
.b_t1 .i_more {
	margin-top: 0.4rem;
}

@media screen and (max-width:1440px) {
	.b_t1 h2 {
		top: -35%;
		font-size: 1.3rem;
	}
}
@media screen and (max-width:1366px) {
	.b_t1 .i_more {
		margin-top: 0.3rem;
	}
}
@media screen and (max-width:1024px) {
	.b_t1 h2 {
		font-size: 1rem;
	}
	.b_t1 h3 {
		font-size: 0.26rem;
	}
	.b_t1 h5 i,
	.b_t1 p {
		font-size: 0.22rem;
	}
	.b_t1 .i_more {
		margin-top: 0.2rem;
	}
}
@media screen and (max-width:768px) {
	.b_t1 .wrap {
		padding-left: 0;
	}
	.b_t1 h2 {
		display: none;
	}
	.b_t1 h3 {
		font-size: 0.22rem;
	}
	.b_t1 h5 i,
	.b_t1 p {
		font-size: 0.18rem;
	}
}
@media screen and (max-width:560px) {
	.b_t1 {
		top: 50%;
	}
	.b_t1 h3 {
		font-size: 0.17rem;
	}
	.b_t1 h5 i,
	.b_t1 p {
		font-size: 0.15rem;
	}
	.b_t1 h5 {
		margin: .06rem 0 .1rem;
	}
}








/* Products */
.i_products {}

.i_p_list {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.i_p_list li {
	width: 31%;
	background: var(--i_color);
	-webkit-border-radius: .1rem;
	border-radius: .1rem;
	overflow: hidden;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.i_p_list a {
	display: block;
	padding: .4rem .5rem;
	text-align: center;
}

.i_p_list .img {
	width: 100%;
	position: relative;
	overflow: hidden
}
.i_p_list .img::before {
	content: "";
	display: block;
	padding-bottom: 55%
}
.i_p_list .img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

.i_p_list .txt {
	margin-top: 0.28rem;
}
.i_p_list p {
	font-size: 0.24rem;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
}

.i_p_list li:hover {
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05)
}

@media screen and (max-width:1440px) {
	.i_p_list p {
		font-size: 0.22rem;
	}
}
@media screen and (max-width:1024px) {
	.i_p_list a {
		padding: 0.3rem 0.2rem;
	}
	.i_p_list .img::before {
		padding-bottom: 40%;
	}
	.i_p_list p {
		font-size: 0.18rem;
	}
}
@media screen and (max-width:768px) {
	.i_p_list p {
		font-size: 0.17rem;
	}
}
@media screen and (max-width:560px) {
	.i_p_list li {
		width: 100%;
		margin-bottom: 0.14rem;
	}
	.i_p_list a {
		padding: .14rem .3rem;
		display: -webkit-flex;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
	.i_p_list .img {
		flex-shrink: 0;
		width: 26%;
	}
	.i_p_list .img::before {
		padding-bottom: 70%;
	}
	.i_p_list .txt {
		margin: 0 0 0 0.2rem;
		text-align: left;
	}
	.i_p_list p {
		font-size: 0.15rem;
	}
}









.i_adv {}

.i_adv .i_tit h2 {
	text-align: center;
	font-size: 0.4rem;
	color: var(--i_color2);
	font-weight: bold;
	line-height: 0.54rem;
	text-transform: uppercase;
	background-image: -webkit-linear-gradient(left, var(--i_color), #1375c3 25%, #0833af 50%, #003555 75%, #1375c3);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-background-size: 200% 100%;
	-webkit-animation: maskedAnimation 6s infinite linear;
}
@keyframes maskedAnimation {
	0% {
		background-position: 100% 0;
	}
	50% {
		background-position: 0 0;
	}
	100% {
		background-position: -100% 0;
	}
}

.i_adv_cont {
	position: relative;
	background: #EEE;
	background-size: 100%;
	-webkit-border-radius: 0 0 0 .7rem;
	border-radius: 0 0 0 .7rem;
	-webkit-clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
	clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
	overflow: hidden;
}

/* .i_adv_cont::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2rem;
	background: url(../images/oblique_ellipse.webp) no-repeat top left;
	background-size: cover;
} */

.i_adv_pic {
	position: relative;
	top: 0;
	left: -20%;
	width: 52%;
	margin-bottom: -.2rem;
	box-sizing: border-box;
	border: 2px solid var(--i_color);
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.i_adv_pic::before {
	content: "";
	display: block;
	padding-bottom: 100%
}

.i_adv_pic .img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 62%;
	border: .6rem solid rgb(0 124 198 / 10%);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden
}
.i_adv_pic .img::before {
	content: "";
	display: block;
	padding-bottom: 100%
}
.i_adv_pic .img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}



.i_adv_list {
	--num_size: .54rem
}
.i_adv_list {
	position: absolute;
	top: 51%;
	transform: translate(0, -50%);
	left: 24%;
	z-index: 2;
}
.i_adv_list ul {}
.i_adv_list li {
	position: relative;
	margin: .26rem 0;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.i_adv_list li::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: var(--num_size);
	width: 3rem;
	height: 2px;
	background: var(--i_color);
}
.i_adv_list li:nth-child(2),
.i_adv_list li:nth-child(4) {
	left: 9%;
}
.i_adv_list li:nth-child(3) {
	left: 11.5%;
}
.i_adv_list .num {
	width: var(--num_size);
	height: var(--num_size);
	line-height: var(--num_size);
	box-sizing: border-box;
	background: #EEE;
	border: 1px dashed var(--i_color);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	font-size: 0.3rem;
	color: #000;
	font-weight: bold;
	flex-shrink: 0;
}
.i_adv_list .text {
	max-width: 9rem;
	margin-left: 1rem;
	box-sizing: border-box;
	padding: .14rem;
	background: #FFF;
	-webkit-border-radius: 2rem;
	border-radius: 2rem;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	box-shadow: 0 0 .18rem rgb(0 124 198 / 18%);
	position: relative;
}
.i_adv_list .ico {
	width: 1.1rem;
	height: 1.1rem;
	background: var(--i_color);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	flex-shrink: 0;
	position: relative;
}
.i_adv_list .ico img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 0.6rem;
}
.i_adv_list span {
	box-sizing: border-box;
	padding-right: 0.4rem;
	margin-left: 0.26rem;
}
.i_adv_list span h4 {
	margin-bottom: 0.08rem;
	font-size: 0.24rem;
	color: #000;
	font-weight: bold;
}
.i_adv_list span h6 {
	font-size: 0.17rem;
	color: #666;
}

.i_adv_list li:hover .num {
	background: var(--i_color);
	color: #FFF;
}
.i_adv_list li:hover .ico img {
	animation: jump .4s linear 0s 1 alternate;
}
.i_adv_list li:hover h4 {
	color: var(--i_color);
}
@keyframes jump {
	0% {
		top: 50%;
	}
	50% {
		top: 45%;
	}
	100% {
		top: 50%;
	}
}

@media screen and (max-width:1440px) {
	.i_adv .i_tit h2 {
		font-size: 0.38rem;
		line-height: 0.44rem;
	}

	.i_adv_list {
		--num_size: .44rem
	}
	.i_adv_list {
		left: 23%;
	}
	.i_adv_list li:nth-child(2),
	.i_adv_list li:nth-child(4) {
		left: 7.6%;
	}
	.i_adv_list li:nth-child(3) {
		left: 9.8%;
	}

	.i_adv_list .num {
		font-size: 0.24rem;
	}
	.i_adv_list .ico {
		width: 0.8rem;
		height: 0.8rem;
	}
	.i_adv_list .ico img {
		height: 0.44rem;
	}
	.i_adv_list .text {
		max-width: 70%;
	}
	.i_adv_list span h4 {
		font-size: 0.2rem;
	}
	.i_adv_list span h6 {
		font-size: 0.16rem;
	}
}
@media screen and (max-width:1366px) {
	.i_adv .i_tit h2 {
		font-size: 0.34rem;
		line-height: 0.44rem;
	}

	.i_adv_pic {
		width: 58%;
	}
	.i_adv_list {
		left: 29%;
	}
	.i_adv_list li:nth-child(2),
	.i_adv_list li:nth-child(4) {
		left: 8%;
	}
	.i_adv_list li:nth-child(3) {
		left: 10.5%;
	}

	.i_adv_list .ico {
		width: 0.7rem;
		height: 0.7rem;
	}
	.i_adv_list .ico img {
		height: 0.4rem;
	}
	.i_adv_list .text {
		max-width: 66%;
	}
	.i_adv_list span h4 {
		font-size: 0.18rem;
	}
	.i_adv_list span h6 {
		font-size: 0.15rem;
	}
}
@media screen and (max-width:1200px) {
	.i_adv .i_tit h2 {
		font-size: 0.26rem;
		line-height: 0.34rem;
	}

	.i_adv_pic {
		width: 64%;
	}
	.i_adv_list {
		left: 34%;
	}
	.i_adv_list li:nth-child(2),
	.i_adv_list li:nth-child(4) {
		left: 10%;
	}
	.i_adv_list li:nth-child(3) {
		left: 12.5%;
	}

	.i_adv_list .ico {
		width: 0.6rem;
		height: 0.6rem;
	}
	.i_adv_list .ico img {
		height: 0.36rem;
	}
	.i_adv_list .text {
		max-width: 70%;
		margin-left: 0.6rem;
	}
	.i_adv_list span h4 {
		font-size: 0.17rem;
	}
	.i_adv_list span h6 {
		font-size: 0.14rem;
	}
}
@media screen and (max-width:1024px) {
	.i_adv_cont {
		padding-top: .6rem;
		padding-bottom: 0.3rem;
	}
	.i_adv_pic {
		display: none;
		width: 50%;
		left: 0;
		top: 0;
	}
	.i_adv_list {
		width: 100%;
		position: initial;
		transform: none;
	}
	.i_adv_list ul {
		box-sizing: border-box;
		padding: 0 3%;
	}
	.i_adv_list li {
		left: 0 !important;
		margin: .18rem 0;
	}
	.i_adv_list .text {
		max-width: 100%;
	}
	.i_adv_list span {
		padding-right: 0.2rem;
	}
	.i_adv_list span h4 {
		font-size: 0.16rem;
	}
}
@media screen and (max-width:768px) {
	.i_adv .i_tit h2 {
		font-size: 0.22rem;
		line-height: 0.3rem;
	}
}
@media screen and (max-width:560px) {
	.i_adv .i_tit h2 {
		font-size: 0.18rem;
		line-height: 0.24rem;
	}

	.i_adv_cont {
		padding-top: 0.4rem;
		-webkit-clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0% 100%);
		clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0% 100%);
	}
	.i_adv_list li::before,
	.i_adv_list .num {
		display: none;
	}
	.i_adv_list .text {
		flex-wrap: wrap;
		padding: .2rem;
		margin: 0 0;
		-webkit-border-radius: .2rem;
		border-radius: .2rem;
	}
	.i_adv_list .ico {
		width: 0.44rem;
		height: 0.44rem;
	}
	.i_adv_list .ico img {
		height: 0.3rem;
	}
	.i_adv_list span {
		margin: .14rem 0 0;
		padding: 0 0;
	}
}








.i_n_list {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.i_n_list li {
	width: 30%;
	margin: 0 5% 0 0;
}
.i_n_list li:nth-child(3n) {
	margin-right: 0;
}

.i_n_list .img {
	width: 100%;
	position: relative;
	box-sizing: border-box;
	border: 1px solid var(--border_color);
	-webkit-border-radius: .3rem;
	border-radius: .3rem;
	overflow: hidden
}
.i_n_list .img::before {
	content: "";
	display: block;
	padding-bottom: 64%
}
.i_n_list .img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

.i_n_list .txt {
	margin-top: 0.16rem;
}
.i_n_list .txt b {
	font-size: 0.18rem;
	color: #999;
}
.i_n_list .txt p {
	margin: .1rem 0 .16rem;
	font-size: 0.22rem;
	color: #000;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.i_n_list .txt span {
	display: table;
	width: 0.5rem;
	height: 0.5rem;
	background: var(--i_color);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: relative;
}
.i_n_list .txt span i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.22rem;
	color: #FFF;
}

.i_n_list li:hover img {
	width: 110%;
	height: 110%;
}
.i_n_list li:hover p {
	color: var(--i_color);
}

@media screen and (max-width:1440px) {
	.i_n_list .txt p {
		font-size: 0.2rem;
	}
}
@media screen and (max-width:1366px) {
	.i_n_list .txt span {
		width: 0.4rem;
		height: 0.4rem;
	}
	.i_n_list .txt span i {
		font-size: 0.18rem;
	}
}
@media screen and (max-width:1024px) {
	.i_n_list li {
		width: 31.66%;
		margin: 0 2.5% 0 0;
	}
	.i_n_list .img {
		-webkit-border-radius: .2rem;
		border-radius: .2rem;
	}
	.i_n_list .txt b {
		font-size: 0.16rem;
	}
	.i_n_list .txt p {
		font-size: 0.17rem;
		-webkit-line-clamp: 2;
	}
	.i_n_list .txt span {
		display: none;
	}
}
@media screen and (max-width:768px) {
	.i_n_list li {
		width: 100%;
		margin: 0 0 .2rem;
	}
}
@media screen and (max-width:560px) {
	.i_n_list .txt b {
		font-size: 0.15rem;
	}
	.i_n_list .txt p {
		font-size: 0.16rem;
	}
}






.ew_list {
	position: relative;
	overflow: hidden
}
.ew_list .swiper-wrapper {
	display: -webkit-flex;
	display: flex;
	position: relative;
	width: 100%
}
.ew_list .swiper-slide {
	flex-shrink: 0;
	position: relative;
	cursor: pointer;
	-webkit-border-radius: .2rem;
	border-radius: .2rem;
	overflow: hidden;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

.ew_list .click_img {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}
.ew_list .click_img img {
	width: 100%;
	height: 100%;
}

.ew_list .img {
	width: 100%;
	position: relative;
	overflow: hidden
}
.ew_list .img::before {
	content: "";
	display: block;
	padding-bottom: 56%
}
.ew_list .img img {
	opacity: .3;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

.ew_list .swiper-slide-active .img img {
	opacity: 1;
}

.ew_list .txt {
	opacity: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: .12rem 0;
	text-align: center;
	background: rgb(0 0 0 / 30%);
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.ew_list .txt p {
	padding: 0 .2rem;
	text-align: center;
	font-size: 0.18rem;
	color: #FFF;
	position: relative;
}

.ew_list .swiper-slide-active .txt {
	opacity: 1;
}
.ew_list .swiper-slide-active:hover img {
	width: 110%;
	height: 110%;
}
.ew_list .swiper-slide:hover .txt {
	background: var(--i_color);
}


.ew-prev,
.ew-next {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: .5rem;
	height: .5rem;
	background: var(--i_color);
	z-index: 3;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	user-select: none
}
.ew-prev {
	left: 21.4%;
}
.ew-next {
	right: 21.2%;
}
.ew-prev i,
.ew-next i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.22rem;
	color: #FFF;
}
.ew_list .swiper-button-disabled {
	cursor: not-allowed
}
.ew-prev:hover,
.ew-next:hover {
	background: var(--i_color2);
}

.ew-pagination {
	display: none;
	margin-top: 0.3rem;
	text-align: center
}
.ew-pagination .swiper-pagination-bullet {
	width: .08rem;
	height: .08rem;
	display: inline-block;
	margin: 0 6px;
	background: #CCC;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}
.ew-pagination .swiper-pagination-bullet-active {
	background: var(--i_color)
}

@media screen and (max-width:1024px) {
	.ew_list .txt p {
		font-size: 0.17rem;
	}

	.ew-prev,
	.ew-next {
		display: none;
	}
	.ew-pagination {
		display: block;
	}
}
@media screen and (max-width:768px) {
	.ew_list {
		width: 96%;
		margin: 0 auto;
	}
	.ew_list .img img {
		opacity: 1 !important;
	}
	.ew_list .txt p {
		font-size: 0.16rem;
	}
}
@media screen and (max-width:560px) {
	.ew_list .txt p {
		font-size: 0.15rem;
	}

	.ew-pagination {
		margin-top: 0.2rem;
	}
	.ew-pagination .swiper-pagination-bullet {
		margin: 0 4px;
		width: 0.06rem;
		height: 0.06rem;
	}
}