/* ---------------------- Products ---------------------- */

.in_products {}

.p_nav {
	box-sizing: border-box;
	padding: 0 3%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.p_nav1_list {
	margin-bottom: 0.4rem;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	background: #EEE;
	-webkit-border-radius: .2rem;
	border-radius: .2rem;
}

.p_nav1_list li {
	text-align: center;
}
.p_nav1_list li:not(:last-child) {
	margin-right: 0.2rem;
}
.p_nav1_list a {
	display: block;
	padding: .2rem .3rem;
	font-size: 0.2rem;
	color: #222;
	font-weight: bold;
	-webkit-border-radius: .2rem;
	border-radius: .2rem;
}
.p_nav1_list .curr a {
	background: var(--i_color);
	color: #FFF !important;
}
.p_nav1_list li:hover a {
	color: var(--i_color);
}


.p_nav2_list {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.p_nav2_list li {
	margin: .1rem .14rem;
}
.p_nav2_list a {
	display: block;
	padding: .14rem .2rem;
	font-size: 0.16rem;
	color: #666;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
	box-sizing: border-box;
	border: 1px solid var(--border_color);
}
.p_nav2_list .curr a {
	background: var(--i_color);
	border-color: var(--i_color);
	color: #FFF !important;
}
.p_nav2_list a:hover {
	color: var(--i_color);
}

.p_nav2 {
	display: none;
}

@media screen and (max-width:1440px) {}
@media screen and (max-width:1366px) {}
@media screen and (max-width:1200px) {}
@media screen and (max-width:1024px) {
	.p_nav {
		margin-bottom: 0;
	}

	.p_nav1_list {
		margin-bottom: 0.3rem;
	}
	.p_nav1_list li:not(:last-child) {
		margin-right: 0.1rem;
	}
	.p_nav1_list a {
		padding: 0.16rem 0.16rem;
		font-size: 0.16rem;
	}

	.p_nav2_list {}
	.p_nav2_list li {
		margin: .06rem .08rem;
	}
	.p_nav2_list a {
		padding: .12rem .14rem;
		font-size: 0.15rem;
	}
}
@media screen and (max-width:768px) {
	.in_products .i_tit,
	.p_nav {
		display: none !important;
	}

	.p_nav2 {
		display: block;
		margin-bottom: 0.4rem;
		box-sizing: border-box;
		width: 100%;
		padding: 0 3%;
	}
	.p_nav_tit {
		padding: .12rem .2rem;
		font-size: 0.17rem;
		color: #FFF;
		background: var(--i_color);
		font-weight: bold;
		text-transform: uppercase;
		position: relative;
	}
	.p_nav_tit::before {
		content: '';
		position: absolute;
		top: calc(50% - 1px);
		right: .2rem;
		width: 16px;
		height: 2px;
		background: #fff;
	}
	.p_nav_tit::after {
		content: '';
		position: absolute;
		right: calc(.2rem + 7px);
		top: 50%;
		transform: translate(0, -50%);
		width: 2px;
		height: 16px;
		background: #FFF;
		-webkit-transition: all .5s ease;
		transition: all .5s ease
	}
	.p_nav_tit.on::after {
		height: 0;
	}

	.p_nav_list {
		display: none;
		margin: .2rem auto;
		padding: 0 .2rem;
	}
	.p_nav_list li {}
	.p_nav_list li:not(:last-child) {
		padding-bottom: 0.14rem;
		margin-bottom: 0.14rem;
		border-bottom: 1px solid #DDD;
	}

	.p_nav_list .cat_name {
		display: -webkit-flex;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
	.p_nav_list .cat_name b {
		font-size: 0.16rem;
		font-weight: bold;
		color: var(--i_color3);
	}
	.p_nav_list .cat_name i {
		margin-left: auto;
		font-size: 0.22rem;
		color: var(--i_color3);
		flex-shrink: 0;
	}
	.p_nav_list .cat_name i::before {
		content: '\f107';
	}
	.p_nav_list .curr .cat_name b {
		color: var(--i_color);
	}
	.p_nav_list .curr .cat_name i::before {
		content: '\f106';
	}

	.p_nav_list dl {
		display: none;
	}
	.p_nav_list .curr dl {
		display: block;
	}
	.p_nav_list dt {
		margin: .16rem 0;
		position: relative;
	}
	.p_nav_list dt a {
		display: block;
		font-size: 0.15rem;
		color: #666;
	}
	.p_nav_list dt:hover a,
	.p_nav_list dt.on a {
		color: var(--i_color);
	}

}
@media screen and (max-width:560px) {
	.p_nav2 {
		margin-bottom: 0.3rem;
	}
}








.p_list {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.p_list li {
	width: 23.125%;
	margin: .4rem 2.5% .1rem 0;
	position: relative;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.p_list li:nth-child(4n) {
	margin-right: 0;
}

.p_list .img {
	width: 100%;
	position: relative;
	-webkit-border-radius: .24rem;
	border-radius: .24rem;
	box-sizing: border-box;
	border: 1px solid var(--border_color);
	overflow: hidden
}
.p_list .img::before {
	content: "";
	display: block;
	padding-bottom: 100%
}
.p_list .img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

.p_list .txt {
	margin-top: 0.14rem;
	text-align: center;
}
.p_list p {
	font-size: 0.16rem;
	color: #222;
	font-weight: bold;
}

.p_list li:hover {
	-webkit-transform: translate(0, -8px);
	transform: translate(0, -8px)
}
.p_list li:hover img {
	width: 110%;
	height: 110%;
}
.p_list li:hover p {
	color: var(--i_color);
}

@media screen and (max-width:1024px) {
	.p_list p {
		font-size: 0.15rem;
	}
}
@media screen and (max-width:768px) {
	.p_list li {
		width: 48%;
		margin: 0 4% .3rem 0;
	}
	.p_list li:nth-child(2n) {
		margin-right: 0;
	}
	.p_list p {
		font-weight: normal;
	}
}
@media screen and (max-width:560px) {
	.p_list .img {
		-webkit-border-radius: .15rem;
		border-radius: .15rem;
	}
}








.p_det_box {}
.p_det {
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
}


.p_atlas {
	flex-shrink: 0;
	width: 32%;
	height: 100%;
}
.atlas_list {
	position: relative;
	-webkit-border-radius: .3rem;
	border-radius: .3rem;
	overflow: hidden
}
.atlas_list .swiper-wrapper {
	display: -webkit-flex;
	display: flex;
	position: relative;
	width: 100%
}
.atlas_list .swiper-slide {
	flex-shrink: 0;
	position: relative;
	box-sizing: border-box;
	border: 1px solid var(--border_color);
	-webkit-border-radius: .3rem;
	border-radius: .3rem;
	overflow: hidden
}
.atlas_list .swiper-slide::before {
	content: "";
	display: block;
	padding-bottom: 100%
}
.atlas_list .swiper-slide img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

.atlas-prev,
.atlas-next {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: .4rem;
	height: .4rem;
	background: rgb(0 0 0 / 40%);
	z-index: 3;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.atlas-prev {
	left: -.5rem;
}
.atlas-next {
	right: -.5rem;
}
.atlas-prev i,
.atlas-next i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.34rem;
	color: #FFF;
}
.atlas_list .swiper-button-disabled {
	cursor: not-allowed
}
.atlas-prev:hover,
.atlas-next:hover {
	background: var(--i_color);
}
.atlas_list:hover .atlas-prev {
	left: 1px;
}
.atlas_list:hover .atlas-next {
	right: 1px;
}

.atlas-pagination {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: -.3rem;
	margin-top: 0.3rem;
	text-align: center
}
.atlas-pagination .swiper-pagination-bullet {
	width: .08rem;
	height: .08rem;
	display: inline-block;
	margin: 0 6px;
	background: #CCC;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}
.atlas-pagination .swiper-pagination-bullet-active {
	background: var(--i_color)
}







.p_info {
	margin-left: 5%;
	margin-top: 0.4rem;
}

h1.p_name {
	font-size: 0.24rem;
	color: #151515;
	font-weight: bold;
}
.p_info>h5 {
	margin: .16rem 0 .2rem;
	padding-bottom: 0.1rem;
	border-bottom: 1px solid var(--border_color);
	font-size: 0.18rem;
	color: #333;
}
.p_ms>h5 {
	margin-bottom: 0.16rem;
	font-size: 0.18rem;
	color: var(--i_color);
	font-weight: bold;
}
.p_ms article {
	font-size: 0.16rem;
	color: #444;
	line-height: 0.22rem;
}

@media screen and (max-width:1440px) {}
@media screen and (max-width:1366px) {}
@media screen and (max-width:1200px) {}
@media screen and (max-width:1024px) {
	.p_atlas {
		width: 42%;
	}

	.p_info {
		margin-top: 0;
	}
	h1.p_name {
		font-size: 0.2rem;
	}
	.p_info>h5 {
		font-size: 0.16rem;
	}
	.p_ms article {
		font-size: 0.15rem;
	}
}
@media screen and (max-width:768px) {
	.p_det {
		flex-wrap: wrap;
	}
	.p_atlas {
		width: 100%;
	}
	.p_info {
		width: 100%;
		margin: .46rem 0 0 0;
	}

	.atlas-pagination {
		position: relative;
		bottom: initial;
	}
}
@media screen and (max-width:560px) {
	h1.p_name {
		font-size: 0.18rem;
	}
}







.p_article {
	margin: 1.1rem 0 1rem;
}

.p_article .wp-block-getwid-tabs {
	width: 100%;
}
.p_article .wp-block-getwid-tabs__nav-links {
	margin-bottom: 0.4rem;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #CCC;
}
.p_article .wp-block-getwid-tabs__nav-links li {
	margin: 0 .4rem 0 0;
}
.p_article .wp-block-getwid-tabs__title {
	display: block;
	padding-bottom: 0.14rem;
	font-size: 0.2rem;
	color: #333;
	position: relative;
}
.p_article .wp-block-getwid-tabs__title::before {
	content: '';
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 0;
	width: 0;
	height: 3px;
	-webkit-border-radius: .5rem;
	border-radius: .5rem;
	background: var(--i_color);
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.p_article .ui-tabs-active .wp-block-getwid-tabs__title {
	color: var(--i_color);
}
.p_article .ui-tabs-active .wp-block-getwid-tabs__title::before {
	width: 100%;
}





.p_from2 {}

#wpforms-456 {
	--input_font_size: 15px;
	--input_height: .6rem
}
#wpforms-form-456 {
	width: 100%;
	position: relative;
	overflow: hidden
}

#wpforms-456 input,
#wpforms-456 button {
	margin: 0;
	padding: 0;
	border: none;
	background: none
}
#wpforms-456 .wpforms-field {
	padding: 0;
	margin: 0
}
#wpforms-456 .wpforms-field-label {
	font-size: 0;
}
#wpforms-456 .wpforms-required-label {
	position: absolute;
	top: .1rem;
	left: .05rem;
	font-size: .16rem;
	color: #F00
}
#wpforms-456 .wpforms-field {
	width: 100%;
	background: transparent;
	margin-bottom: 0.1rem;
	padding-bottom: .2rem;
	position: relative;
	overflow: hidden
}

#wpforms-456 .wpforms-field-container input,
#wpforms-456 textarea {
	width: 100%;
	max-width: 100% !important;
	min-width: 100%;
	font-size: var(--input_font_size);
	color: #333;
	height: var(--input_height);
	box-sizing: border-box;
	background: #EEE;
	padding: 0 .16rem;
	overflow: hidden;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
#wpforms-456 .wpforms-field-container input:hover,
#wpforms-456 textarea:hover {
	border-color: var(--i_color);
}
#wpforms-456 input {
	line-height: var(--input_height);
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
}
#wpforms-456 textarea {
	line-height: .22rem;
	min-height: 1rem;
	padding: .06rem .16rem;
	-webkit-border-radius: .3rem;
	border-radius: .3rem;
}

#wpforms-456-field_1-container,
#wpforms-456-field_3-container {
	width: 48% !important;
}

#wpforms-456 input::-webkit-input-placeholder,
#wpforms-456 textarea::-webkit-input-placeholder {
	color: rgb(0 0 0 / 40%);
	font-size: var(--input_font_size)
}
#wpforms-456 input::-moz-placeholder,
#wpforms-456 textarea::-moz-placeholder {
	color: rgb(0 0 0 / 40%);
	font-size: var(--input_font_size)
}
#wpforms-456 input::-ms-input-placeholder,
#wpforms-456 textarea::-ms-input-placeholder {
	color: rgb(0 0 0 / 40%);
	font-size: var(--input_font_size)
}

#wpforms-456-field_1-error,
#wpforms-456-field_2-error,
#wpforms-456-field_3-error,
#wpforms-456-field_4-error,
#wpforms-456-field_5-error,
#wpforms-456-field_6-error {
	position: absolute;
	font-size: 12px;
	color: #A90909;
}

#wpforms-456 .wpforms-field-container {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden
}
#wpforms-456 .wpforms-submit-container {
	width: 1.9rem;
	margin: 0 auto;
	text-align: center;
	padding: 0;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
	overflow: hidden;
	position: relative;
}
#wpforms-456 .wpforms-submit-container button {
	width: 100%;
	height: .46rem;
	font-size: .18rem;
	color: #FFF;
	line-height: .46rem;
	background: var(--i_color);
	cursor: pointer;
	position: relative;
	z-index: 2
}
#wpforms-456 .wpforms-submit-container button:hover {
	background: var(--i_color2)
}
#wpforms-456 .wpforms-submit-container img {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 4px;
	z-index: 2
}

@media screen and (max-width:1440px) {}
@media screen and (max-width:1366px) {}
@media screen and (max-width:1200px) {}
@media screen and (max-width:1024px) {
	#wpforms-456 {
		--input_font_size: 15px;
		--input_height: .5rem
	}
	#wpforms-456 .wpforms-field {
		margin-bottom: 0;
	}
	#wpforms-456 .wpforms-submit-container button {
		font-size: 0.15rem;
	}
}
@media screen and (max-width:768px) {}
@media screen and (max-width:560px) {
	#wpforms-456 {
		--input_font_size: 14px;
		--input_height: .4rem
	}
	#wpforms-456 .wpforms-field {
		width: 100% !important;
	}
	#wpforms-456 .wpforms-submit-container {
		width: 1.7rem;
	}
	#wpforms-456 .wpforms-submit-container button {
		height: 0.42rem;
		line-height: 0.42rem;
	}
}






.p_related {}

.rp_list {
	position: relative;
	overflow: hidden
}
.rp_list .swiper-wrapper {
	display: -webkit-flex;
	display: flex;
	position: relative;
	width: 100%
}
.rp_list .swiper-slide {
	flex-shrink: 0;
	position: relative
}
.rp_list .img {
	width: 100%;
	position: relative;
	-webkit-border-radius: .3rem;
	border-radius: .3rem;
	box-sizing: border-box;
	border: 1px solid var(--border_color);
	overflow: hidden
}
.rp_list .img::before {
	content: "";
	display: block;
	padding-bottom: 100%
}
.rp_list .img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.rp_list p {
	margin-top: 0.2rem;
	text-align: center;
	font-size: 0.18rem;
	color: #141414;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.rp_list .swiper-slide:hover img {
	width: 110%;
	height: 110%;
}
.rp_list .swiper-slide:hover p {
	color: var(--i_color);
}

.rp-pagination {
	display: block;
	margin-top: 0.5rem;
	width: 100%;
	height: 3px;
	position: relative;
}
.rp-pagination::before {
	content: '';
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #CCC;
}
.rp-pagination .swiper-pagination-progressbar-fill {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: var(--i_color);
	transform: scale(0);
	transform-origin: left top
}

@media screen and (max-width:1024px) {
	.rp_list p {
		font-size: 0.16rem;
	}
	.rp-pagination {
		margin-top: 0.4rem;
	}
}
@media screen and (max-width:768px) {}
@media screen and (max-width:560px) {
	.rp-pagination {
		margin-top: 0.3rem;
	}
}





.p_ra {
	position: relative;
	-webkit-border-radius: .3rem;
	border-radius: .3rem;
	overflow: hidden;
}
.p_ra>img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.p_ra span {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: .6rem;
	position: relative;
}
.p_ra span h2 {
	font-size: 0.3rem;
	color: #222;
	font-weight: bold;
	text-transform: uppercase;
}
.p_ra .more {
	padding: .14rem .5rem;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: var(--i_color);
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
}
.p_ra .more b {
	font-size: 0.2rem;
	color: #FFF;
}
.p_ra .more i {
	display: block;
	position: relative;
	margin-left: 0.06rem;
	width: 0.24rem;
	height: 0.16rem;
	background: url(../images/p_ra_more_ico.png) no-repeat center;
	background-size: contain;
	animation: move_lr 1s linear 0s infinite alternate;
}
@keyframes move_lr {
	0% {
		left: 0;
	}
	50% {
		left: 10px;
	}
	100% {
		left: 0;
	}
}


.abc {}