/* -------------------- Services -------------------- */

.services {}


.ser_pagelist {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.ser_pagelist .ser_pageitem {
	position: relative;
}
.ser_pagelist dt {
	width: 48%;
}
.ser_pagelist dd {
	margin-top: 0.7rem;
	width: 100%;
}

.ser_pagelist .ser_pageitem>h5 {
	margin-bottom: 0.3rem;
	font-size: 0.22rem;
	color: #222;
	font-weight: bold;
}

.ser_pagelist .ser_pageitem::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70%;
	background: #F1F1F1;
}

.ser_pagelist .img {
	width: 100%;
	position: relative;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	overflow: hidden
}
.ser_pagelist .img::before {
	content: "";
	display: block;
}
.ser_pagelist dt .img::before {
	padding-bottom: 58%
}
.ser_pagelist dd .img::before {
	padding-bottom: 24%
}

.ser_pagelist .img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

.ser_pagelist .txt {
	padding: .3rem .3rem;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	position: relative;
}
.ser_pagelist .txt::before,
.ser_pagelist .txt::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
}
.ser_pagelist .txt::before {
	width: 100%;
	background: #D4D4D4;
}
.ser_pagelist .txt::after {
	width: 0;
	background: var(--i_color);
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

.ser_pagelist .txt p {
	margin-right: 0.3rem;
	font-size: 0.2rem;
	color: #222;
	font-weight: bold;
}
.ser_pagelist .txt i {
	flex-shrink: 0;
	margin-left: auto;
	width: 0.4rem;
	height: 0.4rem;
	background: var(--i_color);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: relative;
	font-size: 0.2rem;
	color: #FFF;
}
.ser_pagelist .txt i::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ser_pagelist .ser_pageitem:hover .img {
	-webkit-border-radius: .3rem;
	border-radius: .3rem;
}
.ser_pagelist .ser_pageitem:hover .img img {
	width: 110%;
	height: 110%;
}
.ser_pagelist .ser_pageitem:hover .txt::after {
	width: 100%;
}
.ser_pagelist .ser_pageitem:hover p {
	color: var(--i_color);
}

@media screen and (max-width:1024px) {
	.ser_pagelist .txt {
		padding: .2rem .2rem;
	}
	.ser_pagelist .txt p {
		font-size: 0.18rem;
	}
	.ser_pagelist .txt i {
		width: 0.34rem;
		height: 0.34rem;
		font-size: 0.18rem;
	}
	.ser_pagelist .ser_pageitem>h5 {
		font-size: 0.2rem;
	}
}
@media screen and (max-width:768px) {}
@media screen and (max-width:560px) {
	.ser_pagelist dt {
		margin-bottom: 0.3rem;
		width: 100%;
	}
	.ser_pagelist .txt {
		padding: .14rem .2rem;
	}
	.ser_pagelist .txt p {
		font-size: 0.17rem;
	}
	.ser_pagelist .txt i {
		width: 0.3rem;
		height: 0.3rem;
		font-size: 0.16rem;
	}
	.ser_pagelist dd {
		margin-top: 0;
		margin-bottom: 0.2rem;
	}
	.ser_pagelist .ser_pageitem>h5 {
		font-size: 0.18rem;
	}
}





















































.abc {}