@charset "utf-8";

.topnav{position: relative;width: 100%;background: #FFF; overflow: hidden;}
.topnav::before{content: '';position: absolute;left: 0;bottom: 0;width: 100%;height: 1px;background: var(--border_color);}
.topnav.navFix{position: fixed;left: 0;top: var(--header_height);z-index: 98;}

.topnav_tit{display: none;}

.topnav ul{display:-webkit-flex; display:flex; flex-wrap:wrap;justify-content: center;}
.topnav ul{display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;gap: 0 .6rem; margin-left: auto;}
.topnav li{position: relative;}
.topnav li::before{content: ''; position:absolute; left:50%; transform:translate(-50%,0);bottom: 0;width: 0;height: 2px;background: var(--i_color);-webkit-transition:all .5s ease; transition:all .5s ease;}
.topnav li.curr::before{width: 100%;}
.topnav li a{display: block;padding: .2rem 0; font-size: 0.16rem;}
.topnav li:hover a,.topnav li.curr a{color: var(--i_color);}

@media screen and (max-width:1440px) {}
@media screen and (max-width:1366px) {}
@media screen and (max-width:1200px) {}
@media screen and (max-width:1024px) {
	.topnav_tit{display: block;background: var(--i_color);height: 0.5rem; padding: 0 3vw;display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;}
	.topnav_tit p{font-size: 0.18rem;font-weight: bold;color: #FFF;}
	.topnav_tit iconify-icon{margin-left: auto; font-size: 0.28rem;color: #FFF;position: relative;right: -5px;-webkit-transition:all .5s ease; transition:all .5s ease;}
	.topnav_tit.on iconify-icon{-webkit-transform:rotate(-180deg); transform:rotate(-180deg);}

	.topnav ul{display: none;padding: 0 3vw .1rem;background: #FFF;}
	.topnav li::before{height: 1px;}
	.topnav li a{padding: .14rem 0;}
}
@media screen and (max-width:768px) {}
@media screen and (max-width:560px) {
	.topnav_tit iconify-icon{font-size: 0.24rem;}
	.topnav li a{padding: .1rem 0;font-size: 0.15rem;}
}







.sp_tabnav{
	margin-bottom: 0.4rem;
	display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;position: relative;
}
.sp_tabnav::before{content: '';position: absolute;left: 0;bottom: 0;width: 100%;height: 1px;background:#CCC;}
.sp_tabnav>h2{font-size: 0.4rem;font-weight: bold;position: relative;top: -.06rem;}
.sp_tabnav ul{
	margin-left: auto;
	display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;
	gap: 0 .4rem;
}
.sp_tabnav li{position: relative;}
.sp_tabnav li::before{content: '';position: absolute;left: 0;bottom: 0;width: 0;height: 2px;background: var(--i_color);}
.sp_tabnav li.curr::before{width: 100%;}
.sp_tabnav li a{display: block;padding: .18rem 0; font-size: 0.18rem;color: #333; font-weight: bold;cursor: pointer;}
.sp_tabnav li:hover a,.sp_tabnav li.curr a{color: var(--i_color);}

@media screen and (max-width:1440px) {
	.sp_tabnav>h2{font-size: 0.36rem;}
}
@media screen and (max-width:1366px) {}
@media screen and (max-width:1200px) {
	.sp_tabnav>h2{font-size: 0.34rem;}
}
@media screen and (max-width:1024px) {
	.sp_tabnav{margin-bottom: 0.3rem;}
	.sp_tabnav::before{display: none;}
	.sp_tabnav>h2{font-size: 0.26rem;top: 0;}
	.sp_tabnav ul{margin: .2rem 0 0 0; width: 100%; gap: .1rem .3rem;}
	.sp_tabnav li a{padding: .1rem 0;font-size: 0.17rem;}
}
@media screen and (max-width:768px) {
	.sp_tabnav>h2{font-size: 0.24rem;}
	.sp_tabnav li::before{height: 1px;}
	.sp_tabnav li a{padding: .04rem 0;font-size: 0.16rem;}
}
@media screen and (max-width:560px) {
	.sp_tabnav>h2{font-size: 0.2rem;}
	/* .sp_tabnav li a{font-size: 0.15rem;} */
}