@font-face {
  font-family: "iconfont"; /* Project id 3803130 */
  src: url('../font/iconfont.woff2?t=1669882691110') format('woff2'),
       url('../font/iconfont.woff?t=1669882691110') format('woff'),
       url('../font/static/font/iconfont.ttf?t=1669882691110') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-outBound-hujiao:before {
  content: "\e625";
}

.icon-dianhua:before {
  content: "\e61f";
}

.icon-youxiang1:before {
  content: "\e672";
}

.icon-dizhi:before {
  content: "\e6ea";
}

.icon-xinxifill:before {
  content: "\e762";
}

.icon-jiantou-copy-copy:before {
  content: "\e668";
}

.icon-jinrujiantouxiao:before {
  content: "\e8d4";
}

.icon-cuocha_kuai:before {
  content: "\ed1e";
}

.icon-double-left:before {
  content: "\e614";
}

