@font-face {
  font-family: "iconfont"; /* Project id 3783374 */
  src: url('../font/iconfont.woff2?t=1669012646876') format('woff2'),
       url('../font/iconfont.woff?t=1669012646876') format('woff'),
       url('../font/iconfont.ttf?t=1669012646876') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouhuodizhi:before {
  content: "\e64e";
}

.icon-dianhua:before {
  content: "\e633";
}

.icon-youxiang:before {
  content: "\e610";
}

.icon-birdxiaoniao:before {
  content: "\e736";
}

.icon-shuangjiantouyou:before {
  content: "\e642";
}

.icon-Youtube-fill:before {
  content: "\e883";
}

.icon-instagram-fill:before {
  content: "\e88f";
}

.icon-facebook:before {
  content: "\e630";
}

.icon-lingying:before {
  content: "\ee48";
}

