/* 初始化 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img{margin:0; padding:0}
body, button, input, select, textarea{font:normal 13px /* PingFang SC, */ Arial, system-ui, -apple-system, tahoma, Arial, sans-serif}
button, input, textarea, select{font-size:inherit; font-weight:inherit; border:0; outline:0; resize:none}
ul, ol, li{list-style:none}
fieldset, img{border:0}
h1, h2, h3, h4, h5, h6, code, dfn, em, var, i, b{font-style:normal; font-weight:normal}
a{text-decoration:none; color:#555}
input, textarea{outline-style:none}
*{box-sizing: border-box;font-family: Arial, Helvetica, sans-serif;}
/* 表单文字 */
input::-webkit-input-placeholder{color:#AAA; font-size:13px}
input::-moz-placeholder{color:#AAA; font-size:13px}
input:-moz-placeholder{color:#AAA; font-size:13px}
input:-ms-input-placeholder{color:#AAA; font-size:13px}
/*滚动条*/
::-webkit-scrollbar{width:6px; height:8px}
::-webkit-scrollbar-thumb{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2); background:#777}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2); border-radius:0; background:#F1F1F1}
/* 复制选中 */ 
::selection{background:#338FFF; color:#FFF}
::-moz-selection{background:#338FFF; color:#FFF}
::-webkit-selection{background:#338FFF; color:#FFF}

.fl{float:left}
.fr{float:right}
.container{overflow:hidden}
.pr{position:relative;display: flex;display: -webkit-flex; align-items: center;justify-content: space-between;}
.clear{clear:both}
.wrap{width:62.5%; max-width: 1500px; margin:0 auto}
@media screen and (min-width:1440px){
	.pr{width:72.5%;margin:0 auto;}
}
@media screen and (max-width:1200px){
	.wrap{width:90%}
}
@media screen and (max-width:960px){
	.wrap{width:100%}
}
@media screen and (max-width:560px){
	.wrap{width:94%}
}


:root{
	--i_color:#f34e16;  /* 全局颜色 */
	--head_height:80px;  /* PC端头部高度 */
}
@media only screen and (max-width:800px){
	:root{--head_height:60px}   /* 移动端头部高度 */
	
}

/* -----------------公用样式----------------- */
/* in_position */
.in_position{padding:14px 0;margin: 30px auto; border-bottom:1px solid var(--border_color); background:#FFF;display: flex; display: -webkit-flex; align-items: center;}
.in_position a{display:block; float:left; font-size:14px; color:#666; position:relative; line-height:20px; text-transform:uppercase}
.in_position a:first-child{padding-left:26px; background:url('./static/images/home_hei_i.svg') no-repeat left center; background-size:20px}
.in_position a:not(:last-child):after{content:">"; margin:0 4px; color:#777}
.in_position a:last-child{color:var(--i_color)!important}
.in_position a:hover{color:var(--i_color)}

/* page */
.inPage{display: flex; display: -webkit-flex;justify-content: center;align-items: center;margin: 30px auto;}
.in_page_box{text-align:center; overflow:hidden;}
.in_page{display:inline-blochoverk}
.in_page a{float:left; display:block; margin:0 4px; padding:0 12px; line-height:30px; font-size:14px; color:#666; border:1px solid #CCC}
.in_page a:hover, .in_page .current{border-color:var(--i_color)!important; background:var(--i_color); color:#FFF!important}

/* 按钮 */
.com_button{
	display: flex;
	justify-content: center;
	padding: 8px 0px;
	width: 150px;
	font-size: 16px;
	background-color: var(--i_color);
	color: #fff;
	border: 1px solid transparent;
	transition: all .7s ease;
	cursor: pointer;
}
.com_button a{display: block;text-align: center; width: 100%;height: 1005; color: #fff;}
.com_button:hover{
	color: var(--i_color);background-color: #fff;border: 1px solid var(--i_color);
}
.com_button:hover a{color: var(--i_color);}



/* 头部结构 */
.cd-auto-hide-header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:var(--head_height);
	background:#FFF;
	box-shadow:0 5px 10px rgba(0,0,0,.1);
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	will-change:transform;
	-webkit-transition:-webkit-transform .5s;
	transition:-webkit-transform .5s;
	transition:transform .5s;
	transition:transform .5s, -webkit-transform .5s;
	z-index:9999999999999999;
}
.cd-auto-hide-header::after{clear:both; content:""; display:block}
.cd-auto-hide-header.is-hidden{-webkit-transform:translateY(-100%); -ms-transform:translateY(-100%); transform:translateY(-100%)}
.is-hidden{box-shadow:none!important}

@media only screen and (max-width:959px){
	.cd-auto-hide-header{width:100%!important;background-color: #fff}
	.cd-auto-hide-header{height: 60px;}
}

.fill_head_height{display:block; height:var(--head_height); margin:0; padding:0; background:none}



/* logo */
.logo{width: 5%;}
.logo .pc_logo>img{display:block; max-height:70px}
.logo .mobile_logo{display: none;}

@media only screen and (max-width:959px){
	.logo{left:1.5%}
	.logo .pc_logo{display:none}
	.logo .mobile_logo{display: block;}
	.logo .mobile_logo>img{max-height:40px}
}

.more_menu>a{position: relative;}
.more_menu>a::before{
	content: '';
	width: 17px;
	height: 17px;
	position: absolute;
	top: 24%;
	right: -20px;;
	background: url('./static/images/ico_down.svg') no-repeat center;
	background-size: 100%;
}



/* PC端导航样式 */
.cd-primary-nav{width: 80%;}
@media only screen and (min-width:960px){
	#cd-navigation{margin-left: 179px;display: flex;}
	#cd-navigation>li{flex: 1;display: flex;justify-content: center; position:relative; text-overflow:ellipsis; white-space:nowrap;}
	#cd-navigation li:first-child{margin-right:0}
	#cd-navigation li>a{text-transform: uppercase; font-size:16px; color:#666;padding: 10px 0;font-weight: bold;text-align: center;}
	#cd-navigation .more_menu ul a{display: block;width: 100%;line-height: 30px; padding: 0px 12px;border-bottom: 1px solid #ddd;font-weight: normal;font-size: 14px; transition: all .3s ease;}
	#cd-navigation .more_menu ul li:hover a{font-size: 15px; color: var(--i_color);}
	.nav_on>a{color:var(--i_color)!important}
	.nav_on:after, #cd-navigation>li:hover:after{content:""; position:absolute; left:0; bottom:0; width:100%; height:2px; background:var(--i_color)}

	.n_submenu{ position:absolute; left:50%;top: 100%; transform:translate(-50%,0); min-width:100px; background:#FFF; box-shadow:0px 0px 10px #999; z-index:2;display: none;border-radius: 5px;}
}



/* 移动端导航按钮 */
.cd-auto-hide-header .nav-trigger{display:none}
@media only screen and (max-width:959px){
	.cd-primary-nav .nav-trigger{display:table!important; width:var(--head_height); height:100%; text-transform:uppercase; color:#25283D; font-weight:bold; right:0;}
	.cd-primary-nav .nav-trigger span{display:table-cell; vertical-align:middle}
	.cd-primary-nav .nav-trigger em, .cd-auto-hide-header .nav-trigger em::after, .cd-auto-hide-header .nav-trigger em::before{display:block; position:relative; height:3px; width:22px; background-color:#434343; -webkit-backface-visibility:hidden; backface-visibility:hidden}
	.cd-primary-nav .nav-trigger em{margin:0 auto; -webkit-transition:background-color .2s; transition:background-color .2s}
	.cd-primary-nav .nav-trigger em::before, .cd-auto-hide-header .nav-trigger em::after{position:absolute; content:''; left:0; -webkit-transition:-webkit-transform .2s; transition:-webkit-transform .2s; transition:transform .2s; transition:transform .2s, -webkit-transform .2s}
	.cd-primary-nav .nav-trigger em::before{-webkit-transform:translateY(-6px); -ms-transform:translateY(-6px); transform:translateY(-6px)}
	.cd-primary-nav .nav-trigger em::after{-webkit-transform:translateY(6px); -ms-transform:translateY(6px); transform:translateY(6px)}
	@media only screen and (min-width:1024px){.cd-auto-hide-header .nav-trigger{display:none}}
	.nav-open .nav-trigger em{background-color:rgba(255, 255, 255, 0)}
	.nav-open .nav-trigger em::before{-webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg)}
	.nav-open .nav-trigger em::after{-webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg)}
}


/* 移动端导航样式 */
@media only screen and (max-width:959px){
	.cd-primary-nav{height:100%;float: right;width: 8%;}
	.cd-primary-nav #cd-navigation{max-height:0; overflow:hidden}
	.nav-open #cd-navigation{width: 100%; max-height:calc(100vh - var(--head_height))!important; overflow-y:auto}
	#cd-navigation{-webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -ms-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition:all 0.5s ease}
	/*滚动条*/
	#cd-navigation::-webkit-scrollbar{width:2px; height:8px}
	#cd-navigation::-webkit-scrollbar-thumb{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2); background:var(--i_color)}
	#cd-navigation::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2); border-radius:0; background:#F1F1F1}
	
	#cd-navigation{position:absolute; top:var(--head_height); left:0; width:100%; background:#FFF; box-shadow:0 5px 10px rgba(0,0,0,.1)}
	#cd-navigation li>a{display:block; max-height:0; padding:0 50px 0 20px; font-size:15px; color:#555; line-height:46px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; transition:max-height 300ms ease}
	.n_open .n_switch{background:rgba(0,0,0,.2)!important}
	.nav-open #cd-navigation li>a{position: relative; max-height:46px; border-top:1px solid #E9E9E9}
	#cd-navigation .n_open>a{background:var(--i_color)!important; color:#FFF!important}
	#cd-navigation .n_switch{display:none; position:absolute; top:1px; right:0; width:46px; height:46px; background:rgba(0,0,0,.03); cursor:pointer; z-index:2}
	.nav-open #cd-navigation .n_switch{display:block!important}
	
	#cd-navigation .n_switch:before{content:"+"; display:block; text-align:center; font-size:18px; color:rgba(0,0,0,.3); line-height:46px}
	#cd-navigation .n_open .n_switch:before{content:"-"; color:#FFF!important}
	
	.n_submenu{display:none; background:#FFF}
}


.top_r{height:var(--head_height);width: 10%;}

/* 搜索 */
.top_search_ico{float:right; position:relative; top:50%; transform:translate(0,-50%)}
.top_search_ico i{display:block; width:20px; height:20px; background:url("./static/images/search_hei.svg") no-repeat center; background-size:contain; cursor:pointer}

.top_search{--search_height:44px}
.top_search{position:absolute; top:var(--head_height); left:0; width:100%; height:0; background:rgba(0,0,0,.4); overflow:hidden; z-index:-1}
.top_search.on{display:block!important; height:74px; margin-top: 0px;}
.top_search form{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:36%; font-size:0; overflow:hidden}
.top_search .top_search_ipt, .top_search .top_search_btn{display:inline-block; vertical-align:middle}
.top_search .top_search_ipt{width:calc(100% - var(--search_height)); height:var(--search_height); line-height:var(--search_height); box-sizing:border-box; padding-left:16px; font-size:16px; color:#555}
.top_search .top_search_btn{width:var(--search_height); height:var(--search_height); background:var(--i_color) url('./static/images/search_bai.svg') no-repeat center; background-size:20px; cursor:pointer}

.top_search{-webkit-transition:all .5s ease; -moz-transition:all .5s ease; -ms-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease}
@media screen and (max-width:959px){
	.top_r{float:right; margin-right:48px; position:initial;display: none;}
	.top_search{top:var(--head_height); transform:none}
	.top_search.on{height:60px}
	.top_search form{width:94%}
}
@media screen and (max-width:767px){
	
}
@media screen and (max-width:560px){
	.top_search_ico i{width:18px; height:18px}
	
}



/* 语言切换 */
.top_language{float:right; margin-left:30px; position:relative; top:50%; transform:translate(0,-50%); padding-right:22px; cursor:pointer}
.top_language>li:after{content:""; position:absolute; top:50%; margin-top:-4px; right:0; width:0; height:0; border-left:6px solid transparent; border-right:6px solid transparent; border-top:8px solid #000}
.top_language.on>li:after{-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg)}
.top_language i{display:block; width:30px; height:30px; background:url("./static/images/language_hei.svg") no-repeat center; background-size:contain; cursor:pointer}

.top_language .sub-menu{position:absolute; top:34px; right:0; display:none; min-width:100%; background:#FFF}
.top_language.on .sub-menu{display:block!important}

.top_language .sub-menu li{border-bottom:1px solid #eee}
.top_language .sub-menu a>span{display:block; padding:0 14px; min-width:110px; overflow:hidden}
.top_language .sub-menu img, .top_language .sub-menu .trp-ls-language-name{display:inline-block; vertical-align:middle}
.top_language .sub-menu .trp-ls-language-name{margin-left:8px; font-size:14px; color:#666; line-height:32px}
.top_language .sub-menu li:hover{background:rgba(0,0,0,.1)}
.top_language .sub-menu li:hover .trp-ls-language-name{color:var(--i_color)}

@media screen and (max-width:1440px){
	
}
@media screen and (max-width:1366px){
	
}
@media screen and (max-width:1200px){
	.top_language{margin-left:20px}
}
@media screen and (max-width:959px){
	
}
@media screen and (max-width:767px){
	
}
@media screen and (max-width:560px){
	.top_r{margin-right:42px}
	.top_language{margin-left:14px}
	.top_language i{width:28px; height:28px}
	.top_language>li{padding-right:16px}
	.nav_menu{width:22px; height:18px}
}

header, .logo, .logo img, .i_nav>li>a, .top_r{-webkit-transition:all .7s ease; -moz-transition:all .7s ease; -ms-transition:all .7s ease; -o-transition:all .7s ease; transition:all .7s ease}

/* --------------底部移动端菜单栏-------------------- */
.phone_bar{display: none;}
@media screen and (max-width:959px){
	/* 移动端底部 */
	.phone_bar {width: 100%;display: flex;background-color: #fff;height: 50px;position: fixed;bottom: 0;left: 0;z-index: 9999;}
	.phone_bar a {flex: 1;display: flex;height: 100%;border: 1px solid #d3d3d3; border-top: none; justify-content: center;align-items: center;}
	.phone_bar a p {display: flex; align-items: center;}
	.phone_bar a p img {width: 23px;height: 23px;object-fit: cover;margin-right: 5px;}
	.phone_bar a p span {font-size: 0.8125rem;line-height: 100%;}
	.copyright{margin-bottom: 50px;}
}

.sidebar {
	z-index: 9999;
	position: fixed;
	bottom: 15%;
	right: 0;
	width: 56px;
	height: 162px;
	background-color: rgba(0, 0, 0, 0.5);
  }
.sidebar a,.back-top{
	transition: all .3s ease;
	display: block;
	height: 54px;
	line-height: 54px;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.sidebar i {
	font-size: 18px;
	color: #fff;
  }
.sidebar .side_icon {
	position: absolute;
	right: -800%;
	top: 0;
	background-color: var(--i_color);
	display: flex;
	color: #fff;
	font-size: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: 0.3s;
  }
.sidebar .side_icon i {padding: 0 10px;}
.sidebar .side_icon span {padding: 0 10px;}
.sidebar a:hover .side_icon {right: 0;}
.back-top:hover{background-color: var(--i_color);}




/* --------------------弹出表单--------------- */
.pop_form{display: none; box-shadow: 0px 0px 4px 0px #ccc;background-color: #fff;padding:1% 2%; width: 45%;position: fixed;top: 20%; left: 26%;}
.pop_form h3{font-size: 28px; font-weight: bold; line-height: 170%; text-align: center; color: #000;text-align: left;}
.pop_form h4{margin: 1% 0;font-size: 16px; color: #666; line-height: 170%;}
.pop_form .back{transition:all .5s ease; position: absolute;top: -20px;right: -20px; width:45px; height: 45px;border-radius: 25px; box-shadow: 0px 0px 4px 0px #ccc;background-color: #fff; display: flex;justify-content: center;align-items: center;}
.pop_form .back i{transition: all .5s ease;font-size: 30px; color: var(--i_color);font-weight: bold;}
.pop_form .back:hover{background-color: var(--i_color);}
.pop_form .back:hover i{color: #fff;}
@media screen and (max-width:959px){
	.pop_form h3{font-size: 22px;}
	.pop_form h4{font-size: 13px;}
	.pop_form .back{width: 30px;height: 30px;top: -10px;right: -10px;}
	.pop_form .back i{font-size: 20px;}
}
@media screen and (max-width:560px){
	.pop_form{width: 50%;padding: 2%;}
	.pop_form h3{font-size: 18px;margin-bottom: 10px;}
	.pop_form h4{display: none;}
}
#wpforms-46 label{display: none;}
#wpforms-46 input,
#wpforms-46 textarea{
	border: 1px solid #d9d9d9;
	font-size: 14px;
	padding: 8px;
	height: 40px;
	margin-bottom: 20px;
	width: 100%;
}
#wpforms-46-field_1-container,
#wpforms-46-field_3-container,
#wpforms-46-field_4-container{
	position: relative;
}
#wpforms-46-field_1-container::after,
#wpforms-46-field_3-container::after,
#wpforms-46-field_4-container::after{
	content: '*';
    position: absolute;
    top: 9px;
    right: -10px;
    font-size: 16px;
    color: #F00;
}
#wpforms-46 textarea{min-height: 80px;}
#wpforms-submit-46{position: relative; left: 50%;transform: translateX(-50%); width: 120px;font-size: 15px;border: 2px solid var(--i_color); text-align: center; color: var(--i_color);line-height: 30px;border-radius: 20px; transition: all .3s ease;background-color: #fff;}
#wpforms-submit-46:hover{background-color: var(--i_color);color: #fff;}



