.CU_content1 {
  margin-top: 110px;
  background-color: #fff;
  overflow: hidden;
  background: url("https://img.bjyyb.net/sites/70000/70446/20220507095746637.png")
    no-repeat;
  background-size: cover;
  height: 18.75rem;
  width: 100%;
}
.CU_content1 .img_txt {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 1.5rem;
  padding-top: 5rem;
}
.CU_content1 .img_txt .conten1_tit {
  color: #333;
  font-size: 2.5rem;
  line-height: 170%;
}
.CU_content1 .img_txt .content_fu {
  font-size: 1.5rem;
}
.CU_content1 .img_txt .content_fu .content_fu1 {
  color: #32a0db;
}
.in_position {
  background-color: #fff;
  margin-top: 20px;
  height: 39px;
}
.in_position .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.in_position .container a {
  display: block;
  float: left;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
}

.in_position .container a:not(:last-child):after {
  content: ">";
  margin: 0 4px;
  color: #777;
}
.in_position .container a:last-child {
  color: #666;
}
.in_position .container a:hover {
  color: #014190;
}
.CU_content2 .tit {
  margin: 1.875rem 0% 0rem 0%;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 170%;
  color: #000;
  text-align: center;
}
.CU_content2 .fu_tit {
  margin: 0 10% 3rem 10%;
  font-size: 1rem;
  line-height: 170%;
  text-align: center;
  color: #666;
}
.CU_content2 .CU_container {
  margin: 1% 0;
  display: flex;
}
.CU_content2 .CU_container .cu_left_input {
  width: 50%;
  margin: 1% 1.03% 1% 2%;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 4px 0px #cccccc;
  padding: 4% 3%;
}
.CU_content2 .CU_container .cu_left_input .input_tit {
  margin: 0rem 0% 1.875rem 0%;
  font-weight: bold;
  font-size: 1.375rem;
  font-family: Arial;
  line-height: 170%;
  color: #434343;
}
.CU_content2 .CU_container .cu_left_input .input_box {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.CU_content2 .CU_container .cu_left_input .input_box input,
.CU_content2 .CU_container .cu_left_input .input_box textarea {
  width: 100%;
  border-radius: 3px;
  border: none;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d9d9d9;
  font-size: 16px;
}
.CU_content2 .CU_container .cu_left_input .input_box input:focus,
.CU_content2 .CU_container .cu_left_input .input_box textarea:focus {
  outline: none;
}
.CU_content2 .CU_container .cu_left_input .input_box textarea {
  width: 100%;
}
.CU_content2 .CU_container .cu_left_input .input_box .mark {
  width: 100%;
}
.CU_content2 .CU_container .cu_left_input .input_box .mark::after {
  content: "*";
  color: red;
  position: absolute;
  left: 48.5%;
  padding-top: 0.5%;
  font-size: 18px;
}
.CU_content2 .CU_container .cu_left_input .input_but {
  display: block;
  margin: 0 auto;
  width: 12.5rem;
  font-size: 0.9375rem;
  color: #fff;
  background: #014190;
  border-radius: 100px;
  border: 1px solid #014190;
  text-align: center;
}
.CU_content2 .CU_container .cu_left_input .input_but p {
  padding: 9px 3px;
}
.CU_content2 .CU_container .cu_right_address {
  width: 50%;
  padding-left: 4%;
}
.CU_content2 .CU_container .cu_right_address .address_tit {
  margin: 4.51% auto 4% 0%;
  display: block;
  width: 100%;
  font-size: 1rem;
  color: #1a1a1a;
  border-radius: 5px;
  text-align: left;
}
.CU_content2 .CU_container .cu_right_address .address_tit i {
  font-size: 20px;
  color: #014190;
}
.CU_content2 .CU_container .cu_right_address .address_tit span {
  margin-left: 2%;
}
.CU_content2 .CU_container .cu_right_address .address_tit:hover {
  font-weight: bold;
}
.CU_content2 .CU_container .cu_right_address .address_tit:hover i {
  font-size: 1.5rem;
}
.CU_content2 .CU_container .cu_right_address .address_txt {
  display: flex;
  align-items: center;
  margin: 4.51% auto 4% 0;
}
.CU_content2 .CU_container .cu_right_address .address_txt .icon {
  width: 6%;
  margin: 2% 0;
}
.CU_content2 .CU_container .cu_right_address .address_txt .icon i {
  font-size: 20px;
  color: #014190;
}
.CU_content2 .CU_container .cu_right_address .address_txt .txt {
  width: 94%;
  margin: 1% 1% 1% 2%;
  font-size: 1rem;
  line-height: 170%;
  color: #1a1a1a;
}
.CU_content2 .CU_container .cu_right_address .map {
  width: 31.25rem;
  height: 19.0625rem;
  background-color: #eee;
}

.map #simpleMap,
.map .fluid-width-video-wrapper,
.map iframe {
  width: 100%;
  height: 100% !important;
}
