/* 初始化 */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img{margin:0; padding:0}

body, button, input, select, textarea{font:normal 13px /* PingFang SC, */ Arial, system-ui, -apple-system, tahoma, Arial, sans-serif}

button, input, textarea, select{font-size:inherit; font-weight:inherit; border:0; outline:0; resize:none}

ul, ol, li{list-style:none}

fieldset, img{border:0}

h1, h2, h3, h4, h5, h6, code, dfn, em, var, i, b{font-style:normal; font-weight:normal}

a{text-decoration:none; color:#555}

input, textarea{outline-style:none}

*{box-sizing: border-box;font-family: Arial, Helvetica, sans-serif;}

/* 表单文字 */

input::-webkit-input-placeholder{color:#AAA; font-size:13px}

input::-moz-placeholder{color:#AAA; font-size:13px}

input:-moz-placeholder{color:#AAA; font-size:13px}

input:-ms-input-placeholder{color:#AAA; font-size:13px}

/*滚动条*/

::-webkit-scrollbar{width:6px; height:8px}

::-webkit-scrollbar-thumb{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2); background:#777}

::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2); border-radius:0; background:#F1F1F1}

/* 复制选中 */ 

::selection{background:#338FFF; color:#FFF}

::-moz-selection{background:#338FFF; color:#FFF}

::-webkit-selection{background:#338FFF; color:#FFF}



.fl{float:left}

.fr{float:right}

.container{overflow:hidden}

.pr{position:relative;display: flex;flex-wrap: nowrap;align-items: center; justify-content: space-between;}

.clear{clear:both}

.wrap{width:1200px; margin:0 auto}

@media screen and (max-width:1320px){

	.wrap{width:96%}

}

@media screen and (max-width:960px){

	.wrap{width:100%}

}

@media screen and (max-width:560px){

	.wrap{width:94%}

}





:root{

	--i_color:#1fab50;  /* 全局颜色 */

	--font_color:#1a1a1a;  /* 字体颜色 */

	--normal_color:#00d646;

	--head_height:80px;  /* PC端头部高度 */

	--top-space:40px; /* 内容间隔的距离*/

	--font-color:#434343 /* 常用字体颜色*/

}

@media only screen and (max-width:800px){

	:root{--head_height:60px}   /* 移动端头部高度 */

}



/* -----------------公用样式----------------- */

/* in_position */

.in_position{padding:14px 0; border-bottom:1px solid var(--border_color); background:#FFF}

.in_position a{display:block; float:left; font-size:14px; color:#666; position:relative; line-height:20px; text-transform:uppercase}

.in_position a:first-child{padding-left:26px; background:url('static/images/home_1_hei.svg') no-repeat left center; background-size:20px}

.in_position a:not(:last-child):after{content:">"; margin:0 4px; color:#777}

.in_position a:last-child{color:var(--i_color)!important}

.in_position a:hover{color:var(--i_color)}



/* page */

.in_page_box{text-align:center; overflow:hidden;margin: 30px auto;}

.in_page{display:inline-block}

.in_page a{float:left; display:block; margin:0 4px; padding:0 12px; line-height:30px; font-size:14px; color:#666; -webkit-border-radius:100px; -moz-border-radius:100px; border-radius:100px; border:1px solid #CCC}

.in_page a:hover, .in_page .current{border-color:var(--i_color)!important; background:var(--i_color); color:#FFF!important}



/* 按钮 */

.com_button{

	display: flex;

	justify-content: center;

	padding: 10px 3px;

	width: 160px;

	font-size: 17px;

	color: #f9f9f9;

	border-radius: 8px;

}



/* title */

.com_tit{margin-top: var(--top-space); font-weight: bold; font-size: 2.125rem; color: var(--font_color); text-align: center;}

.tit_bc{margin: 0 49%;width: 24px;height: 24px;}

.tit_bc img{width: 100%;height: auto;margin: auto;display: inherit;}

@media screen and (max-width:959px){

    .com_tit{font-size: 20px;}

}



/* com_content1*/

.com_content1,.a_content1{position: relative; width: 100%; height: 31.5625rem; padding: 8% 0 0 0; margin-top: var(--head_height);}

.com_content1>img,.a_content1>img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;}

.com_content1>P,.a_content1>P{line-height: 170%;text-align: center;color: #fff;font-size: 2.5rem;font-weight: normal;}

@media screen and (max-width:959px){

	.com_content1{display: none;}

	.a_content1{height: 130px;padding-top: 5%;}

}







/* H_slogan */

.H_slogan{width: 100%;height: 242px;position: relative;}

.H_slogan>img{width: 100%;height: 100%; position: absolute;top: 0;left: 0;z-index: -1;}

.H_slogan>h1,.H_slogan>h2{font-style: italic; font-weight: bold;font-size: 2.1875rem;line-height: 140%;color: var(--i_color);}

.H_slogan>h1{margin-left:18%;padding-top: 3%;margin-right: 31%; }

.H_slogan>h2{margin-left:26%;margin-right: 31%;}

@media screen and (max-width:959px){

	.H_slogan{height: 97px;}

	.H_slogan>h1, .H_slogan>h2{margin: 0 0 0 5%; font-size: 20px}

	.H_slogan>h1{padding-top: 3%;}

}







/* 头部结构 */

.cd-auto-hide-header{

	position:fixed;

	top:0;

	left:0;

	width:100%;

	height:var(--head_height);

	background:#FFF;

	box-shadow:0 5px 10px rgba(0,0,0,.1);

	-webkit-transform:translateZ(0);

	transform:translateZ(0);

	will-change:transform;

	-webkit-transition:-webkit-transform .5s;

	transition:-webkit-transform .5s;

	transition:transform .5s;

	transition:transform .5s, -webkit-transform .5s;

	z-index:9999999999999999;

}

.cd-auto-hide-header::after{clear:both; content:""; display:block}

.cd-auto-hide-header.is-hidden{-webkit-transform:translateY(-100%); -ms-transform:translateY(-100%); transform:translateY(-100%)}

.is-hidden{box-shadow:none!important}



@media only screen and (max-width:959px){

	.cd-auto-hide-header{width:100%!important;background-color: #fff}

	.cd-auto-hide-header{height: 60px;}

}



.fill_head_height{display:block; height:var(--head_height); margin:0; padding:0; background:none}







/* logo */

/* .logo{position:absolute; left:5.5%; top:50%; transform:translate(0,-50%)} */

.logo .pc_logo>img{display:block; max-height:46px}

.logo .mobile_logo{display: none;}



@media only screen and (max-width:959px){

	.logo{left:1.5%}

	.logo .pc_logo{display:none}

	.logo .mobile_logo{display: block;}

	.logo .mobile_logo>img{max-height:40px}

}



#cd-navigation>li:nth-child(2)>a,#cd-navigation>li:nth-child(3)>a,#cd-navigation>li:nth-child(4)>a{

	position: relative;

}

#cd-navigation>li:nth-child(2)>a::before,#cd-navigation>li:nth-child(3)>a::before,

#cd-navigation>li:nth-child(4)>a::before{

	content: '';

	width: 17px;

	height: 17px;

	position: absolute;

	top: 37%;

	left: 106%;

	background: url('static/images/ico_down.svg') no-repeat center;

	background-size: 100%;

}



/* .more_menu>a{position: relative;}

.more_menu>a::before{

	content: '';

	width: 17px;

	height: 17px;

	position: absolute;

	top: 37%;

	left: 106%;

	background: url('static/images/ico_down.svg') no-repeat center;

	background-size: 100%;

} */







/* PC端导航样式 */

.cd-primary-nav{

	

}



@media only screen and (min-width:960px){

	#cd-navigation{display: flex;}



	#cd-navigation>li{float:left;margin-left: 1.625rem; padding-left: 1.5625rem; padding-right: 1.5625rem; position:relative; text-overflow:ellipsis; white-space:nowrap;}

	#cd-navigation>li:first-child{margin-right:0}

	#cd-navigation>li>a{text-transform: uppercase; display:block; font-size:16px; color:#666; line-height:var(--head_height)}

	.nav_on>a{color:var(--i_color)!important}

	.nav_on:after, #cd-navigation li:hover:after{content:""; position:absolute; left:0; bottom:0; width:100%; height:3px; background:var(--i_color)}



	#cd-navigation>li>ul{position:absolute; left:50%; transform:translate(-50%,0); min-width:200px; background:#FFF; box-shadow:0px 0px 10px #999; z-index:2;display: none;border-radius: 5px;}

	#cd-navigation>li>ul li{position:relative; padding:0 10px; transition:all 300ms ease; overflow:hidden}

	#cd-navigation>li>ul li:after{content:""; position:absolute; left:0; bottom:0; width:100%; height:1px; background:rgba(0,0,0,.06)}

	#cd-navigation>li>ul li a{display:block; text-align:center; font-size:13px; color:#555; line-height:36px; white-space:nowrap}

	#cd-navigation>li>ul li:hover{background:var(--i_color)}

	#cd-navigation>li>ul li:hover a{color:#FFF}

	/* #cd-navigation>li:hover ul{max-height:120px} */

    #cd-navigation>li:nth-child(2) ul{display: none;}

	#cd-navigation>li:nth-child(3) ul{display: none;}



}







/* 移动端导航按钮 */

.cd-auto-hide-header .nav-trigger{display:none}

@media only screen and (max-width:959px){

	.cd-primary-nav .nav-trigger{position: absolute;top: 0;right: 1%; display:table!important; width:var(--head_height); height:100%; text-transform:uppercase; color:#25283D; font-weight:bold; right:0;}

	.cd-primary-nav .nav-trigger span{display:table-cell; vertical-align:middle}

	.cd-primary-nav .nav-trigger em, .cd-auto-hide-header .nav-trigger em::after, .cd-auto-hide-header .nav-trigger em::before{display:block; position:relative; height:3px; width:22px; background-color:#434343; -webkit-backface-visibility:hidden; backface-visibility:hidden}

	.cd-primary-nav .nav-trigger em{margin:0 auto; -webkit-transition:background-color .2s; transition:background-color .2s}

	.cd-primary-nav .nav-trigger em::before, .cd-auto-hide-header .nav-trigger em::after{position:absolute; content:''; left:0; -webkit-transition:-webkit-transform .2s; transition:-webkit-transform .2s; transition:transform .2s; transition:transform .2s, -webkit-transform .2s}

	.cd-primary-nav .nav-trigger em::before{-webkit-transform:translateY(-6px); -ms-transform:translateY(-6px); transform:translateY(-6px)}

	.cd-primary-nav .nav-trigger em::after{-webkit-transform:translateY(6px); -ms-transform:translateY(6px); transform:translateY(6px)}

	@media only screen and (min-width:1024px){.cd-auto-hide-header .nav-trigger{display:none}}

	.nav-open .nav-trigger em{background-color:rgba(255, 255, 255, 0)}

	.nav-open .nav-trigger em::before{-webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg)}

	.nav-open .nav-trigger em::after{-webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg)}

}





/* 移动端导航样式 */

@media only screen and (max-width:959px){

	.cd-primary-nav{height:100%; }

	.cd-primary-nav #cd-navigation{max-height:0; overflow:hidden}

	#cd-navigation>li>ul>li{padding-left: 10px;}

	.nav-open #cd-navigation{width: 100%; max-height:calc(100vh - var(--head_height))!important; overflow-y:auto}

	#cd-navigation{-webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -ms-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition:all 0.5s ease}

	/*滚动条*/

	#cd-navigation::-webkit-scrollbar{width:2px; height:8px}

	#cd-navigation::-webkit-scrollbar-thumb{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2); background:var(--i_color)}

	#cd-navigation::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2); border-radius:0; background:#F1F1F1}

	

	#cd-navigation{position:absolute; top:var(--head_height); left:0; width:100%; background:#FFF; box-shadow:0 5px 10px rgba(0,0,0,.1)}

	#cd-navigation li>a{display:block; max-height:0; padding:0 50px 0 20px; font-size:15px; color:#555; line-height:46px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; transition:max-height 300ms ease}

	.n_open .n_switch{background:rgba(0,0,0,.2)!important}

	.nav-open #cd-navigation li>a{position: relative; max-height:46px; border-top:1px solid #E9E9E9}

	#cd-navigation .n_open>a{background:var(--i_color)!important; color:#FFF!important}

	#cd-navigation .n_switch{display:none; position:absolute; top:1px; right:0; width:46px; height:46px; background:rgba(0,0,0,.03); cursor:pointer; z-index:2}

	.nav-open #cd-navigation .n_switch{display:block!important}

	

	#cd-navigation .n_switch:before{content:"+"; display:block; text-align:center; font-size:18px; color:rgba(0,0,0,.3); line-height:46px}

	#cd-navigation .n_open .n_switch:before{content:"-"; color:#FFF!important}

	

	.n_submenu{display:none; background:#FFF}

	.n_submenu dt{border-bottom:1px dashed rgba(0,0,0,.05)}

	.n_submenu dt:last-child{border-bottom:none}

	.n_submenu dt a{display:block; padding:0 30px; font-size:12px; color:#777; line-height:34px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}

	.n_submenu dt a:hover{background:rgba(0,0,0,.05)}

	.top_r{display: none;}

	footer .n_submenu dt a{background-color: #434343; display:block; padding:0 30px; font-size:12px; color:#fff; line-height:34px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}

	footer .more_menu>a::before{

		content: '';

		width: 25px;

		height: 25px;

		position: absolute;

		top: 18%;

		left: 95%;

		background: url(static/images/ico_down_bai.svg) no-repeat center;

		background-size: 100%;

	}

	footer .n_submenu dt:last-child{border-bottom: 1px solid #fff;}

	footer .n_submenu dt a:hover{color: var(--i_color);background-color: #434343;}

	.more_menu>a::before{width: 20px;height: 20px;top: 25%; left: 93%;}

}





.top_r{height:var(--head_height);display: flex;display: -webkit-flex;flex-wrap: nowrap;align-items: center;justify-content: space-between;}



/* 搜索 */

.top_search_ico{position:relative;margin-left: 15px;}

.top_search_ico i{display:block; width:20px; height:20px; background:url("static/images/search_hei.svg") no-repeat center; background-size:contain; cursor:pointer}



.top_search{--search_height:44px}

.top_search{position:absolute; top:var(--head_height); left:0; width:100%; height:0; background:rgba(0,0,0,.4); overflow:hidden; z-index:-1}

.top_search.on{display:block!important; height:74px; margin-top: 0px;}

.top_search form{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:36%; font-size:0; overflow:hidden}

.top_search .top_search_ipt, .top_search .top_search_btn{display:inline-block; vertical-align:middle}

.top_search .top_search_ipt{width:calc(100% - var(--search_height)); height:var(--search_height); line-height:var(--search_height); box-sizing:border-box; padding-left:16px; font-size:16px; color:#555}

.top_search .top_search_btn{width:var(--search_height); height:var(--search_height); background:var(--i_color) url('static/images/search_bai.svg') no-repeat center; background-size:20px; cursor:pointer}



.top_search{-webkit-transition:all .5s ease; -moz-transition:all .5s ease; -ms-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease}



@media screen and (max-width:1440px){

	

}

@media screen and (max-width:1366px){

	

}

@media screen and (max-width:1200px){

	

}

@media screen and (max-width:959px){

	.top_r{

		/* float:right;  */

		margin-right:70px; 

		/* position:initial */

	}

	.top_search{top:var(--head_height); transform:none}

	.top_search.on{height:60px}

	.top_search form{width:94%}

}

@media screen and (max-width:767px){

	

}

@media screen and (max-width:560px){

	.top_search_ico i{width:18px; height:18px}

	

}







/* 语言切换 */

.top_language{ margin-left:40px; position:relative;padding-right:22px; cursor:pointer}

.top_language>li{}

.top_language>li:after{content:""; position:absolute; top:50%; margin-top:-4px; right:0; width:0; height:0; border-left:6px solid transparent; border-right:6px solid transparent; border-top:8px solid var(--font-color)}

.top_language.on>li:after{-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg)}

.top_language i{display:block; width:30px; height:30px; background:url("static/images/language_hei.svg") no-repeat center; background-size:contain; cursor:pointer}



.top_language .sub-menu{position:absolute; top:34px; right:-50%; display:none; min-width:100%; background:#FFF}

.top_language.on .sub-menu{display:block!important}



.top_language .sub-menu li{border-bottom:1px solid #eee}

.top_language .sub-menu a>span{display:block; padding:0 14px; min-width:110px; overflow:hidden}

.top_language .sub-menu img, .top_language .sub-menu .trp-ls-language-name{display:inline-block; vertical-align:middle}

.top_language .sub-menu .trp-ls-language-name{margin-left:8px; font-size:14px; color:#666; line-height:32px}

.top_language .sub-menu li:hover{background:rgba(0,0,0,.1)}

.top_language .sub-menu li:hover .trp-ls-language-name{color:var(--i_color)}



@media screen and (max-width:1440px){

	

}

@media screen and (max-width:1366px){

	

}

@media screen and (max-width:1200px){

	.top_language{margin-left:20px}

}

@media screen and (max-width:959px){

	

}

@media screen and (max-width:767px){

	

}

@media screen and (max-width:560px){

	.top_r{margin-right:42px}

	.top_language{margin-left:14px}

	.top_language i{width:28px; height:28px}

	.top_language>li{padding-right:16px}

	.nav_menu{width:22px; height:18px}

}



header, .logo, .logo img, .i_nav>li>a, .top_r{-webkit-transition:all .7s ease; -moz-transition:all .7s ease; -ms-transition:all .7s ease; -o-transition:all .7s ease; transition:all .7s ease}





/* 底部 */

footer{border-top: 3px solid var(--normal_color);}

.afooter_phone{display: none;}

.mainfooter{display: flex;display: -webkit-flex;padding: 1.5% 0;}

.mainfooter .classify{flex: 1; display: flex; display: -webkit-flex;flex-direction: column;}

.classify>h1{position: relative; padding-bottom: 15px; border-bottom: 1px solid #bcbcbc; font-size: 1.125rem; line-height: 140%; color: #8f8f8f;}

.classify .liner{position: absolute;bottom: -1px;left: 0; width: 17px; border-bottom: 5px solid var(--normal_color);}

.classify>ul{margin: 10px 0 0 12px;}

.classify>ul>li>a{font-size: 12px; line-height: 200%; color: #666;text-align: left;}

.classify .privacy{margin-left:12px;font-size: 12px; line-height: 200%; color: #666;text-align: left;}

.f_form{flex: 1;margin-left: 3%;}

.f_form>h1{padding-bottom: 15px;font-size: 1.125rem; line-height: 140%; color: #8f8f8f;}

.bfooter{background-color:#fff;text-align: center;padding: 0 5%;}

.bfooter span{font-size: 12px; line-height: 200%;color: #666;text-align: center;}

.bfooter span a{color: #666;}

.bfooter span a:hover{color: var(--i_color);}

.phone_bar{display: none;}

@media screen and (max-width:959px){

	footer{border: none;background-color: #434343;}

	.bfooter{background-color: #222;}

	.bfooter span,.bfooter span a{color: #fff;}

	.mainfooter{display: none;}

	/* 移动端底部 */

	.afooter_phone{display: block;}

	.afooter_phone .footer_tit{padding-top: 1%; margin: 0% auto 1% 2%; font-size: 18px; line-height: 170%; color: #fff;}

	.afooter_phone .f_nav_list{margin: 0 1%; display: flex;display: -webkit-flex;flex-direction: column;}

	.afooter_phone .f_nav_list li{flex: 1;}

	.afooter_phone .f_nav_list>li>ul{display: none;}

	.afooter_phone .f_nav_list li>a{padding: 1% 2%; color: #fff;display: block;border-bottom: 1px solid #fff;position: relative;}

	.afooter_phone .f_phone{margin: 2% 3%;margin-bottom: -1px; display: flex;display: -webkit-flex;flex-direction: column;padding-bottom: 2%;}

	.afooter_phone .f_phone li{display: flex;display: -webkit-flex;margin: 1% 0;}

	.afooter_phone .f_phone li img{width: 22px; height: 22px;margin-right: 2%;}

	.afooter_phone .f_phone li span{color: #fff;}

	.afooter_phone .f_phone li a{color: #fff;}

	/* 移动端菜单栏 */

	.phone_bar {width: 100%;display: flex;background-color: #fff;height: 50px;position: fixed;bottom: 0;left: 0;z-index: 9999;}

	.phone_bar a {flex: 1;display: flex;height: 100%;border: 1px solid #d3d3d3; border-top: none; justify-content: center;align-items: center;}

	.phone_bar a p {display: flex; align-items: center;}

	.phone_bar a p img {width: 23px;height: 23px;object-fit: cover;margin-right: 5px;}

	.phone_bar a p span {font-size: 0.8125rem;line-height: 100%; text-transform: uppercase;}

	.bfooter{margin-bottom: 50px;}

	.f_about{display: none;}

}



/* home */

.H_content1{height: 790px; margin-top: var(--head_height);background: url('static/images/H_banner.webp') no-repeat;background-position: center top;background-size: cover}

.H_content1>h1,.H_content1>h2,.H_content1>h3{color: #fff; line-height: 170%; text-align: center;font-size: 2.5rem;}

.H_content1>h1{padding-top: 11.875rem;}

.H_content1>h2{margin-bottom: 1.875rem;}

.H_content1>h3{font-size: 1.25rem; margin: 1.875rem 0.04%;}

.H_content1 .but{display: flex;display: -webkit-flex;margin: 3% 39%; justify-content: space-between;}

.H_content1 .but>a:first-child{margin-right: 90px; font-weight: bold;background-color: var(--i_color);}

.H_content1 .but>a:first-child:hover{font-size: 15px; transition-duration: 0.3s}

.H_content1 .but>a:last-child{font-weight: bold;border: 1px solid #fff;}

.H_form_box{background-color: var(--i_color);padding: 0.5%;height: 80px;overflow: hidden;}

.H_form .tit{white-space: nowrap; width: 15%;margin-right: 2%;font-size: 1.375rem;text-align: center;color: #fff;}

.H_form .tit span{display: block; font-weight: bold;font-size: 2.0625rem;}

.H_form .tit form{width: 85%;}

.H_content2{margin-top: var(--top-space); counter-reset:section}

.H_content2 li{width: 100%;display: flex;margin-bottom: 30px;}

.H_content2 li:nth-child(odd){flex-direction: row-reverse;}

.H_content2 .left_img{width: 50%;}

.H_content2 .right_txt{width: 50%;padding: 1% 6%;}

.H_content2 .right_txt>a{display: none;}

.H_content2 .left_img img{width: 100%;height: auto; object-fit: cover;}

.H_content2 .tit{display: flex;display: -webkit-flex;align-items: center;}

.H_content2 .tit .num{width: 6.375rem;height:6.375rem; border-radius: 50px; border: 1px solid var(--font-color);display: flex;justify-content: center;align-items: center;}

.H_content2 .tit .num p{position: relative;}

.H_content2 .tit .num p:after{counter-increment:section; content:"0" counter(section); font-size: 2.25rem;line-height: 134%; text-align: center;}

.H_content2 .tit h1{margin-left: 8%; font-weight: bold;color: var(--font_color);font-size: 1.875rem;line-height: 150%;}

.H_content2 .tit h1::first-letter{color: var(--i_color);}

.H_content2 .introduct{

	margin: 2.5rem 0; font-size: 1rem;line-height: 200%;color:var(--font_color);

	overflow:hidden; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:3;

}

.H_content2 .recommend{margin-top: 13%; width: 100%; border-bottom: 1px solid #d9d9d9;padding: 0.5% 0;display: flex;justify-content: space-between;}

.H_content2 .recommend span{font-size: .875rem; line-height: 170%;color: #666;}

.H_content2 .recommend>a{width: 20px;height: 20px; display: block;background: url('static/images/icon_rightmore.svg')no-repeat center;background-size: cover;}



.H_content3{position: relative;}

.H_content3 .bc_img{position: absolute;top: 0%;left: 0;width: 100%;}

.H_content3 .bc_img img{width: 100%; object-fit: cover;}

.H_content3>.txt{margin: 5% 30% 30% 0%;font-size: .875rem;line-height: 170%;color: var(--font_color);}

.H_content4{display: flex;display: -webkit-flex;flex-wrap: wrap;justify-content: space-between; margin-top: 21%;}

.H_content4>li{width:49%;position: relative;padding: 6% 3% 8%;overflow: hidden;margin-top:15px;}

.H_content4>li .bc_img{position: absolute;top: 0;left: 0;width: 100%;z-index: -1;}

.H_content4>li .img{margin: 0% 42% 0 42%;width: 5.5rem;height: 5.5rem;}

.H_content4>li img{width: 100%;object-fit: cover;}

.H_content4>li>h1{padding: 1.875rem 0; font-size: 1.25rem;line-height: 170%; text-align: center;color: #FFF;}

.H_content4>li>p{margin: 0 10%; font-size: .875rem; line-height: 140%; color: #fff;}

@media screen and (max-width:959px){

	.H_content1{height: 380px;}

	.H_content1>h1,.H_content1>h2,.H_content1>h3,.H_content1 .but{display: none;}

	.H_form_box{display: none;}

    .H_content4,.H_content3 {display: none;} 

	

	.H_content2 li{display: block;}

	.H_content2 .left_img,.H_content2 .right_txt{width: 95%; margin: 0 auto;}

	.H_content2 .tit{display: flex;justify-content: center;}

	.H_content2 .tit .num{display: none;}

	.H_content2 .tit h1{font-weight: normal; font-size: 20px; line-height: 170%;text-align: center;margin: 20px 0 0 0;display: flex;flex-wrap: wrap;}

	.H_content2 .recommend{display: none;}

	.H_content2 .introduct{font-size: 12px;}

	.H_content2 .right_txt>a{display: block;width: 100px; margin: 10px auto;font-weight: bold; font-size: 14px;color: #f9f9f9;background-color: var(--i_color);border-radius: 0;text-align: center;}

}





/* ------------products------------------ */

.P_content2{margin-top:10px;display: flex;display: -webkit-flex;justify-content: space-between;}

.P_content2 .left_list{width: 21%;}

.P_content2 .left_list .img{width: 100%;object-fit: cover;}

.P_content2 .left_list .img img{width: 100%;}

.P_content2 .left_list>ul{padding-bottom: 60px;box-shadow: 1px 1px 4px 2px #eee}



.P_content2 .left_list .tit{background-color: var(--i_color);color: #fff;display: flex;display: -webkit-flex;justify-content: space-between;align-items: center;padding: 6% 4%}

.P_content2 .left_list .tit span{font-size: 1.25rem}

.P_content2 .left_list .tit img{width: 22px;height: 22px;}

.P_content2 .left_list a{

	display: block;

	font-size: 16px;

	line-height: 100%;

	color: #666;

	text-align: left;

	margin-bottom: 8px;

	border-bottom: 1px solid #eee;

	padding: 8px 3% 8px 3%;

	overflow:hidden;

    text-overflow:ellipsis;

    white-space:nowrap;

}



.P_content2 .img_container{width: 79%;}

.P_content2 .img_container>li{margin-bottom: 20px;}

.P_container{display: flex;}

.P_container .left_box{width: 50%;position: relative;overflow: hidden; margin: 0 5%;}

.P_container .left_box img{position: absolute;width: 100%; height: 100%;left: 50%;top: 50%;transform: translate(-50%,-50%);object-fit: cover;}

.P_container .left_box::before{content: '';display: block;padding-bottom: 64%;}



.P_container .right_box{width: 50%;}

.P_container .right_box>h1{border-bottom: 1px solid #666; margin-top: 5px; padding: 5px 0;font-weight: bold; font-size:16px;line-height: 140%;color: #4d4d4d;}

.P_container .right_box .txt{padding: 5px 0; font-size: 14px; line-height: 170%; color: #666;}

.P_container .right_box .txt>p{ overflow:hidden; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:3;}

.field_but{margin: .625rem auto .625rem 0;width: 140px; font-size: 12px;color: #f9f9f9;background-color: var(--i_color);border-radius: 25px;text-align: center;line-height: 200%;}

.field{display: flex;flex-wrap: wrap;margin-top: 30px;}

.field>li{padding: 3px; position: relative; font-size: 12px; color: #959595;margin: 0 5% 5% 0;}

.field>li:hover{color: var(--normal_color); transition: 0.3s ease;}

.field>li::before{

	content: '';

	width: 5px;

	height: 5px;

	background-color: #959595;

	position: absolute;

	top: 8px;

	left: -7px;

}

.field>li:hover::before{background-color: var(--normal_color); transition: 0.3s ease;}



@media screen and (max-width:959px){

    .P_content2{display: block;}

	.P_content2 .left_list{width: 95%; margin: 0 auto;}

	.P_content2 .left_list .img{display: none;}

	.P_content2 .left_list .tit{padding: 1% 4%;}

	.P_content2 .left_list>ul{padding-bottom: 0;}

	.P_content2 .img_container{width: 100%;}

	.P_container{display: block;}

	.P_container .left_box,.P_container .right_box{width: 95%;margin: 0 auto;}

	.P_container .right_box>h1{text-align: center;}

	.P_container .right_box .but{ padding: 2px 0;font-weight: bold;font-size: 14px;width: 160px;}

	.P_container .right_box .field{flex-direction: column;margin: 20px 0  0 30px;}

	.P_container .right_box .field>li{margin: 0 0 15px 0;}

	.P_container .right_box .field>li::before{border-radius: 3px;}

}





/* --------------------products详情页------------------------------ */

.PD_content>p{font-weight: bold;}

.PD_right_list{width: 79%;margin-left: 2%;}

.PD_detail{display: flex; border-top: 1px solid #eee;padding-top: 20px;margin-bottom: 20px;}

.PD_detail .left_box,.PD_detail .right_box{width: 50%;}

.PD_detail .left_box{margin: 0 3%;}

.PD_detail .left_box>h1{margin-bottom: 20px; border-bottom: 1px solid #666; text-align: center; font-weight: bold; font-size: 1.5rem;line-height: 200%;color:#333;}

.PD_detail .left_box .txt,.PD_detail .left_box .introduce{

	font-size: 14px;

	line-height: 170%;

	color: #666;

}

.PD_detail .left_box .introduce{margin-top: 20px;}

.PD_detail .right_box{position: relative;overflow: hidden;}

.PD_detail .right_box img{position: absolute;width: 100%; height: 100%;left: 50%;top: 50%;transform: translate(-50%,-50%);object-fit: cover;}

.PD_detail .right_box::before{content: '';display: block;padding-bottom: 64%;}

.PD_right_list .field_but{margin:6% 0 0 3%}

.PD_right_list .field{margin-left: 3%;}

.PD_figure{width: 100%;display: flex;display: -webkit-flex; justify-content: space-between;}

.PD_figure>li{position: relative;overflow: hidden;width: calc(100%/3 - 10px);}

.PD_figure>li::before{content: '';display: block;padding-bottom: 64%;}

.PD_figure>li img{position: absolute;width: 100%; height: 100%;left: 50%;top: 50%;transform: translate(-50%,-50%);object-fit: cover;}

.PD_form>h1{margin: 2% 0;padding-bottom: 5px; font-size: 16px;font-weight: bold;line-height: 175%;color:#434343;border-bottom: 1px solid #d9d9d9;}

@media screen and (max-width:959px){

	.PD_right_list{width: 98%; margin: 0 auto;}

	.PD_detail{display: block; border: none;}

	.PD_detail .left_box{margin: 0;}

	.PD_detail .left_box, .PD_detail .right_box{width: 100%;}

	.PD_detail .left_box>h1{font-size: 20px;padding-bottom: 5px;}

	.PD_detail .left_box .txt, .PD_detail .left_box .introduce{font-size: 12px;}

	.PD_right_list .field_but{margin:6% auto 3%;font-weight: bold;font-size: 14px; width: 160px;padding: 3px 0;}

	.PD_right_list .field{flex-direction: column;margin-left: 10%;}

	.PD_right_list .field>li{margin: 0 0 2% 0;}

	.PD_right_list .field>li::before{width: 10px;height: 10px;border-radius: 5px;top: 5px;left: -13px;}

}





/* --------------------about------------------------------ */

.A_content1{background-color: #f5f5f5;}

.about_class{display: flex;display: -webkit-flex;justify-content: flex-start;}

.about_class>li{width: 20%;}

.about_class>li>a{padding:12px 0; display: block;font-size: 16px;color: #666;text-align: center;margin-right: 2%;}

.about_class>li>a:hover{background-color:var(--i_color);color: #fff;}

.a_tit{position: relative; font-size: 1.875rem;line-height: 170%;color: var(--i_color);text-align: center;}

.a_liner{width: 150px;height: 3px;background-color: var(--normal_color);margin: 1% 32% 0 53%;}

.a_introduce{margin: 1.875rem auto;font-size: 14px;line-height: 170%;color: #8f8f8f;}

.A_slogan>h1,.A_slogan>h2{font-weight: normal;margin-left: 22%;}

.A_mapcontent{margin: 20px auto;position: relative;padding-top: 8.8%;overflow: hidden;}

.A_mapcontent>img{position: absolute;top: 0;left: 0;width: 100%;height: auto;z-index: -1;}

.A_mapcontent .txt1{margin: 0% 21% 1.875rem 21%;padding: 1% 5%;font-size: 12px; line-height: 170%; color: #8f8f8f;box-shadow: 0px 0px 4px 0px var(--normal_color);border: 1px solid var(--i_color);background-color: rgba(255,255,255,.6);}

.A_mapcontent .txt1 span,.A_mapcontent .text span{color: #ff0000;}

.A_mapcontent .tit{margin-left: 50%;font-size: 16px;line-height: 170%; color: #ff0000;text-align: left;}

.A_mapcontent .text{margin: 1% 20% 3% 50%;font-size: 13px;line-height: 170%;color: #666;}

@media screen and (max-width:959px){

	.about_class>li{flex: 1;}

	.a_tit{font-size: 20px;}

	.a_liner{width: 98%; margin: 1% auto;}

	.a_introduce{font-size: 13px;padding: 0 1%;}

	.A_mapcontent{padding: 1% 0;}

	.A_mapcontent .txt1{margin: 1% 5%;}

	.A_mapcontent .tit{margin-left: 5%;}

	.A_mapcontent .text{margin: 1% 0 0 5%;}

}



/* ---------------about_workshop----------------- */

/* .a_tit>p:first-child{font-style: italic;} */

.a_futit{margin: 1.625rem 0 1.875rem;font-size: 14px; line-height: 170%;color: #5e6061;text-align: center;}

.AW_content1{display: flex;display: -webkit-flex;justify-content: space-between;margin: 30px auto;}

.AW_content1>li{width: calc(100%/4 - 10px);display: flex;flex-direction: column;align-items: center;border-right: 1px solid #cfd4e3;}

.AW_content1>li:first-child{border-left: 1px solid #cfd4e3;}

.AW_content1>li>p{font-size: 16px;text-align: center;color: #5e6061;margin: 30px 0;}

.AW_content1>li>img{width:4.5rem;margin-top: 30px;}

.AW_content2{margin: 30px auto;}

.AW_content2 .txt{margin-left: 10px; font-size: 13px;line-height: 192%;color: #666;position: relative;}

.AW_content2 .txt::before{width: 5px;height: 5px;top: 8px;left: -16px; position: absolute;content: ''; background-color: var(--i_color); border-radius: 5px;}

@media screen and (max-width:959px){

	.about_class>li>a{font-size: 14px;}

	.AW_content1>li>img{width: 70px;}

	.AW_content1{width: 98%;margin: 2% auto;}

}





/* ---------------about_honor----------------- */

.ah_tit{margin: 10px 0 6px 10px; font-size: 1.5rem;color: var(--i_color);position: relative;}

.ah_tit::before{width: 8px;height: 8px;top: 8px;left: -16px; position: absolute;content: ''; background-color: var(--i_color); border-radius: 5px;}



/* honor轮播 */

.i_partner_list{

	width:100%; 

	padding:0; 

	margin:0 auto; 

	position:relative; 

	overflow:hidden; 

	z-index:1;

}

.i_partner_list .swiper-wrapper{display:flex; position:relative; width:100%; z-index:1}

.i_partner_list .swiper-slide{

	display:-webkit-box;

	display:-ms-flexbox;

	display:-webkit-flex;

	display:flex;

	flex-shrink:0;

	position:relative;

	cursor:pointer;

}

/* .i_partner_list .img{width:100%; box-sizing:border-box; border:1px solid rgba(0,0,0,.2); position:relative; overflow:hidden} */

/* .i_partner_list .img:before{content:""; display:block; padding-bottom:50%} */

/* .i_partner_list .img img{opacity:.5; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); max-width:70%; max-height:60%; filter:grayscale(1); -webkit-filter:grayscale(1); -moz-filter:grayscale(1); -o-filter:grayscale(1); -ms-filter:grayscale(1); object-fit:contain} */

.i_partner_list .img{width: 100%;}

.i_partner_list .img img {width: 100%;height: 100%;object-fit: cover;}

.i_partner_list li:hover img{opacity:1; filter:grayscale(0); -webkit-filter:grayscale(0); -moz-filter:grayscale(0); -o-filter:grayscale(0); -ms-filter:grayscale(0)}

.i_partner_list .img img{-webkit-transition:all .5s ease; -moz-transition:all .5s ease; -ms-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease}

/* 指示器 */

.pt-pagination{display:none; text-align:center; margin:20px auto 0}

.pt-pagination .swiper-pagination-bullet{width:12px; height:12px; display:inline-block; margin:0 5px; background:#BBB; -webkit-border-radius:50%; -moz-border-radius:50%; -o-border-radius:50%; border-radius:50%; outline:none}

.pt-pagination .swiper-pagination-bullet-active{position:relative; background:var(--i_color)}

/* 左右箭头 */

.i_partner .pt-button-prev, .i_partner .pt-button-next{position:absolute; top:50%; transform:translate(0,-50%); width:40px; height:50px; background:rgba(0,0,0,.3); z-index:999; cursor:pointer; outline:none}

.i_partner .pt-button-prev:before, .i_partner .pt-button-next:before{

	position:absolute;

	top:50%;

	left:50%;

	font-size:30px;

	line-height:30px;

	color:#FFF;

	font-family:-apple-system, simsun, system-ui, sans-serif;

	letter-spacing:-2px;

    -ms-transform:translate(-50%,-50%);

    -webkit-transform:translate(-50%,-50%);

    -moz-transform:translate(-50%,-50%);

    -o-transform:translate(-50%,-50%);

	transform:translate(-50%,-50%);

}

.i_partner .pt-button-prev{left:1px}

.i_partner .pt-button-prev:before{content:"<"}

.i_partner .pt-button-next{right:1px}

.i_partner .pt-button-next:before{content:">"}

@media screen and (max-width:1200px){

	.i_partner .pt-button-prev, .i_partner .pt-button-next{display:block}

	.pt-pagination{display:none}

}

@media screen and (max-width:560px){

	.pt-pagination{margin:14px auto 0}

	.pt-pagination .swiper-pagination-bullet{width:10px; height:10px}

}

#honor_list>li{

	box-shadow: 0px 0px 4px 0px #ccc;

	margin: 1% 0%;

	padding: 2%;

	height: 100%;}

#honor_list>li .img{box-shadow: 0px 0px 5px 3px #f2f2f2;}

#honor2_list>li{box-shadow: 0px 0px 4px 0px #ccc;margin: 1% 0;padding: 2%;}

#honor2_list>li .img{box-shadow: 0px 0px 5px 3px #f2f2f2;position: relative;overflow: hidden;}

#honor2_list>li .img img{position: absolute;width: 100%; height: 100%; left: 50%;top: 50%; transform: translate(-50%,-50%); object-fit: cover;}

#honor2_list>li .img::before{content: '';display: block; padding-bottom: 140%;}

@media screen and (max-width:959px){

	.ah_tit{margin-left: 20px;font-size: 18px;}

	.ah_tit::before{top: 5px;}

}





/* ------------------new------------------- */

.N_tit>p{color: #333;margin: 3.85% 29% 0% 0%;}

.n_liner{width: 30px;margin: 0.4% auto 0;}



.new_bc{height: 80px;overflow: hidden;position: absolute;left: 0;top: 30px;z-index: -1;}

.new_bc img{width: 100%;}



.New_container{margin-top:20px;}

.New_container li {cursor: pointer;margin-bottom: 2%; }

.New_container li a {width: 100%;border-radius: 10px; box-shadow: 0px 0px 4px 0px #cccccc;display: flex;}

.New_container .left_img {width: 25%; margin: 5px 1%; padding: 0px 0.25rem;}

.New_container .left_img img {width: 100%;height: 100%;object-fit: cover;overflow: hidden;}

.New_container .right_txt{width: 75%; padding: 1% 11% 1% 1%; line-height: 170%;}

.New_container .tit_data{display: flex;display: -webkit-flex;align-items: center;}

.New_container .tit_data span{font-size: 0.875rem;line-height: 140%;color: var(--i_color);}

.New_container .tit_data i{display: block; width: 30px;height: 30px;background: url('static/images/rili.webp') center no-repeat;background-size: 100% 100%;margin-right: 8px;}

.New_container .tit {

	margin: 0 0% 1% 0%;

	font-weight: bold;

	font-size: 1rem;

	line-height: 140%;

	color: #333;

	text-align: justify;

	overflow:hidden; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2;

}

.New_container .txt{margin: 1% 0;overflow:hidden; display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}

.New_container .right_txt .tit:hover {color:var(--i_color);}

.New_container li:hover {box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);}

.new_but{cursor: pointer; border: 1px solid transparent; position: relative; padding: 8px 3px;width: 160px; font-size: 14px; color: #fff;background-color: var(--i_color);text-align: center;border-radius: 5px;margin: .9375rem 0 10px auto;}

.new_but::after{

	content: '';

	position: absolute;

	display: block;

	left: 85%;

	bottom: 33%;

	border: 6px solid transparent;

	border-bottom-color: #fff;

	transform: rotate(90deg);

}

.new_but:hover{background-color: #fff;border: 1px solid var(--i_color);color: var(--i_color);transition: 0.3s ease;}

.new_but:hover::after{border-bottom-color: var(--i_color)}

@media screen and (max-width:959px){

	.New_container{width: 98%; margin: 0 auto;}

	.New_container .left_img{width: 40%;}

	.New_container .tit{font-size: 14px;}

	.New_container .right_txt{width: 60%;}

	.New_container li{margin-bottom: 16px;}

	.N_tit>p{margin: 1.85% 29% 0% 0%;}

}



/* --------------------News详情页------------------------------ */

@media screen and (min-width:960px){

	.New_D_container h1{font-size: 1.25rem; line-height: 140%; color: #000; text-align:center;padding: 0px 8%;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

}

.New_D_container h2{margin-top: 1.3%;padding: 0.5% 0;font-size: 14px;color: #aca6a6; text-align: center;background-color: #eeeeee;}

.New_D_container .introduce{font-size: 14px; line-height: 24px; color: #666;text-align: justify;margin: 20px 0;}

.New_D_container .img_box{width: 80%; margin: 20px auto;}

.New_D_container .img_box img{width: 100%; object-fit: contain; overflow: hidden;margin: 1.7% 0;}

.New_D_container .page_queue{width: 100%; border-top: 1px solid #d9d9d9;border-bottom: 1px solid #d9d9d9;}

.New_D_container .page_queue p{font-size: 14px; line-height: 30px;color: #666;}

@media screen and (max-width:959px){

	.New_D_container h1{font-size: 16px; line-height: 140%; color: #000; text-align:center;padding: 0 5%;}

	.New_D_container .img_box{width: 100%;}

	.New_D_container .introduce{padding:2%;}

	.New_D_container .page_queue p{margin-left: 2%;}

}





/* ---------------contact------------------- */

.C_content{display: flex;justify-content: space-between;margin: 30px auto;}

.C_content>ul,.C_content .C_form{width: 50%;}

.C_content>ul{padding: 0 3%;}

.C_content li{margin-bottom:1.5rem; overflow:hidden; display:-webkit-flex;
cursor: pointer; display:flex; flex-wrap:nowrap}

.C_content li i{display:block; margin-right:10px; width:20px; height:20px}

.C_content li i img{height:100%}

.C_content li span, .C_content li span a{display:inline-block; font-size:16px; color:#666; line-height:150%;overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;}

.C_content li:hover span{color:var(--i_color)}
.C_content li:hover a{color:var(--i_color)}

.c_tit{margin-bottom: 1.5rem;font-weight: bold;font-size: 1.375rem; line-height: 170%;color: #4d4d4d;}

.C_content .new_but{width: 180px; margin: 0.9375rem 0 10px 0;border-radius: 25px;}

.map{background-color: #eee;overflow: hidden;margin: 1.875rem auto;}

@media screen and (max-width:959px){

	.map{display: none;}

	.n_liner{width: 98%; margin:0 auto;}

	.C_content {display: block;}

	.C_content>ul,.C_content .C_form{width: 98%; margin: 0 auto;}

	.c_tit{font-size: 18px;}

	.C_content li{margin-top: 20px;}

	.C_content li i{width: 35px;height: 35px;margin-right: 20px;}

	.C_content .new_but{margin: 1% auto;}

}



/* --------------------Search------------------------------ */

.serch {margin-top: var(--head_height);width: 100%;background-color: #f0eeee;height: 170px;}

.serch .serch_input {

	display: flex;

	justify-content: space-between;

	align-items: center;

	border: 1px solid var(--i_color);

	border-radius: 25px;

	position: relative;

	top: 50%;

	transform: translateY(-50%);

	width: 40%;

	margin: 0 auto;

  }

  .serch .serch_input input {

	width: 100%;

	padding: 8px 15px;

	overflow: hidden;

	text-overflow: ellipsis;

	font-size: 14px;

	font-family: 微软雅黑;

	color: #666;

	border: none;

	border-radius: 50px;

  }

.serch .serch_input input:focus {outline: none;}

.serch .serch_input p {

	width: 30px;

	height: 30px;

	background-color: #2196f3;

	border-radius: 50%;

	display: flex;

	align-items: center;

	justify-content: center;

	color: #fff;

}



.search_input {

	display: block;

	position: absolute;

	top: 50%;

	right: -21px;

	transform: translate(-50%, -50%);

	width: 20px !important;

	height: 20px !important;

	background-image: url("static/images/ico-search.svg") !important;

	background-position: center !important;

	background-repeat: no-repeat !important;

	background-size: 50% 50%;

	margin-left: 0px !important;

	cursor: pointer;

  }



.search_input2 {

	width: 38px !important;

	height: 38px !important;

	background-color: var(--normal_color);

}

.serch_input {

	position: relative;

}

@media screen and (max-width: 960px) {

	.serch .serch_input {width: 80%;}



}

.S_img_container{display: flex; justify-content: flex-start; flex-wrap: wrap;}

.S_img_container li{width: calc(100%/4 - 5px); padding: 5px; margin-bottom: 20px;margin-right: 4px;}

.S_img_container li a{display: block;padding: 5px; border: 1px dashed #ccc;}

.S_img_container .img_tit{color:#666;font-weight: bold; line-height: 24px;text-align: center;font-size: 16px;}

.S_img_container .img_txt{padding-left: 2%; font-size: 12px;color: #666;line-height: 24px; overflow:hidden; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2;}

.img_box{width: 100%;padding: 2%; border-radius: 25px;}

.img_box .img{position: relative;overflow: hidden;}

.img_box .img::before{content: '';display: block;padding-bottom: 69%;}

.img_box img{width:100%; height: 100%;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);object-fit: cover;}

@media screen and (max-width:959px){

    .Search{margin-top: 60px;}

	.Search input{padding: 5px 90px 5px 10px;}

	.S_img_container{justify-content: center;}

	.S_img_container li{width: 47%;}

	.S_img_container li p{font-size: 14px;overflow:hidden; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:3;}

}





/* thank */

.thanks {margin: 80px auto 300px;text-align: center;overflow: hidden;}

.thanks h2 {margin-bottom: 20px;font-size: 30px;color: #222;font-weight: bold;}

.thanks a {display: inline-block;padding: 0 40px;background: var(--i_color);line-height: 38px;font-size: 15px;color: #fff;}



@media screen and (max-width: 1200px) {

	.thanks {margin-top: 60px;}

	.thanks h2 {font-size: 26px;}

}

@media screen and (max-width: 767px) {

	.thanks {margin: 40px auto 70px;}

	.thanks h2 {font-size: 22px;}

  }

@media screen and (max-width: 560px) {

	.thanks h2 {font-size: 18px;}

}





/* ------------------privacy------------ */

.privacy_position{

	margin-top: 120px;

}

.foot_privacy {

	font-size: 14px;

	color: white;

  }

.Privacy:hover {

color: var(--i_color);

}

  

.privacy_cont .tit {margin-bottom: 30px;}

.privacy_cont .tit h2 {font-size: 24px;text-align: center;font-weight: bold;}

.privacy_cont article,

.privacy_cont article * {font-size: 14px;color: #666;line-height: 24px;}

.privacy ol {padding: 0px;}

@media screen and (max-width:959px){

    .privacy {width: 96%;}

}





/* -------------404--------------- */

.in404{position:absolute; top:0; left:0; width:100%; height:100%; background:#FFF}

.in404_text{position:absolute; top:44%; left:50%; transform:translate(-50%,-50%); width:80%; text-align:center}

.in404_text h1{font-size:220px; color:#BBB}

.in404_text h6{margin:10px auto 30px; font-size:18px; color:#999}

.in404_text a{display:inline-block; padding:0 40px; line-height:32px; font-size:15px; color:#999; border:2px solid #DDD; -webkit-border-radius:100px; -moz-border-radius:100px; border-radius:100px}

@media screen and (max-width:959px){

        .in404_text h1{font-size:180px}

}

@media screen and (max-width:767px){

        .in404_text h1{font-size:140px}

        .in404_text h6{font-size:16px}

        .in404_text a{font-size:14px}

}

@media screen and (max-width:560px){

        .in404_text h1{font-size:70px}

        .in404_text h6{margin:10px auto 18px; font-size:14px; line-height:20px}

        .in404_text a{font-size:13px}

}





/* ···············home_form············ */

.H_form{display: flex;justify-content: space-between;}

#wpforms-26{ width: 75%;position: relative;overflow: hidden;}

#wpforms-submit-26{position: absolute; right: 0; top: -45px;}

.wpforms-field-label{display: none !important;}

#wpforms-26 .wpforms-field-container{display: flex !important;}

#wpforms-26-field_7{height: 38px !important;}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium, div.wpforms-container-full .wpforms-form select.wpforms-field-medium, div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium{max-width: 100% !important;}

#wpforms-26-field_4-container,#wpforms-26-field_5-container,#wpforms-26-field_7-container{margin-right: 38px;}

#wpforms-26 input,#wpforms-26 textarea{border-radius: 5px !important;}

div.wpforms-container-full{margin: 0 !important;}

#wpforms-26-field_4-container,#wpforms-26-field_5-container,#wpforms-26-field_7-container{position: relative;}

#wpforms-26-field_4-container::after,#wpforms-26-field_5-container::after,#wpforms-26-field_7-container::after{

	content: '*';

	position: absolute;

    top: 22px;

    right: -10px;

    font-size: 16px;

    color: #F00;

}

.H_form {position: relative;}

.H_form> .img{position: absolute;top: 13px; right: 1px;width: 80px;height: 37px;background-color: var(--i_color);}

.H_form> .img img{width: 30px;height: 30px;}

#wpforms-submit-26{opacity: 0;}



/* ··················footer_form············ */

#wpforms-29-field_1-container>input{height: 28px !important;}

#wpforms-29-field_2{height: 80px;}

#wpforms-form-29{margin-right: 10px;}

#wpforms-29-field_1-container,#wpforms-29-field_2-container{position: relative;}

#wpforms-29-field_1-container::after,#wpforms-29-field_2-container::after{

	content: '*';

	position: absolute;

    top: 22px;

    right: -10px;

    font-size: 16px;

    color: #F00;

}

#wpforms-29-field_1-container input,#wpforms-29-field_2-container textarea{border-radius: 5px;}

#wpforms-submit-29{border-radius: 5px;}



/* ··················contact_form············ */

#wpforms-form-32>.wpforms-field-container{display: flex;flex-wrap: wrap;width: 100%;justify-content: flex-start;}

#wpforms-32-field_2-container,#wpforms-32-field_4-container{margin-right: 19.9px;}

#wpforms-32-field_6-container{width: 100%;}

#wpforms-32-field_2-container,#wpforms-32-field_3-container,#wpforms-32-field_4-container,#wpforms-32-field_5-container{

	width: calc(100%/2 - 10px);

}

#wpforms-32-field_2-container input,#wpforms-32-field_3-container input,

#wpforms-32-field_4-container input,#wpforms-32-field_5-container input,

#wpforms-32-field_6-container textarea{

	border: none !important;

	background-color: #f6f3f3;

	border-radius: 5px;

}

#wpforms-32-field_6-container textarea::placeholder{color: #aaa;}

#wpforms-submit-32{border: 1px solid transparent; position: relative; padding: 8px 3px;width: 160px; font-size: 14px; color: #fff;background-color: var(--i_color);text-align: center;border-radius: 25px;margin: .9375rem 0 10px auto;}

#wpforms-submit-32::after{

	content: '';

	position: absolute;

	display: block;

	left: 85%;

	bottom: 33%;

	border: 6px solid transparent;

	border-bottom-color: #fff;

	transform: rotate(90deg);

}

#wpforms-submit-32:hover{background-color: #fff;border: 1px solid var(--i_color) !important;color: var(--i_color);transition: 0.3s ease;}

#wpforms-submit-32:hover::after{border-bottom-color: var(--i_color);}

#wpforms-32-field_4-container,

#wpforms-32-field_6-container{position: relative;}

#wpforms-32-field_4-container::after,#wpforms-32-field_6-container::after{

	content: '*';

	position: absolute;

    top: 22px;

    right: -10px;

    font-size: 16px;

    color: #F00;

}

#wpforms-32-field_6{height: 80px;}



/* ··················product_form············ */

#wpforms-84 .wpforms-field-label{display: block !important; font-size: 14px; font-weight: normal;}

#wpforms-84 .wpforms-field-container{display: flex; flex-wrap: wrap;justify-content: space-between;}

#wpforms-84-field_4-container{width: 100%;}

#wpforms-84-field_1-container,#wpforms-84-field_2-container,

#wpforms-84-field_3-container{

	width: calc(100%/3 - 10px);

}

#wpforms-84-field_3-container .wpforms-required-label{display: none;}

#wpforms-submit-84{padding: 10px; width: 200px; color: #f9f9f9; background-color:var(--i_color);border-radius: 5px;font-size: 15px;margin: 20px 38% ;}

#wpforms-84-field_3-container,#wpforms-84-field_4-container{position: relative;}

#wpforms-84-field_3-container::after,#wpforms-84-field_4-container::after{

	content: '*';

	position: absolute;

    top: 46px;

    right: -10px;

    font-size: 16px;

    color: #F00;

}



/* ·····················pop_form··········· */

.pop_form{

	display: block; 

	padding: 0% 2% 1%;

	width: 46.25rem; background-color: rgba(67,67,67,0.7);position: fixed; z-index: 2;left: 50%;top: 50%; transform: translate(-50%, -50%);}

.pop_form form{margin: 2% ;}

.pop_form .p_tit{margin: 1.0625rem 0% 1.25rem; font-weight: bold; font-size: 1.75rem; line-height: 140%; color: #fff; text-align: center;}

.pop_form img{transition: 0.5s;width: 40px; height: 40px; padding: 5px; border-radius: 50%; background-color: #fff; border: 1px solid #eee;box-shadow:0px 0px 4px 0px #eee; position: absolute; left: 96%;top: -15px;}

.pop_form img:hover{background-color: #eee;transform: rotate(90deg);transition: all 0.5s ease-in-out;}

div.wpforms-container-full .wpforms-form input[type=submit], div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form .wpforms-page-button{border: none !important;}

@media screen and (max-width:959px){

	.pop_form{width: 80%;}

	.pop_form .p_tit{font-size: 20px;}

	#wpforms-submit-32{margin: 1% 40% !important;}

}

/* 激活样式 */

.active a{color: var(--normal_color) !important;}

#cd-navigation .current-menu-item>a {color: var(--i_color) !important;}


/* -------------------------- 侧边客服 ------------------------------- */
.aside_right{position:fixed; right:0; bottom:10%; z-index:999999}
.aside_right ul{}
.aside_right li{position:relative; cursor:pointer}
.aside_right li>a{display:block; width:48px; height:48px; background:rgba(0,0,0,.7); display:flex; justify-content:center; align-items:center; z-index:3}

.aside_right li img{display:block; margin:0 auto; width:20px; height:20px; object-fit:contain}

.aside_right li:hover>a{background:var(--i_color)}

.side_tel_box, .side_qr_box{position:absolute; box-shadow:-1px 2px 6px rgba(0,0,0,.2); display:flex; justify-content:center; align-items:center; z-index:-1}
.side_tel_box{top:0; right:-300px; width:180px; min-height:100%; background:#FFF}
.side_qr_box{top:50%; transform:translate(0,-50%); right:-180px; width:120px; height:120px; background:#FFF}

.side_tel_box h6{padding:8px 0; font-size:14px; color:#666}
.side_tel_box h6 a{line-height:20px}
.side_tel_box a:hover{color:var(--i_color)}
.side_qr_box img{width:90%; height:90%}

.aside_right li:hover .side_tel_box, .aside_right li:hover .side_qr_box{right:48px}

.side_tel_box, .side_qr_box{-webkit-transition:all .3s ease; -moz-transition:all .3s ease; -ms-transition:all .3s ease; -o-transition:all .3s ease; transition:all .3s ease}

.close{position:absolute; top:20px; right:20px; display:block; width:30px; height:30px; background:url(static/images/public/close_1_bai.svg) no-repeat center; background-size:contain}
.close:hover{-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg)}
.close{-webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -ms-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition:all 0.5s ease}


/* 弹出窗口 */
#aside_mask_bg{display:none; position:fixed; top:0%; left:0%; width:100%; height:100%; background:rgba(0,0,0,.6); z-index:9999999999998}
#aside_sc_from{display:none; position:fixed; top:50%; left:50%; transform:translate(-50%,-50%); width:740px; padding:60px 80px; background:rgb(0 0 0 / 70%); z-index:9999999999999; overflow:auto}
#aside_sc_from .tit{margin-bottom:40px}
#aside_sc_from .tit h1{font-size:26px; color:#FFF; font-weight:bold; line-height:30px}

/* 关闭按钮 */
.close{position:absolute; top:20px; right:20px; display:block; width:30px; height:30px; background:url(static/images/ico-cha.svg) no-repeat center; background-size:contain}
.close:hover{-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg)}
.close{-webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -ms-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition:all 0.5s ease}


/* 弹出表单 */
#wpforms-166{--input_font_size:15px; --input_height:42px}
#wpforms-166{width:100%; margin:0 auto; padding:0}
#wpforms-form-130{width:100%; overflow:hidden}

#wpforms-166 input, #wpforms-166 button{margin:0; padding:0; border:none; background:none}
#wpforms-166 .wpforms-field{padding:0; margin:0}
#wpforms-166 .wpforms-error-container{line-height:16px}

#wpforms-166 .wpforms-field-container{width:100%; display:-webkit-flex; display:flex; flex-wrap:wrap; overflow:hidden}
#wpforms-166 .wpforms-submit-container{padding:0!important; width:200px; height:var(--input_height); background:var(--i_color); position:relative}

#wpforms-166 .wpforms-field-label{display:block!important}
#wpforms-166 .wpforms-field-label{font-size:0}
#wpforms-166 .wpforms-required-label{font-size:16px; color:#f00; position:absolute; top:12px; left:5px}
#wpforms-166 .wpforms-field{width:100%; margin-bottom:10px; padding-bottom:20px; background:transparent; position:relative; overflow:hidden}
#wpforms-166 .wpforms-field:nth-child(1){margin-right:20px}
#wpforms-166 .wpforms-field:nth-child(1), #wpforms-166 .wpforms-field:nth-child(2){width:calc(50% - 10px)}
#wpforms-166-field_3{background: transparent;border: none;}

#wpforms-166 input{height:var(--input_height)}
#wpforms-166 textarea{min-height:100px}
#wpforms-166 input, #wpforms-166 textarea{width:100%; max-width:100%!important; min-width:100%!important; font-size:var(--input_font_size); color:#FFF; box-sizing:border-box; border-bottom:1px solid rgba(255,255,255,.7); line-height:var(--input_height); padding:0 16px; font-weight:300}

#wpforms-166 input::-webkit-input-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}
#wpforms-166 input::-moz-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}
#wpforms-166 input::-moz-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}
#wpforms-166 input::-ms-input-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}
#wpforms-166 textarea::-webkit-input-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}
#wpforms-166 textarea::-moz-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}
#wpforms-166 textarea::-moz-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}
#wpforms-166 textarea::-ms-input-placeholder{color:rgba(255,255,255,.7); font-size:var(--input_font_size)}

#wpforms-166 #wpforms-166-field_1-error, #wpforms-166 #wpforms-166-field_2-error, #wpforms-166 #wpforms-166-field_3-error, #wpforms-166 #wpforms-166-field_4-error{position:absolute; font-size:12px}

#wpforms-166 .wpforms-submit-container button{width:100%; height:var(--input_height); font-size:16px; color:#FFF; line-height:var(--input_height); cursor:pointer; text-transform:uppercase; position:relative; z-index:2}
#wpforms-166 .wpforms-submit-container img{position:absolute; top:50%; transform:translate(0,-50%); right:4px}
#wpforms-166 .wpforms-submit-container:hover{background:var(--i_color)}

@media screen and (max-width:1440px){
	
}
@media screen and (max-width:1366px){
	
}
@media screen and (max-width:1200px){
	.aside_right a{width:42px; height:42px}
	.aside_right em{width:18px; height:18px}
}
@media screen and (max-width:959px){
	.aside_right{display:none}
}
@media screen and (max-width:767px){
	
}
@media screen and (max-width:560px){
	
}