/* 初始化 */
html {
	-webkit-text-size-adjust: 100% !important;
	text-size-adjust: 100% !important;
	-moz-text-size-adjust: 100% !important;
	-webkit-overflow-scrolling: touch;
	direction: ltr !important;
	/* scroll-padding-top: 150px;
	scroll-behavior: smooth */
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
img {
	margin: 0;
	padding: 0;
}

body,
button,
input,
select,
textarea {
	font: normal 13px Arial, system-ui, -apple-system, Microsoft Yahei, tahoma, sans-serif
}

button,
input,
textarea,
select {
	font-size: inherit;
	font-weight: inherit;
	border: 0;
	outline: 0
}

ul,
ol,
li {
	list-style: none
}

fieldset,
img {
	border: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
code,
dfn,
em,
var,
i,
b,p,dd,dt {
	font-style: normal;
	font-weight: normal;
	line-height: 150%;
}

a {
	text-decoration: none;color: #333;
}

input,
textarea {
	outline-style: none
}



/* wpforms表单插件生成代码初始化 */
.wpforms-container .wpforms-confirmation-scroll,
.wpforms-container .wpforms-error-container {
	line-height: 16px
}

.wpforms-field-container .wpforms-field {
	padding: 0;
	margin: 0
}

.wpforms-field-container input,
.wpforms-field-container textarea {
	margin: 0;
	padding: 0;
	border: none;
	background: none
}

/* 全局表单文字 */
input::-webkit-input-placeholder {
	color: #AAA;
	font-size: .15rem
}

input::-moz-placeholder {
	color: #AAA;
	font-size: .15rem
}

input:-moz-placeholder {
	color: #AAA;
	font-size: .15rem
}

input:-ms-input-placeholder {
	color: #AAA;
	font-size: .15rem
}

/*滚动条*/
::-webkit-scrollbar {
	width: 6px;
	height: 8px
}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #ddd
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	background: #F1F1F1
}

/* 复制选中 */
::selection {
	background: #338FFF;
	color: #FFF
}
::-moz-selection {
	background: #338FFF;
	color: #FFF
}
::-webkit-selection {
	background: #338FFF;
	color: #FFF
}

.fl {
	float: left
}
.fr {
	float: right
}
.container {
	overflow: hidden
}
.df {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.pr {
	position: relative
}
.clear {
	clear: both
}



/* font size */
.fz18 {
	font-size: 18px;
	line-height: 26px;
}
.fz17 {
	font-size: 17px;
	line-height: 24px;
}
.fz16 {
	font-size: 16px;
	line-height: 24px;
}
.fz15 {
	font-size: 15px;
	line-height: 22px;
}
.fz14 {
	font-size: 14px;
	line-height: 20px;
}
.fz13 {
	font-size: 13px;
	line-height: 20px;
}
.fz12 {
	font-size: 12px;
	line-height: 18px;
}
@media screen and (max-width:1440px) {
	.fz18 {
		font-size: 17px;
		line-height: 24px;
	}
	.fz17 {
		font-size: 16px;
		line-height: 22px;
	}
}
@media screen and (max-width:1366px) {
	.fz18 {
		font-size: 16px;
		line-height: 22px;
	}
	.fz17 {
		font-size: 16px;
	}
	.fz16 {
		font-size: 15px;
		line-height: 22px;
	}
}
@media screen and (max-width:1200px) {
	.fz16 {
		font-size: 15px;
	}
}
@media screen and (max-width:1024px) {
	.fz18 {
		font-size: 15px;
		line-height: 20px;
	}
	.fz17 {
		font-size: 14px;
	}
}
@media screen and (max-width:768px) {
	.fz18 {
		font-size: 14px;
	}
	.fz17 {
		font-size: 14px;
		line-height: 20px;
	}
	.fz16 {
		font-size: 14px;
	}
	.fz15,
	.fz14 {
		font-size: 13px;
		line-height: 18px;
	}
}
@media screen and (max-width:560px) {}





/* filleted corner */
.o40 {
	-webkit-border-radius: .4rem;
	border-radius: .4rem;
}
.o30 {
	-webkit-border-radius: .3rem;
	border-radius: .3rem;
}
@media screen and (max-width:1024px) {
	.o40 {
		-webkit-border-radius: .3rem;
		border-radius: .3rem;
	}
	.o30 {
		-webkit-border-radius: .24rem;
		border-radius: .24rem;
	}
}
@media screen and (max-width:768px) {
	.o40 {
		-webkit-border-radius: .2rem;
		border-radius: .2rem;
	}
	.o30 {
		-webkit-border-radius: .2rem;
		border-radius: .2rem;
	}
}



/* spacing */
.m140 {
	margin-top: 1.4rem;
	margin-bottom: 1.4rem;
}
.m120 {
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
}
.m100 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.m80 {
	margin-top: .8rem;
	margin-bottom: .8rem;
}
.m70 {
	margin-top: .7rem;
	margin-bottom: .7rem;
}
.m60 {
	margin-top: .6rem;
	margin-bottom: .6rem;
}
.m50 {
	margin-top: .5rem;
	margin-bottom: .5rem;
}
.m40 {
	margin-top: .4rem;
	margin-bottom: .4rem;
}
.m30 {
	margin-top: .3rem;
	margin-bottom: .3rem;
}
.mt140 {
	margin-top: 1.4rem;
}
.mt120 {
	margin-top: 1.2rem;
}
.mt100 {
	margin-top: 1rem;
}
.mt80 {
	margin-top: .8rem;
}
.mt70 {
	margin-top: .7rem;
}
.mt60 {
	margin-top: .6rem;
}
.mt50 {
	margin-top: 0.5rem;
}
.mt40 {
	margin-top: 0.4rem;
}
.mt30 {
	margin-top: 0.3rem;
}
.mb140 {
	margin-bottom: 1.4rem;
}
.mb120 {
	margin-bottom: 1.2rem;
}
.mb100 {
	margin-bottom: 1rem;
}
.mb80 {
	margin-bottom: .8rem;
}
.mb70 {
	margin-bottom: .7rem;
}
.mb60 {
	margin-bottom: .6rem;
}
.mb50 {
	margin-bottom: 0.5rem;
}
.mb40 {
	margin-bottom: 0.4rem;
}
.mb30 {
	margin-bottom: 0.3rem;
}
@media screen and (max-width:1440px) {
	.m140 {
		margin-top: 1.2rem;
		margin-bottom: 1.2rem;
	}
	.mt140 {
		margin-top: 1.2rem;
	}
	.mb140 {
		margin-bottom: 1.2rem;
	}

	.m120 {
		margin-top: 1.1rem;
		margin-bottom: 1.1rem;
	}
	.mt120 {
		margin-top: 1.1rem;
	}
	.mb120 {
		margin-bottom: 1.1rem;
	}

	.m100 {
		margin-top: 0.9rem;
		margin-bottom: 0.9rem;
	}
	.mt100 {
		margin-top: .9rem;
	}
	.mb100 {
		margin-bottom: .9rem;
	}
}
@media screen and (max-width:1366px) {
	.m140 {
		margin-top: 1.1rem;
		margin-bottom: 1.1rem;
	}
	.mt140 {
		margin-top: 1.1rem;
	}
	.mb140 {
		margin-bottom: 1.1rem;
	}

	.m120 {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.mt120 {
		margin-top: 1rem;
	}
	.mb120 {
		margin-bottom: 1rem;
	}

	.m100 {
		margin-top: 0.8rem;
		margin-bottom: 0.8rem;
	}
	.mt100 {
		margin-top: .8rem;
	}
	.mb100 {
		margin-bottom: .8rem;
	}

	.m80 {
		margin-top: 0.7rem;
		margin-bottom: 0.7rem;
	}
	.mt80 {
		margin-top: .7rem;
	}
	.mb80 {
		margin-bottom: .7rem;
	}

	.m70 {
		margin-top: .6rem;
		margin-bottom: 0.6rem;
	}
	.mt70 {
		margin-top: .6rem;
	}
	.mb70 {
		margin-bottom: .6rem;
	}

	.m60 {
		margin-top: .5rem;
		margin-bottom: 0.5rem;
	}
	.mt60 {
		margin-top: .5rem;
	}
	.mb60 {
		margin-bottom: .5rem;
	}
}
@media screen and (max-width:1200px) {
	.m140 {
		margin-top: .9rem;
		margin-bottom: .9rem;
	}
	.mt140 {
		margin-top: .9rem;
	}
	.mb140 {
		margin-bottom: .9rem;
	}

	.m120 {
		margin-top: .8rem;
		margin-bottom: .8rem;
	}
	.mt120 {
		margin-top: .8rem;
	}
	.mb120 {
		margin-bottom: .8rem;
	}

	.m100 {
		margin-top: 0.7rem;
		margin-bottom: 0.7rem;
	}
	.mt100 {
		margin-top: .7rem;
	}
	.mb100 {
		margin-bottom: .7rem;
	}

	.m80 {
		margin-top: 0.6rem;
		margin-bottom: 0.6rem;
	}
	.mt80 {
		margin-top: .6rem;
	}
	.mb80 {
		margin-bottom: .6rem;
	}

	.m70 {
		margin-top: .5rem;
		margin-bottom: 0.5rem;
	}
	.mt70 {
		margin-top: .5rem;
	}
	.mb70 {
		margin-bottom: .5rem;
	}
}
@media screen and (max-width:1024px) {
	.m140 {
		margin-top: .6rem;
		margin-bottom: .6rem;
	}
	.mt140 {
		margin-top: .6rem;
	}
	.mb140 {
		margin-bottom: .6rem;
	}

	.m120 {
		margin-top: .5rem;
		margin-bottom: .5rem;
	}
	.mt120 {
		margin-top: .5rem;
	}
	.mb120 {
		margin-bottom: .5rem;
	}

	.m100 {
		margin-top: .5rem;
		margin-bottom: .5rem;
	}
	.mt100 {
		margin-top: .5rem;
	}
	.mb100 {
		margin-bottom: .5rem;
	}

	.m80 {
		margin-top: .5rem;
		margin-bottom: .5rem;
	}
	.mt80 {
		margin-top: .5rem;
	}
	.mb80 {
		margin-bottom: .5rem;
	}

	.m70 {
		margin-top: .4rem;
		margin-bottom: .4rem;
	}
	.mt70 {
		margin-top: .4rem;
	}
	.mb70 {
		margin-bottom: .4rem;
	}

	.m60 {
		margin-top: .4rem;
		margin-bottom: .4rem;
	}
	.mt60 {
		margin-top: .4rem;
	}
	.mb60 {
		margin-bottom: .4rem;
	}

	.m50 {
		margin-top: .4rem;
		margin-bottom: .4rem;
	}
	.mt50 {
		margin-top: .4rem;
	}
	.mb50 {
		margin-bottom: .4rem;
	}
}
@media screen and (max-width:768px) {
	.m140 {
		margin-top: .5rem;
		margin-bottom: .5rem;
	}
	.mt140 {
		margin-top: .5rem;
	}
	.mb140 {
		margin-bottom: .5rem;
	}

	.m80 {
		margin-top: .4rem;
		margin-bottom: .4rem;
	}
	.mt80 {
		margin-top: .4rem;
	}
	.mb80 {
		margin-bottom: .4rem;
	}

	.m60 {
		margin-top: .4rem;
		margin-bottom: .4rem;
	}
	.mt60 {
		margin-top: .4rem;
	}
	.mb60 {
		margin-bottom: .4rem;
	}

	.m50 {
		margin-top: .4rem;
		margin-bottom: .4rem;
	}
	.mt50 {
		margin-top: .4rem;
	}
	.mb50 {
		margin-bottom: .4rem;
	}

	.m40 {
		margin-top: .4rem;
		margin-bottom: .4rem;
	}
	.mt40 {
		margin-top: .4rem;
	}
	.mb40 {
		margin-bottom: .4rem;
	}
}
@media screen and (max-width:560px) {
	.m140 {
		margin-top: .4rem;
		margin-bottom: .4rem;
	}
	.mt140 {
		margin-top: .4rem;
	}
	.mb140 {
		margin-bottom: .4rem;
	}

	.m120 {
		margin-top: .4rem;
		margin-bottom: .4rem;
	}
	.mt120 {
		margin-top: .4rem;
	}
	.mb120 {
		margin-bottom: .4rem;
	}

	.m100 {
		margin-top: .4rem;
		margin-bottom: .4rem;
	}
	.mt100 {
		margin-top: .4rem;
	}
	.mb100 {
		margin-bottom: .4rem;
	}

	.m80 {
		margin-top: .4rem;
		margin-bottom: .4rem;
	}
	.mt80 {
		margin-top: .4rem;
	}
	.mb80 {
		margin-bottom: .4rem;
	}

	.m60 {
		margin-top: .3rem;
		margin-bottom: .3rem;
	}
	.mt60 {
		margin-top: .3rem;
	}
	.mb60 {
		margin-bottom: .3rem;
	}

	.m50 {
		margin-top: .3rem;
		margin-bottom: .3rem;
	}
	.mt50 {
		margin-top: .3rem;
	}
	.mb50 {
		margin-bottom: .3rem;
	}

	.m40 {
		margin-top: .3rem;
		margin-bottom: .3rem;
	}
	.mt40 {
		margin-top: .3rem;
	}
	.mb40 {
		margin-bottom: .3rem;
	}
}




.p140 {
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
}
.p120 {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}
.p100 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.p80 {
	padding-top: .8rem;
	padding-bottom: .8rem;
}
.p70 {
	padding-top: .7rem;
	padding-bottom: .7rem;
}
.p60 {
	padding-top: .6rem;
	padding-bottom: .6rem;
}
.p50 {
	padding-top: .5rem;
	padding-bottom: .5rem;
}
.p40 {
	padding-top: .4rem;
	padding-bottom: .4rem;
}
.p30 {
	padding-top: .3rem;
	padding-bottom: .3rem;
}
.pt140 {
	padding-top: 1.4rem;
}
.pt120 {
	padding-top: 1.2rem;
}
.pt100 {
	padding-top: 1rem;
}
.pt80 {
	padding-top: .8rem;
}
.pt70 {
	padding-top: .7rem;
}
.pt60 {
	padding-top: .6rem;
}
.pt50 {
	padding-top: 0.5rem;
}
.pt40 {
	padding-top: 0.4rem;
}
.pt30 {
	padding-top: 0.3rem;
}
.pb140 {
	padding-bottom: 1.4rem;
}
.pb120 {
	padding-bottom: 1.2rem;
}
.pb100 {
	padding-bottom: 1rem;
}
.pb80 {
	padding-bottom: 0.8rem;
}
.pb70 {
	padding-bottom: 0.7rem;
}
.pb60 {
	padding-bottom: 0.6rem;
}
.pb50 {
	padding-bottom: 0.5rem;
}
.pb40 {
	padding-bottom: 0.4rem;
}
.pb30 {
	padding-bottom: 0.3rem;
}

@media screen and (max-width:1440px) {
	.p140 {
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
	}
	.pt140 {
		padding-top: 1.2rem;
	}
	.pb140 {
		padding-bottom: 1.2rem;
	}

	.p120 {
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
	}
	.pt120 {
		padding-top: 1.1rem;
	}
	.pb120 {
		padding-bottom: 1.1rem;
	}

	.p100 {
		padding-top: 0.9rem;
		padding-bottom: 0.9rem;
	}
	.pt100 {
		padding-top: .9rem;
	}
	.pb100 {
		padding-bottom: .9rem;
	}
}
@media screen and (max-width:1366px) {
	.p140 {
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
	}
	.pt140 {
		padding-top: 1.1rem;
	}
	.pb140 {
		padding-bottom: 1.1rem;
	}

	.p120 {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.pt120 {
		padding-top: 1rem;
	}
	.pb120 {
		padding-bottom: 1rem;
	}

	.p100 {
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
	}
	.pt100 {
		padding-top: .8rem;
	}
	.pb100 {
		padding-bottom: .8rem;
	}

	.p80 {
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;
	}
	.pt80 {
		padding-top: .7rem;
	}
	.pb80 {
		padding-bottom: .7rem;
	}

	.p70 {
		padding-top: .6rem;
		padding-bottom: 0.6rem;
	}
	.pt70 {
		padding-top: .6rem;
	}
	.pb70 {
		padding-bottom: .6rem;
	}

	.p60 {
		padding-top: .5rem;
		padding-bottom: 0.5rem;
	}
	.pt60 {
		padding-top: .5rem;
	}
	.pb60 {
		padding-bottom: .5rem;
	}
}
@media screen and (max-width:1200px) {
	.p140 {
		padding-top: .9rem;
		padding-bottom: .9rem;
	}
	.pt140 {
		padding-top: .9rem;
	}
	.pb140 {
		padding-bottom: .9rem;
	}

	.p120 {
		padding-top: .8rem;
		padding-bottom: .8rem;
	}
	.pt120 {
		padding-top: .8rem;
	}
	.pb120 {
		padding-bottom: .8rem;
	}

	.p100 {
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;
	}
	.pt100 {
		padding-top: .7rem;
	}
	.pb100 {
		padding-bottom: .7rem;
	}

	.p80 {
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
	}
	.pt80 {
		padding-top: .6rem;
	}
	.pb80 {
		padding-bottom: .6rem;
	}

	.p70 {
		padding-top: .5rem;
		padding-bottom: 0.5rem;
	}
	.pt70 {
		padding-top: .5rem;
	}
	.pb70 {
		padding-bottom: .5rem;
	}
}
@media screen and (max-width:1024px) {
	.p140 {
		padding-top: .6rem;
		padding-bottom: .6rem;
	}
	.pt140 {
		padding-top: .6rem;
	}
	.pb140 {
		padding-bottom: .6rem;
	}

	.p120 {
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
	.pt120 {
		padding-top: .5rem;
	}
	.pb120 {
		padding-bottom: .5rem;
	}

	.p100 {
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
	.pt100 {
		padding-top: .5rem;
	}
	.pb100 {
		padding-bottom: .5rem;
	}

	.p80 {
		padding-top: .4rem;
		padding-bottom: .4rem;
	}
	.pt80 {
		padding-top: .4rem;
	}
	.pb80 {
		padding-bottom: .4rem;
	}

	.p70 {
		padding-top: .4rem;
		padding-bottom: .4rem;
	}
	.pt70 {
		padding-top: .4rem;
	}
	.pb70 {
		padding-bottom: .4rem;
	}

	.p60 {
		padding-top: .4rem;
		padding-bottom: .4rem;
	}
	.pt60 {
		padding-top: .4rem;
	}
	.pb60 {
		padding-bottom: .4rem;
	}

	.p50 {
		padding-top: .4rem;
		padding-bottom: .4rem;
	}
	.pt50 {
		padding-top: .4rem;
	}
	.pb50 {
		padding-bottom: .4rem;
	}
}
@media screen and (max-width:768px) {
	.p140 {
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
	.pt140 {
		padding-top: .5rem;
	}
	.pb140 {
		padding-bottom: .5rem;
	}

	.p60 {
		padding-top: .4rem;
		padding-bottom: .4rem;
	}
	.pt60 {
		padding-top: .4rem;
	}
	.pb60 {
		padding-bottom: .4rem;
	}

	.p50 {
		padding-top: .4rem;
		padding-bottom: .4rem;
	}
	.pt50 {
		padding-top: .4rem;
	}
	.pb50 {
		padding-bottom: .4rem;
	}

	.p40 {
		padding-top: .4rem;
		padding-bottom: .4rem;
	}
	.pt40 {
		padding-top: .4rem;
	}
	.pb40 {
		padding-bottom: .4rem;
	}
}
@media screen and (max-width:560px) {
	.p140 {
		padding-top: .4rem;
		padding-bottom: .4rem;
	}
	.pt140 {
		padding-top: .4rem;
	}
	.pb140 {
		padding-bottom: .4rem;
	}

	.p120 {
		padding-top: .4rem;
		padding-bottom: .4rem;
	}
	.pt120 {
		padding-top: .4rem;
	}
	.pb120 {
		padding-bottom: .4rem;
	}

	.p100 {
		padding-top: .4rem;
		padding-bottom: .4rem;
	}
	.pt100 {
		padding-top: .4rem;
	}
	.pb100 {
		padding-bottom: .4rem;
	}

	.p80 {
		padding-top: .4rem;
		padding-bottom: .4rem;
	}
	.pt80 {
		padding-top: .4rem;
	}
	.pb80 {
		padding-bottom: .4rem;
	}

	.p60 {
		padding-top: .3rem;
		padding-bottom: .3rem;
	}
	.p60 {
		padding-top: .3rem;
	}
	.p60 {
		padding-bottom: .3rem;
	}

	.p50 {
		padding-top: .3rem;
		padding-bottom: .3rem;
	}
	.p50 {
		padding-top: .3rem;
	}
	.p50 {
		padding-bottom: .3rem;
	}

	.p40 {
		padding-top: .3rem;
		padding-bottom: .3rem;
	}
	.p40 {
		padding-top: .3rem;
	}
	.p40 {
		padding-bottom: .3rem;
	}
}














/* privacy */
.privacy_cont {}
.privacy_cont .tit {
	margin-bottom: 30px
}
.privacy_cont .tit h2 {
	font-size: 24px;
	text-align: center;
	font-weight: bold
}
.privacy_cont article,
.privacy_cont article * {
	font-size: 14px;
	color: #666;
	line-height: 24px
}



/* thanks */
.thanks {
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	text-align: center;
	overflow: hidden
}
.thanks_logo {}
.thanks h2 {
	margin: .2rem auto;
	font-size: .3rem;
	color: #333;
	font-weight: bold
}
.thanks_link {
	display: inline-block;
	padding: 0 40px;
	line-height: 32px;
	font-size: 15px;
	color: #999;
	border: 2px solid #DDD;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px
}

@media screen and (max-width:1024px) {
	.thanks_logo img {
		max-height: .5rem
	}
	.thanks h2 {
		font-size: .2rem
	}
}
@media screen and (max-width:768px) {
	.thanks_logo img {
		max-height: .44rem
	}
	.thanks h2 {
		font-size: .16rem
	}
	.thanks_link {
		font-size: 13px;
		line-height: 30px
	}
}



/* search results list */
.in_search_list {
	margin-bottom: 0.2rem;
}
.in_search_list a {
	background: #F5F5F5 !important;
}



/* 404 */
.in404 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFF
}
.in404_text {
	position: absolute;
	top: 44%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	text-align: center
}
.in404_text h1 {
	font-size: 220px;
	color: #BBB
}
.in404_text h6 {
	margin: 10px auto 30px;
	font-size: 18px;
	color: #999
}
.in404_text a {
	display: inline-block;
	padding: 0 40px;
	line-height: 32px;
	font-size: 15px;
	color: #999;
	border: 2px solid #DDD;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px
}
@media screen and (max-width:959px) {
	.in404_text h1 {
		font-size: 180px
	}
}
@media screen and (max-width:768px) {
	.in404_text h1 {
		font-size: 140px
	}
	.in404_text h6 {
		font-size: 16px
	}
	.in404_text a {
		font-size: 14px
	}
}
@media screen and (max-width:560px) {
	.in404_text h1 {
		font-size: 70px
	}
	.in404_text h6 {
		margin: 10px auto 18px;
		font-size: 14px;
		line-height: 20px
	}
	.in404_text a {
		font-size: 13px
	}
}


.link_hidden {
	display: none !important;
}