@charset "utf-8";

.in_about {}

.in_about .wrap {
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
}

.in_ab_cont {
	width: 50%;
}

.in_ab_list {}
.in_ab_list dt {
	margin-top: 0.38rem;
	padding-left: 0.24rem;
	padding-top: 0.38rem;
	border-top: 1px solid var(--border_color);
}
.in_ab_list dt:last-child {
	padding-bottom: 0.38rem;
	border-bottom: 1px solid var(--border_color);
}

.in_ab_list .tit {
	margin-bottom: 0.26rem;
	font-size: 0.24rem;
	font-weight: bold;
	position: relative;
}
.in_ab_list .tit::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: -.24rem;
	width: 0.1rem;
	height: 0.1rem;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.ab_fold_list {}
.ab_fold_list li {}
.ab_fold_list li:not(:last-child) {
	border-bottom: 1px dashed var(--border_color);
}
.ab_fold_list h3 {
	padding: .2rem 0;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	cursor: pointer;
}
.ab_fold_list h3 b {
	margin-right: 0.4rem;
	font-size: 0.2rem;
	color: var(--i_color3);
}
.ab_fold_list h3 img {
	flex-shrink: 0;
	margin-left: auto;
	height: 0.12rem;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.ab_fold_list .curr img {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.ab_fold_list p {
	display: none;
	margin-bottom: 0.3rem;
}


.bs_list {
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 0 4%;
}
.bs_list li {
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.bs_list img {
	max-width: 100%;
}
.bs_list li:hover {
	-webkit-transform: translate(0, -8px);
	transform: translate(0, -8px);
}

@media screen and (max-width:1440px) {
	.bs_list img {
		max-height: .9rem;
	}
}
@media screen and (max-width:1366px) {
	.ab_fold_list h3 {
		padding: 0.18rem 0;
	}
	.ab_fold_list h3 b {
		font-size: 0.18rem;
	}
	.bs_list {
		gap: 0 5%;
	}
	.bs_list img {
		max-height: .8rem;
	}
}
@media screen and (max-width:1200px) {
	.bs_list img {
		max-height: .7rem;
	}
	.ab_fold_list h3 {
		padding: 0.14rem 0;
	}
	.ab_fold_list h3 img {
		height: 0.1rem;
	}
}
@media screen and (max-width:1024px) {
	.in_about .wrap {
		flex-wrap: wrap;
	}
	.in_ab_cont {
		width: 100%;
	}
	.in_ab_cont .i_tit {
		margin-bottom: 0.2rem;
	}
	.in_ab_list dt {
		padding-top: 0.2rem;
		margin-top: 0.2rem;
	}
	.in_ab_list .tit {
		margin-bottom: 0.16rem;
		font-size: 0.2rem;
	}
	.ab_fold_list h3 b {
		font-size: 0.2rem;
	}
	.bs_list {
		max-width: 6rem;
	}
}
@media screen and (max-width:768px) {
	.in_ab_list .tit {
		font-size: 0.18rem;
	}
	.bs_list img {
		height: 0.6rem;
	}
}
@media screen and (max-width:560px) {
	.in_ab_list dt {
		padding-top: 0.16rem;
		margin-top: 0.16rem;
	}
	.in_ab_list dt:last-child {
		padding-bottom: 0.2rem;
	}
	.in_ab_list .tit {
		margin-bottom: 0.12rem;
		font-size: 0.17rem;
	}
	.ab_fold_list h3 b {
		font-size: 0.16rem;
	}
	.ab_fold_list h3 img {
		height: 0.08rem;
	}
	.ab_fold_list p {
		margin-bottom: 0.1rem;
	}
	.bs_list img {
		height: 0.42rem;
	}
}








.in_ab_pic {
	--round_size: .24rem
}
.in_ab_pic {
	flex-shrink: 0;
	padding: 1.2rem 0 1.6rem;
	margin-left: auto;
	width: 7.3rem;
	max-width: 7.3rem;
	position: relative;
}
.in_ab_pic .img {
	width: 100%;
	position: relative;
	z-index: 2;
}
.in_ab_pic .img::before {
	content: '';
	position: absolute;
	top: -.16rem;
	left: -.16rem;
	width: 50%;
	height: 66%;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-border-radius: .7rem 0 0 0;
	border-radius: .7rem 0 0 0;
}
.in_ab_pic .img img {
	width: 100%;
	position: relative;
	-webkit-border-radius: .6rem 0 0 0;
	border-radius: .6rem 0 0 0;
}
.in_v_btn{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);width: 0.7rem;height: 0.7rem;background: rgb(0 0 0 / 50%);-webkit-border-radius:50%; border-radius:50%;cursor: pointer;}
.in_v_btn i{
	position:absolute; top:50%; left:52%; transform:translate(-50%,-50%);
	font-size: 0.3rem;color: #FFF
}
.in_v_btn:hover{background: var(--i_color3);}


/* eject videos */
.vd_box {
	display: none;
	position: fixed;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2014;
	width: 60%;
	max-height: 90%;
}
.vd_box::before {
	content: '';
	display: block;
	padding-bottom: 56.25%;
}
.close_v {
	position: absolute;
	top: -.2rem;
	right: -.2rem;
	width: 0.4rem;
	height: 0.4rem;
	background: var(--i_color);
	z-index: 2;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
}
.close_v::before {
	content: '+';
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 0.44rem;
	color: #FFF;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg)
}
.vd_box iframe {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #000;
	object-fit: contain;
}
@media screen and (max-width:1024px) {
	.vd_box {
		width: 80%;
	}
	.close_v::before {
		font-size: 0.4rem;
	}
}
@media screen and (max-width:768px) {
	.vd_box {
		width: 88%;
	}
	.close_v {
		top: -.15rem;
		right: -.15rem;
		width: 0.3rem;
		height: 0.3rem;
	}
	.close_v::before {
		font-size: 0.3rem;
	}
}




.ab_round {
	position: absolute;
	top: 0;
	left: 50%;
	width: 7.6rem;
	height: 7.6rem;
	box-sizing: border-box;
	border: 1px solid #CCC;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	animation: round 56s linear infinite;
	-webkit-animation: round 56s linear infinite;
}
.ab_round i {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	width: var(--round_size);
	height: var(--round_size);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: -webkit-linear-gradient(100deg, var(--i_color2) 0%, var(--i_color) 100%);
	background: linear-gradient(100deg, var(--i_color2) 0%, var(--i_color) 100%);
}
.ab_round i:nth-child(1) {
	top: calc(-1 * var(--round_size) / 2);
}
.ab_round i:nth-child(2) {
	bottom: calc(-1 * var(--round_size) / 2);
}

@media screen and (max-width:1440px) {
	.in_ab_pic {
		max-width: 6.6rem;
	}
	.ab_round {
		width: 7rem;
		height: 7rem;
	}
}
@media screen and (max-width:1366px) {
	.in_ab_pic {
		max-width: 6rem;
	}
}
@media screen and (max-width:1200px) {
	.in_ab_pic {
		max-width: 5.4rem;
	}
	.ab_round {
		width: 6rem;
		height: 6rem;
	}
}
@media screen and (max-width:1024px) {
	.in_ab_pic {
		max-width: 100%;
		width: 7rem;
		padding: .5rem 0 0;
		margin-left: 0;
	}
	.in_v_btn{width: 0.6rem;height: 0.6rem;}
	.in_v_btn i{font-size: 0.24rem;}

	.ab_round {
		display: none;
	}
}
@media screen and (max-width:768px) {
	.in_ab_pic .img {
		width: calc(100% - .12rem);
		margin-left: .12rem;
	}
	.in_ab_pic .img::before {
		top: -.12rem;
		left: -.12rem;
	}
}
@media screen and (max-width:560px) {
	.in_ab_pic .img {
		width: calc(100% - .08rem);
		margin-left: .08rem;
	}
	.in_ab_pic .img::before {
		top: -.08rem;
		left: -.08rem;
	}
	.in_ab_pic .img::before {
		-webkit-border-radius: .4rem 0 0 0;
		border-radius: .4rem 0 0 0;
	}
	.in_ab_pic .img img {
		-webkit-border-radius: .3rem 0 0 0;
		border-radius: .3rem 0 0 0;
	}

	.in_v_btn{width: 0.46rem;height: 0.46rem;}
	.in_v_btn i{font-size: 0.2rem;}
}





.in_ab_num {}
.in_ab_num dl {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.in_ab_num span {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}
.in_ab_num .roll_num {
	font-size: 0.48rem;
}
.in_ab_num b,
.in_ab_num p {
	font-size: 0.16rem;
	font-weight: normal;
}
.in_ab_num h6 {
	font-size: 0.18rem;
}

@media screen and (max-width:1440px) {}
@media screen and (max-width:1366px) {
	.in_ab_num .roll_num {
		font-size: 0.42rem;
	}
	.in_ab_num h6 {
		font-size: 0.17rem;
	}
}
@media screen and (max-width:1200px) {
	.in_ab_num .roll_num {
		font-size: 0.38rem;
	}
	.in_ab_num h6 {
		font-size: 0.16rem;
	}
}
@media screen and (max-width:1024px) {
	.in_ab_num dl {
		gap: .3rem 5%;
	}
	.in_ab_num dt {
		width: 30%;
	}
	.in_ab_num .roll_num {
		font-size: 0.32rem;
	}
	.in_ab_num h6 {
		font-size: 0.15rem;
	}
}
@media screen and (max-width:768px) {
	.in_ab_num .roll_num {
		font-size: 0.28rem;
	}
	.in_ab_num h6 {
		font-size: 0.14rem;
	}
}
@media screen and (max-width:560px) {
	.in_ab_num .roll_num {
		font-size: 0.26rem;
	}
	.in_ab_num h6 {
		font-size: 0.13rem;
	}
}






.history {
	background: #F1F1F1;
	position: relative;
}
.history::before {
	content: '';
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	top: 0;
	width: .6rem;
	height: 100%;
	background: -webkit-linear-gradient(top, var(--i_color2), var(--i_color));
	background: linear-gradient(to bottom, var(--i_color2), var(--i_color));
}

.history .downward {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: .3rem;
}
.history .downward img {
	display: block;
	height: 0.12rem;
	-webkit-filter: brightness(100);
	filter: brightness(100);
}

.history_cont {
	position: relative;
}

.history_item {
	margin: .5rem 0;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.year_num {
	position: absolute;
	left: 50%;
	font-size: 0.34rem;
	color: #FFF;
	-webkit-transform: translate(-50%, 0) rotate(-90deg);
	transform: translate(-50%, 0) rotate(-90deg);
}

.history_pic,
.history_txt {
	width: 46%;
	position: relative;
}

.history_pic {
	position: relative;
	overflow: hidden;
}
.history_pic::before {
	content: '';
	display: block;
	padding-bottom: 50%;
}
.history_pic dt {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.history_pic dt.curr {
	opacity: 1;
}

.history_pic img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.history_pic dt.curr img {
	animation: InTop .5s forwards;
}
@keyframes InTop {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

.history_txt {}
.history_item:nth-child(even) .history_txt {
	order: -1;
}
.history_txt li {
	border-bottom: 1px solid var(--border_color);
}
.history_txt li:first-child {
	border-top: 1px solid var(--border_color);
}
.history_txt p {
	padding: .18rem 0;
	font-size: 0.18rem;
	cursor: pointer;
}
.history_txt .curr p {
	color: var(--i_color3);
}

@media screen and (max-width:1440px) {
	.history_pic,
	.history_txt {
		width: 45%;
	}
	.year_num {
		font-size: 0.32rem;
	}
}
@media screen and (max-width:1366px) {}
@media screen and (max-width:1200px) {
	.history::before {
		width: 0.5rem;
	}
	.year_num {
		font-size: 0.28rem;
	}
	.history_txt p {
		font-size: 0.17rem;
	}
	.history .downward img {
		height: 0.1rem;
	}
}
@media screen and (max-width:1024px) {
	.history::before,
	.downward {
		display: none;
	}
	.history_item {
		align-items: flex-start;
	}
	.year_num {
		position: relative;
		left: 0;
		transform: none;
		width: 100%;
		margin-bottom: 0.2rem;
		font-size: 0.26rem;
		color: var(--i_color3);
		order: -2;
	}
	.history_pic,
	.history_txt {
		width: 48%;
	}
	.history_txt p {
		padding: .12rem 0;
		font-size: 0.15rem;
	}
}
@media screen and (max-width:768px) {
	.history_item {
		margin: 0.3rem 0;
	}
	.history_pic,
	.history_txt {
		width: 100%;
	}
	.history_pic {
		margin-bottom: 0.2rem;
	}
	.history_item:nth-child(even) .history_txt {
		order: initial;
	}
	.history_txt li:first-child {
		border-top: none;
	}
}
@media screen and (max-width:560px) {
	.year_num {
		font-size: 0.2rem;
	}
	.history_pic {
		margin-bottom: 0.1rem;
	}
	.history_txt p {
		padding: .1rem 0;
	}
}








.market {}

.market_cont {
	box-sizing: border-box;
	padding-top: .8rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	position: relative;
	overflow: hidden;
}

.market_cont .img {
	width: 88.4%;
	max-width: 1612px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 2;
}
.market_cont .img>img {
	width: 100%;
}

.market_dian {
	position: absolute;
}
.market_dian.d1 {
	top: 42.5%;
	left: 14.5%;
}
.market_dian.d2 {
	top: 50.5%;
	left: 33%;
}
.market_dian.d3 {
	top: 30.5%;
	left: 53%;
}
.market_dian.d4 {
	top: 12.6%;
	right: 44.7%;
}
.market_dian.d5 {
	top: 18.5%;
	right: 24%;
}
.market_dian.d6 {
	bottom: 25%;
	right: 21.8%;
}

.market_dian .round {
	width: 0.1rem;
	height: 0.1rem;
	margin: 0 auto;
	background: var(--i_color3);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: relative;
}
.market_dian .round::before {
	opacity: 0;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -130% 0 0 -130%;
	width: 260%;
	height: 260%;
	background: rgb(245 134 32 / 50%);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: warn 1.2s ease-out;
	animation: warn 1.2s ease-out;
	animation-iteration-count: infinite
}
@keyframes warn {
	0% {
		transform: scale(0);
		opacity: 0.5;
	}
	25% {
		transform: scale(0.15);
		opacity: 0.7;
	}
	50% {
		transform: scale(0.33);
		opacity: 0.8;
	}
	75% {
		transform: scale(0.66);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0.2;
	}
}

.market_dian p {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 0.1rem;
	font-size: 0.18rem;
	white-space: nowrap;
	overflow: hidden;
}
.market_dian.d4 p {
	left: initial;
	top: 50%;
	transform: translate(0, -50%);
	right: calc(100% + .1rem);
	margin-top: 0;
}
.market_dian.d5 p {
	bottom: calc(100% + .1rem);
	margin-top: 0;
}



.market_round {
	--round_size: .24rem
}
.market_round {
	position: absolute;
	top: .2rem;
	left: 0;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	box-sizing: border-box;
	border: 1px dashed #D1D1D1;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	animation: round 56s linear infinite;
	-webkit-animation: round 56s linear infinite;
}
.market_round i {
	position: absolute;
	width: var(--round_size);
	height: var(--round_size);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: -webkit-linear-gradient(100deg, var(--i_color2) 0%, var(--i_color) 100%);
	background: linear-gradient(100deg, var(--i_color2) 0%, var(--i_color) 100%);
}
.market_round i:nth-child(1) {
	top: calc(-1 * var(--round_size) / 2);
	left: 50%;
	transform: translate(-50%, 0);
}
.market_round i:nth-child(2) {
	left: 50%;
	transform: translate(-50%, 0);
	bottom: calc(-1 * var(--round_size) / 2);
}
.market_round i:nth-child(3) {
	top: 50%;
	transform: translate(0, -50%);
	left: calc(-1 * var(--round_size) / 2);
}
.market_round i:nth-child(4) {
	top: 50%;
	transform: translate(0, -50%);
	right: calc(-1 * var(--round_size) / 2);
}



.market_num {
	margin-top: -.9rem;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 0 6%;
	position: relative;
	z-index: 2;
}
.market_num dt {
	flex-shrink: 0;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	position: relative;
}
.market_num dt::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: -.24rem;
	width: 0.1rem;
	height: 0.1rem;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.market_num i {
	font-size: 0.26rem;
	font-weight: bold;
}
.market_num b {
	font-size: 0.22rem;
	font-weight: bold;
}
.market_num p {
	margin-left: 0.1rem;
	font-size: 0.18rem;
}

@media screen and (max-width:1440px) {
	.market_cont .img {
		width: 83%;
	}
	.market_cont {
		padding-top: 0.7rem;
	}
	.market_num {
		margin-top: -0.6rem;
	}
}
@media screen and (max-width:1366px) {
	.market_dian p {
		font-size: 0.17rem;
	}
	.market_num {
		margin-top: -0.4rem;
	}
}
@media screen and (max-width:1200px) {
	.market_cont .img {
		width: 80%;
	}
	.market_num i {
		font-size: 0.22rem;
	}
	.market_num p {
		font-size: 0.17rem;
	}
}
@media screen and (max-width:1024px) {
	.market_round {
		--round_size: .16rem
	}
	.market_cont {
		padding-top: 0.6rem;
	}
	.market_dian p {
		font-size: 0.14rem;
	}
	.market_num {
		box-sizing: border-box;
		padding: 0 5%;
		margin-top: 0;
		flex-wrap: wrap;
		justify-content: initial;
		gap: .1rem 6%;
	}
	.market_num dt {
		width: 47%;
	}
}
@media screen and (max-width:768px) {
	.market .i_tit {
		margin-bottom: 0.2rem;
	}
	.market_cont {
		padding-top: 0.4rem;
	}
	.market_cont .img {
		width: 88%;
	}
	.market_dian p {
		display: none;
	}
	.market_num {
		margin-top: 0.4rem;
	}

	.market_num i,
	.market_num b {
		font-size: 0.18rem;
	}
	.market_num p {
		font-size: 0.16rem;
	}
}
@media screen and (max-width:560px) {
	.market_round {
		--round_size: 8px
	}
	.market_dian .round {
		width: 0.06rem;
		height: 0.06rem;
	}

	.market_num dt {
		width: 100%;
	}
	.market_num dt::before {
		width: 0.06rem;
		height: 0.06rem;
	}
	.market_num p {
		font-size: 0.15rem;
	}
}








.honor {
	background: -webkit-linear-gradient(top, #FFF, rgb(255 225 197 / 50%));
	background: linear-gradient(to bottom, #FFF, rgb(255 225 197 / 50%));
}

.honor_nav {
	margin: .5rem auto .6rem;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0 4%;
}
.honor_nav li {
	position: relative;
	cursor: pointer;
}
.honor_nav li::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background: #111;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.honor_nav p {
	padding: 2px 0;
	font-size: .22rem;
}
.honor_nav .curr::before,
.honor_nav li:hover::before {
	right: initial;
	left: 0;
	width: 100%;
}



.honor_show {}
.honor_show dt {
	display: none;
}
.honor_show dt.curr {
	display: block;
}

.honor_list {
	position: relative;
	overflow: hidden
}
.honor_list .swiper-wrapper {
	display: -webkit-flex;
	display: flex;
	position: relative;
	width: 100%
}
.honor_list .swiper-slide {
	flex-shrink: 0;
	position: relative
}
.honor_list .img {
	width: 100%;
	position: relative;
	overflow: hidden
}
.honor_list .img::before {
	content: "";
	display: block;
	padding-bottom: 136%
}
.honor_list .img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.honor_list p {
	text-align: center;
	margin-top: 0.2rem;
	font-size: 0.16rem;
}

.honor-pagination {
	display: block;
	margin-top: 0.5rem;
	text-align: center
}
.honor-pagination .swiper-pagination-bullet {
	width: .7rem;
	height: .02rem;
	display: inline-block;
	margin: 0 6px;
	background: #E1E1E1;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
	outline: none;
	cursor: pointer;
	position: relative;
}
.honor-pagination .swiper-pagination-bullet::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.honor-pagination .swiper-pagination-bullet-active::before {
	width: 100%;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
}

@media screen and (max-width:1440px) {
	.honor_nav p {
		font-size: 0.2rem;
	}
}
@media screen and (max-width:1366px) {}
@media screen and (max-width:1200px) {
	.honor_nav p {
		font-size: 0.18rem;
	}
}
@media screen and (max-width:1024px) {
	.honor_nav {
		margin: 0.3rem auto 0.4rem;
	}
	.honor_nav p {
		font-size: 0.17rem;
	}
	.honor_list p {
		font-size: 0.15rem;
	}

	.honor-pagination .swiper-pagination-bullet {
		width: 0.4rem;
	}
}
@media screen and (max-width:768px) {
	.honor_nav p {
		font-size: 0.16rem;
	}
	.honor-pagination {
		margin-top: 0.4rem;
	}
	.honor-pagination .swiper-pagination-bullet {
		width: 0.2rem;
	}
}
@media screen and (max-width:560px) {
	.honor_nav p {
		font-size: 0.15rem;
	}
	.honor_list p {
		margin-top: 0.14rem;
		font-size: 0.14rem;
	}
	.honor-pagination {
		margin-top: 0.3rem;
	}
}












/* Mission */
.mission {}

.mission_list {
	height: 0;
	padding-bottom: 32%;
	background: url(../images/mission_bg.webp) no-repeat center;
	background-size: cover;
	position: relative;
}

.mission_list dl {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
}
.mission_list dt {
	flex-grow: 1;
	width: 21%;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-transition: all .7s ease;
	transition: all .7s ease
}
.mission_list dt.curr {
	background: rgb(255 255 255 / 40%);
}
.mission_list dt:not(:last-child) {
	border-right: 1px solid rgb(255 255 255 / 40%);
}
.mission_list .mission_ico1 {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: relative;
}

.mission_ico1 span {
	position: relative;
}
.mission_ico2 {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 32%;
	box-sizing: border-box;
	padding-left: 3%;
	-webkit-transition: all .7s ease;
	transition: all .7s ease
}

.mission_list .ico {
	width: 1.14rem;
	height: 1.14rem;
	background: rgb(255 255 255 / 20%);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: relative;
}
.mission_list .ico img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 0.54rem;
}
.mission_list p {
	font-size: 0.24rem;
	text-transform: uppercase;
}
.mission_ico1 .ico {
	margin-left: auto;
	margin-right: auto;
}
.mission_ico1 p {
	text-align: center;
	margin: .2rem 0 0;
}
.mission_ico2 p {
	margin: .2rem 0 .16rem;
}
.mission_ico2 h6 {
	font-size: 0.18rem;
}

.mission_list dt.curr .mission_ico1 {
	opacity: 0;
	visibility: hidden;
}
.mission_list dt.curr .mission_ico2 {
	opacity: 1;
	visibility: visible;
	animation: InRight .7s forwards;
}

@keyframes InRight {
	0% {
		transform: translate(0, -50%) translateX(30%);
	}
	100% {
		transform: translate(0, -50%) translateX(0);
	}
}

@media screen and (max-width:1440px) {
	.mission_list .ico {
		width: .9rem;
		height: .9rem;
	}
	.mission_list .ico img {
		height: 0.4rem;
	}
	.mission_list p {
		font-size: 0.2rem;
	}
	.mission_ico2 h6 {
		font-size: 0.17rem;
	}
}
@media screen and (max-width:1366px) {
	.mission_list .ico {
		width: .8rem;
		height: .8rem;
	}
	.mission_list .ico img {
		height: 0.34rem;
	}
	.mission_ico2 h6 {
		font-size: 0.16rem;
	}
}
@media screen and (max-width:1200px) {
	.mission_ico2 h6 {
		font-size: 0.15rem;
	}
}
@media screen and (max-width:1024px) {
	.mission_list {
		height: auto;
		padding-bottom: initial;
	}
	.mission_list dl {
		height: auto;
		background: rgb(255 255 255 / 80%);
		position: relative;
		flex-wrap: wrap;
		border-top: 1px solid var(--border_color);
	}
	.mission_list dt {
		width: 50%;
		align-items: flex-start;
		box-sizing: border-box;
		border-bottom: 1px solid var(--border_color);
	}
	.mission_list dt:nth-child(odd) {
		border-right: 1px solid var(--border_color);
	}

	.mission_ico1 {
		display: none !important;
	}
	.mission_ico2 {
		opacity: 1 !important;
		visibility: visible !important;
		position: relative;
		top: initial;
		transform: none;
		width: 100%;
		padding: .4rem .3rem;
	}
	.mission_ico2 span {
		margin-bottom: 0.2rem;
		display: -webkit-flex;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

	.mission_list .ico {
		width: .7rem;
		height: .7rem;
		background: rgb(253 241 230);
	}
	.mission_list .ico img {
		height: 0.3rem;
	}
	.mission_list p {
		margin: 0 0 0 .18rem;
		font-size: 0.18rem;
	}
	.mission_ico2 h6 {
		font-size: 0.16rem;
	}
}
@media screen and (max-width:768px) {
	.mission_list {
		background-position-x: 60%;
	}
	.mission_list dl {
		background: rgb(255 255 255 / 90%);
	}
	.mission_ico2 {
		padding: .3rem .2rem;
	}
	.mission_list .ico {
		width: .5rem;
		height: .5rem;
		background: rgb(253 241 230);
	}
	.mission_list .ico img {
		height: 0.24rem;
	}
	.mission_list p {
		font-size: 0.17rem;
	}
	.mission_ico2 h6 {
		font-size: 0.15rem;
	}
}
@media screen and (max-width:560px) {
	.mission_list dt {
		width: 100%;
		border-right: none !important;
	}
	.mission_ico2 {
		padding: .2rem .2rem;
	}
	.mission_ico2 span {
		margin-bottom: 0.14rem;
	}
	.mission_list p {
		font-size: 0.16rem;
	}
	.mission_ico2 h6 {
		font-size: 0.14rem;
	}
}








.competitiveness {
	background: -webkit-linear-gradient(top, #FFF, rgb(255 225 197 / 50%));
	background: linear-gradient(to bottom, #FFF, rgb(255 225 197 / 50%));
}

.competitiveness_tit {
	text-align: center;
}
.competitiveness_tit img {
	height: 1.15rem;
}
.competitiveness_tit h3 {
	margin: .22rem 0;
	font-size: 0.28rem;
	text-transform: uppercase;
}
.competitiveness_tit h6 {
	padding: 0 12%;
}

.competitiveness_cont {}
.competitiveness_cont .round {
	width: 6rem;
	height: 6rem;
	margin-left: auto;
	margin-right: auto;
	background: radial-gradient(#FFF, rgb(255 225 197 / 75%));
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: relative;
}

.competitiveness_cont .surround {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	animation: round 56s linear infinite;
	-webkit-animation: round 56s linear infinite;
}
.competitiveness_cont .surround::before {
	content: '';
	position: absolute;
	top: -.07rem;
	left: 50%;
	transform: translate(-50%, 0);
	width: 0.14rem;
	height: 0.14rem;
	background: -webkit-linear-gradient(100deg, var(--i_color2) 0%, var(--i_color) 100%);
	background: linear-gradient(100deg, var(--i_color2) 0%, var(--i_color) 100%);
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.dashedline {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 80%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 1px dotted var(--i_color3);
}

.logoimg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.logoimg img {
	height: 2.6rem;
}
.logoimg p {
	font-size: 0.2rem;
	font-weight: bold;
	color: var(--i_color3);
}

@-webkit-keyframes round {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}
@keyframes round {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

.competitiveness_t {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.competitiveness_t dt {
	position: absolute;
}
.competitiveness_t dt:nth-child(1) {
	top: 18%;
	left: 6%;
}
.competitiveness_t dt:nth-child(2) {
	top: 12%;
	right: 17%;
}
.competitiveness_t dt:nth-child(3) {
	top: 39%;
	right: 1%;
}
.competitiveness_t dt:nth-child(4) {
	right: 25%;
	bottom: 9%;
}
.competitiveness_t dt:nth-child(5) {
	left: 9%;
	bottom: 24%;
}

.competitiveness_t .ball_t {
	position: relative;
}
.competitiveness_t .ball_t::before {
	opacity: 0;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 130%;
	height: 130%;
	background: radial-gradient(circle, #F60, transparent 70%);
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.competitiveness_t span {
	width: 0.8rem;
	height: 0.8rem;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	z-index: 2;
}
.competitiveness_t dt:nth-child(1) span {
	width: 1.1rem;
	height: 1.1rem;
	background: -webkit-linear-gradient(120deg, var(--i_color2) 0%, var(--i_color) 100%);
	background: linear-gradient(120deg, var(--i_color2) 0%, var(--i_color) 100%);
}
.competitiveness_t dt:nth-child(2) span {
	background: -webkit-linear-gradient(-60deg, var(--i_color2) 0%, rgb(245 134 32 / 80%) 20%);
	background: linear-gradient(-60deg, var(--i_color2) 0%, rgb(245 134 32 / 80%) 20%);
}
.competitiveness_t dt:nth-child(3) span {
	width: 1rem;
	height: 1rem;
	background: -webkit-linear-gradient(-60deg, var(--i_color2) 0%, rgb(245 134 32 / 80%) 20%);
	background: linear-gradient(-60deg, var(--i_color2) 0%, rgb(245 134 32 / 80%) 20%);
}
.competitiveness_t dt:nth-child(4) span {
	background: -webkit-linear-gradient(-60deg, var(--i_color2) 0%, rgb(245 134 32 / 80%) 20%);
	background: linear-gradient(-60deg, var(--i_color2) 0%, rgb(245 134 32 / 80%) 20%);
}
.competitiveness_t dt:nth-child(5) span {
	background: -webkit-linear-gradient(-60deg, var(--i_color2) 0%, rgb(245 134 32 / 80%) 20%);
	background: linear-gradient(-60deg, var(--i_color2) 0%, rgb(245 134 32 / 80%) 20%);
}

.competitiveness_t p {
	font-size: 0.24rem;
	color: #FFF;
	font-weight: bold;
}
.competitiveness_t dt:nth-child(1) p {
	font-size: 0.36rem;
}
.competitiveness_t dt:nth-child(2) p {
	font-size: 0.24rem;
}

.competitiveness_t h6 {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: calc(100% + .4rem);
	width: 3rem;
	text-decoration: underline;
	font-size: 0.16rem;
	line-height: 0.26rem;
	-webkit-transition: all .8s ease;
	transition: all .8s ease
}
.competitiveness_t dt:nth-child(1) h6,
.competitiveness_t dt:nth-child(5) h6 {
	right: -.2rem;
}
.competitiveness_t dt:nth-child(2) h6,
.competitiveness_t dt:nth-child(3) h6,
.competitiveness_t dt:nth-child(4) h6 {
	left: 0;
}

/* .competitiveness_t dt:hover {
	animation: none;
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	-ms-animation: none;
} */
.competitiveness_t dt:hover span {
	background: -webkit-linear-gradient(120deg, var(--i_color2) 0%, var(--i_color) 100%);
	background: linear-gradient(120deg, var(--i_color2) 0%, var(--i_color) 100%);
}
.competitiveness_t dt:hover h6 {
	visibility: visible;
	opacity: 1;
	top: calc(100% + .1rem);
}
.competitiveness_t dt:hover .ball_t::before {
	animation: Scale .8s linear infinite;
	-webkit-animation: Scale .8s linear infinite;
}
@keyframes Scale {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0);
		-ms-transform: translate(-50%, -50%) scale(0);
		-o-transform: translate(-50%, -50%) scale(0);
		-webkit-transform: translate(-50%, -50%) scale(0);
		-moz-transform: translate(-50%, -50%) scale(0)
	}
	50% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
		-ms-transform: translate(-50%, -50%) scale(1);
		-o-transform: translate(-50%, -50%) scale(1);
		-webkit-transform: translate(-50%, -50%) scale(1);
		-moz-transform: translate(-50%, -50%) scale(1)
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(1.5);
		-ms-transform: translate(-50%, -50%) scale(1.5);
		-o-transform: translate(-50%, -50%) scale(1.5);
		-webkit-transform: translate(-50%, -50%) scale(1.5);
		-moz-transform: translate(-50%, -50%) scale(1.5)
	}
}

/* @media screen and (min-width:1025px) { */
.udmove4s {
	animation: bounceIn-infinite2 4s linear infinite;
	-webkit-animation: bounceIn-infinite2 4s linear infinite;
	-moz-animation: bounceIn-infinite2 4s linear infinite;
	-o-animation: bounceIn-infinite2 4s linear infinite;
	-ms-animation: bounceIn-infinite2 4s linear infinite;
}
.udmove5s {
	animation: bounceIn-infinite2 5s linear infinite;
	-webkit-animation: bounceIn-infinite2 5s linear infinite;
	-moz-animation: bounceIn-infinite2 5s linear infinite;
	-o-animation: bounceIn-infinite2 5s linear infinite;
	-ms-animation: bounceIn-infinite2 5s linear infinite;
}
.udmove6s {
	animation: bounceIn-infinite2 6s linear infinite;
	-webkit-animation: bounceIn-infinite2 6s linear infinite;
	-moz-animation: bounceIn-infinite2 6s linear infinite;
	-o-animation: bounceIn-infinite2 6s linear infinite;
	-ms-animation: bounceIn-infinite2 6s linear infinite;
}
/* } */
@-webkit-keyframes bounceIn-infinite2 {
	0% {
		-webkit-transform: translate(0, 0);
	}
	20% {
		-webkit-transform: translate(0, 12px);
	}
	50% {
		-webkit-transform: translate(0, 0);
	}
	70% {
		-webkit-transform: translate(0, -12px);
	}
	100% {
		-webkit-transform: translate(0, 0);
	}
}
@keyframes bounceIn-infinite2 {
	0% {
		transform: translate(0, 0);
	}
	20% {
		transform: translate(0, 12px);
	}
	50% {
		transform: translate(0, 0);
	}
	70% {
		transform: translate(0, -12px);
	}
	100% {
		transform: translate(0, 0);
	}
}

.competitiveness_b_t {
	margin-top: 0.4rem;
	text-align: center;
	font-size: 0.26rem;
	font-weight: bold;
}

@media screen and (max-width:1440px) {
	.competitiveness_tit h6 {
		padding: 0 8%;
	}
}
@media screen and (max-width:1366px) {
	.competitiveness_b_t {
		font-size: 0.22rem;
	}
}
@media screen and (max-width:1200px) {
	.competitiveness_tit h6 {
		padding: 0 4%;
	}
}
@media screen and (max-width:1024px) {
	.competitiveness_tit img {
		height: 0.8rem;
	}
	.competitiveness_tit h6 {
		padding: 0 0;
	}
	.competitiveness_cont .round {
		width: 5.4rem;
		height: 5.4rem;
	}
	.competitiveness_b_t {
		font-size: 0.2rem;
	}
	.logoimg img {
		height: 2rem;
	}
	.logoimg p {
		font-size: 0.17rem;
	}
	.competitiveness_t span {
		width: 0.7rem;
		height: 0.7rem;
	}
	.competitiveness_t dt:nth-child(1) span {
		width: 1rem;
		height: 1rem;
	}
	.competitiveness_t dt:nth-child(3) span {
		width: 0.9rem;
		height: 0.9rem;
	}
	.competitiveness_t p {
		font-size: 0.2rem;
	}
	.competitiveness_t dt:nth-child(1) p {
		font-size: 0.3rem;
	}
	.competitiveness_t dt:nth-child(2) p {
		font-size: 0.22rem;
	}
	.competitiveness_t h6 {
		display: none;
	}
}
@media screen and (max-width:768px) {
	.competitiveness_tit h3 {
		font-size: 0.24rem;
	}
	.competitiveness_cont .round {
		width: 5rem;
		height: 5rem;
	}
	.competitiveness_t p {
		font-size: 0.18rem;
	}
	.competitiveness_t dt:nth-child(1) p {
		font-size: 0.24rem;
	}
	.competitiveness_t dt:nth-child(2) p {
		font-size: 0.2rem;
	}
	.competitiveness_b_t {
		font-size: 0.17rem;
	}
}
@media screen and (max-width:560px) {
	.competitiveness_tit img {
		height: 0.6rem;
	}
	.competitiveness_tit h3 {
		margin: .14rem 0;
		font-size: 0.18rem;
	}
	.competitiveness_cont {
		width: 80vw;
		margin-left: auto;
		margin-right: auto;
	}
	.competitiveness_cont .round {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
	}
	.competitiveness_cont .surround::before {
		top: -.05rem;
		width: 0.1rem;
		height: 0.1rem;
	}
	.logoimg img {
		height: 1.48rem;
	}
	.logoimg p {
		font-size: 0.14rem;
	}
	.competitiveness_t span {
		width: 0.5rem;
		height: 0.5rem;
	}
	.competitiveness_t dt:nth-child(1) span {
		width: .7rem;
		height: .7rem;
	}
	.competitiveness_t dt:nth-child(3) span {
		width: 0.6rem;
		height: 0.6rem;
	}
	.competitiveness_t p {
		font-size: 0.16rem;
	}
	.competitiveness_t dt:nth-child(1) p {
		font-size: 0.2rem;
	}
	.competitiveness_t dt:nth-child(2) p {
		font-size: 0.17rem;
	}
	.competitiveness_b_t {
		margin-top: 0.2rem;
		font-size: 0.16rem;
	}
}










/* Development */
.in_dev {}

.dev_cont {
	padding-bottom: 1.4rem;
	position: relative;
}
.dev_cont::before {
	content: '';
	position: absolute;
	left: 49%;
	top: 0;
	width: .6rem;
	height: 100%;
	background: -webkit-linear-gradient(top, rgb(253 193 16 / 80%), rgb(238 30 35 / 80%));
	background: linear-gradient(to bottom, rgb(253 193 16 / 80%), rgb(238 30 35 / 80%));
}

.dev_cont1 {
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.dev_cont1 .img {
	flex-shrink: 0;
	width: calc(49% + .6rem);
}
.dev_cont1 .img img {
	width: 100%;
}
.dev_cont1 .txt {
	box-sizing: border-box;
	padding: 0 5%;
	width: 100%;
}
.dev_cont1 .txt img {
	height: 1rem;
}
.dev_cont1 .txt h3 {
	margin: .2rem 0;
	font-size: 0.22rem;
	font-weight: bold;
}

.dev_cont2 {
	margin-bottom: 1rem;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
}
.dev_cont2 .txt {
	box-sizing: border-box;
	padding: 0 5%;
	width: 100%;
}
.dev_cont2 .txt span img {
	height: 1rem;
}

.dev_fold_list {
	margin-top: 0.18rem;
}
.dev_fold_list h3 b {
	color: #000;
}
.dev_fold_list .curr h3 b {
	color: var(--i_color3);
}
.dev_fold_t {
	display: none;
	margin-bottom: 0.3rem;
}

.dev_cont2_show {
	flex-shrink: 0;
	width: 51%;
	min-height: 10rem;
	margin-left: auto;
}
.dev_cont2_show dt {
	display: none;
}
.dev_cont2_show dt.curr {
	display: block;
}
.dev_cont2_show dt>img {
	width: 100%;
}
.dev_cont2_show_t {
	display: block;
	box-sizing: border-box;
	padding: .48rem 5% 0 14%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	gap: .4rem 0;
}

.dev_cont2_show_t span {
	padding-left: 0.24rem;
}
.dev_cont2_show_t h4 {
	margin-bottom: 0.16rem;
	font-size: 0.24rem;
	font-weight: bold;
	position: relative;
}
.dev_cont2_show_t h4::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: -.24rem;
	width: 0.1rem;
	height: 0.1rem;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

@media screen and (max-width:1440px) {
	.dev_cont {
		padding-bottom: 1.1rem;
	}
	.dev_cont2_show_t h4 {
		font-size: 0.22rem;
	}
}
@media screen and (max-width:1366px) {
	.dev_cont1 .txt img,
	.dev_cont2 .txt span img {
		height: 0.9rem;
	}
	.dev_cont2_show_t h4 {
		font-size: 0.2rem;
	}
}
@media screen and (max-width:1200px) {}
@media screen and (max-width:1024px) {
	.dev_cont {
		padding-bottom: 0;
	}
	.dev_cont::before {
		display: none;
	}

	.dev_cont1 {
		flex-wrap: wrap;
	}
	.dev_cont1 .img {
		width: 100%;
	}
	.dev_cont1 .txt {
		padding: 0 0;
		margin-top: 0.4rem;
	}
	.dev_cont1 .txt img,
	.dev_cont2 .txt span img {
		height: 0.8rem;
	}
	.dev_cont1 .txt h3 {
		font-size: 0.2rem;
	}

	.dev_cont2 {
		margin-bottom: 0.8rem;
	}
	.dev_cont2 .txt {
		padding: 0 0;
	}
	.dev_cont2_show {
		display: none;
	}

	.dev_fold_list h3.curr {
		background: rgb(0 0 0 / 5%);
	}
	.dev_fold_t {
		margin: 0.26rem auto;
	}
	.dt_content {
		margin-top: 0.2rem;
	}
	.dt_content>img {
		max-width: 100%;
	}
	.dev_cont2_show_t {
		margin-top: 0.2rem;
		padding: 0 0;
	}
	.dev_cont2_show_t h4 {
		margin-bottom: 0.16rem;
		font-size: 0.18rem;
	}
}
@media screen and (max-width:768px) {
	.dev_cont1 .txt img,
	.dev_cont2 .txt span img {
		height: 0.7rem;
	}
	.dev_cont2_show_t h4 {
		font-size: 0.17rem;
	}
}
@media screen and (max-width:560px) {
	.dev_cont1 .txt img,
	.dev_cont2 .txt span img {
		height: 0.6rem;
	}
	.dev_cont1 .txt h3 {
		font-size: 0.18rem;
	}
	.dev_cont2_show_t h4 {
		font-size: 0.16rem;
	}
	.dev_cont2_show_t h4::before {
		width: 0.08rem;
		height: 0.08rem;
	}
}