@charset "utf-8";

.in_contact {}
.in_contact>.wrap {
	padding-bottom: 2rem;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.c_cont {
	flex-shrink: 0;
	width: 44%;
}
.c_cont>h2 {
	margin-bottom: 0.46rem;
	font-size: 0.3rem;
	font-weight: bold;
}

.c_list {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.c_list dt,
.c_list dd {
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.c_list dt {
	width: 45%;
}
.c_list dt:first-child {
	margin-right: 10%;
}
.c_list dd {
	padding-top: 0.4rem;
	margin-top: 0.4rem;
	width: 100%;
	border-top: 1px solid var(--border_color);
}

.c_list img {
	margin-right: 0.2rem;
	flex-shrink: 0;
	height: 0.8rem;
}
.c_list span {
	width: 100%;
}
.c_list h6 {
	margin-bottom: 0.04rem;
	font-size: 0.24rem;
	font-weight: bold;
}
.c_list a,
.c_list p {
	font-size: 0.18rem;
}
.c_list a:hover {
	color: var(--i_color3);
}




.c_map {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
}
.c_map iframe {
	height: 100%;
}




.c_t {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	padding: .3rem 3%;
	background: -webkit-linear-gradient(left, rgb(253 193 16 / 80%), rgb(238 30 35 / 80%));
	background: linear-gradient(to right, rgb(253 193 16 / 80%), rgb(238 30 35 / 80%));
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	-webkit-border-radius: .5rem 0 0 0;
	border-radius: .5rem 0 0 0;
}
.c_t p {
	font-size: 0.26rem;
	color: #FFF;
}
.c_t span {}
.c_t img {
	display: block;
	margin: .04rem 0;
	height: 0.12rem;
	-webkit-filter: brightness(100);
	filter: brightness(100);
}

@media screen and (max-width:1440px) {
	.in_contact>.wrap {
		padding-bottom: 1.8rem;
	}
	.c_cont>h2 {
		font-size: 0.26rem;
	}
	.c_list dd {
		padding-top: 0.34rem;
		margin-top: 0.34rem;
	}
	.c_list h6 {
		font-size: 0.2rem;
	}
	.c_list img {
		height: 0.7rem;
	}

	.c_t {
		padding: .24rem 3%;
	}
	.c_t p {
		font-size: 0.24rem;
	}
	.c_t img {
		height: 0.1rem;
	}
}
@media screen and (max-width:1366px) {}
@media screen and (max-width:1200px) {
	.c_list img {
		height: 0.6rem;
	}
	.c_list h6 {
		font-size: 0.18rem;
	}
	.c_list a,
	.c_list p {
		font-size: 0.17rem;
	}
	.c_t {
		-webkit-border-radius: 0.4rem 0 0 0;
		border-radius: 0.4rem 0 0 0;
	}
	.c_t p {
		font-size: 0.22rem;
	}
}
@media screen and (max-width:1024px) {
	.in_contact>.wrap {
		padding-bottom: 0;
	}
	.c_cont {
		width: 100%;
	}
	.c_list dd {
		padding-top: 0.3rem;
		margin-top: 0.3rem;
	}
	.c_cont>h2 {
		margin-bottom: 0.3rem;
		font-size: 0.22rem;
	}
	.c_list img {
		height: 0.54rem;
	}

	.c_map {
		margin-top: 0.5rem;
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 50%;
	}
	.c_map iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.c_t {
		margin-bottom: 0.3rem;
		position: relative;
		padding: .16rem 3%;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	.c_t p {
		font-size: 0.2rem;
	}
	.c_t img {
		height: 0.08rem;
	}
}
@media screen and (max-width:768px) {
	.c_cont>h2 {
		font-size: 0.2rem;
	}
	.c_list dd {
		padding-top: 0.22rem;
		margin-top: 0.22rem;
	}
	.c_list img {
		height: 0.5rem;
	}
	.c_list h6 {
		font-size: 0.17rem;
	}
	.c_list a,
	.c_list p {
		font-size: 0.16rem;
	}

	.c_t p {
		font-size: 0.18rem;
	}
}
@media screen and (max-width:560px) {
	.c_cont>h2 {
		font-size: 0.18rem;
	}

	.c_list {
		gap: .24rem 0;
	}
	.c_list dt,
	.c_list dd {
		width: 100%;
		margin: 0 !important;
		padding: 0;
		border: none;
	}
	.c_list img {
		height: 0.44rem;
	}
	.c_list h6 {
		font-size: 0.16rem;
	}
	.c_list a,
	.c_list p {
		font-size: 0.15rem;
	}

	.c_map {
		margin-top: 0.4rem;
		padding-bottom: 60%;
	}

	.c_t {
		margin-bottom: 0.2rem;
		padding: .14rem 3%;
	}
	.c_t p {
		font-size: 0.15rem;
	}
	.c_t img {
		margin: .02rem 0;
		height: 0.06rem;
	}
}








.c_dp {
	--ico_size: .8rem
}

.c_dp_list {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	gap: .5rem 3.5%;
}

.c_dp_list li {
	width: 31%;
	background: #F1F1F1;
	position: relative;
	overflow: hidden;
}
.c_dp_list li::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
}

.c_dp_list a {
	display: block;
	padding: .34rem .36rem;
	position: relative;
}
.c_dp_list h5 {
	padding-bottom: 0.2rem;
	margin-bottom: 0.2rem;
	font-size: 0.2rem;
	font-weight: bold;
	position: relative;
}
.c_dp_list h5::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 70%;
	height: 1px;
	background: var(--border_color);
}
.c_dp_list h5::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background: rgb(255 255 255 / 40%);
}
.c_dp_list p {
	font-size: 0.18rem;
}
.c_dp_list img {
	opacity: 1;
	position: absolute;
	right: -.14rem;
	bottom: -.14rem;
	height: var(--ico_size);

}

.c_dp_list li:hover {
	-webkit-border-radius: .4rem 0 0 0;
	border-radius: .4rem 0 0 0;
}
.c_dp_list li:hover::before {
	height: 100%;
}
.c_dp_list li:hover h5,
.c_dp_list li:hover p {
	color: #FFF;
}
.c_dp_list li:hover h5::before {
	width: 0;
}
.c_dp_list li:hover h5::after {
	width: 70%;
}
.c_dp_list li:hover img {
	opacity: 0;
}

.c_dp_list li,
.c_dp_list li::before,
.c_dp_list h5,
.c_dp_list h5::before,
.c_dp_list p,
.c_dp_list img {
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.c_dp_list h5::after {
	-webkit-transition: all .5s .3s;
	transition: all .5s .3s
}

@media screen and (max-width:1440px) {}
@media screen and (max-width:1366px) {
	.c_dp_list a {
		padding: .3rem .3rem;
	}
	.c_dp_list h5 {
		padding-bottom: 0.14rem;
		margin-bottom: 0.12rem;
		font-size: 0.18rem;
	}
}
@media screen and (max-width:1200px) {}
@media screen and (max-width:1024px) {
	.c_dp_list {
		gap: .3rem 3.5%;
	}
	.c_dp_list li {
		width: 48.25%;
	}
	.c_dp_list h5 {
		font-size: 0.17rem;
	}
	.c_dp_list p {
		font-size: 0.17rem;
	}
}
@media screen and (max-width:768px) {
	.c_dp {
		--ico_size: .6rem;
	}
	.c_dp_list a {
		padding: 0.2rem 0.24rem;
	}
	.c_dp_list h5 {
		font-size: 0.16rem;
	}
	.c_dp_list p {
		font-size: 0.15rem;
	}
}
@media screen and (max-width:560px) {
	.c_dp_list {
		gap: .1rem 0;
	}
	.c_dp_list li {
		width: 100%;
	}
	.c_dp_list a {
		padding: .16rem .2rem;
	}
}






.c_form {
	background: url(../images/c_form_bg.webp) no-repeat bottom center;
	background-size: cover;
}

#wpforms-987 {
	--input_font_size: 14px;
	--input_height: .52rem
}
#wpforms-form-987 {
	width: 100%;
	max-width: 1230px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden
}

#wpforms-987 input,
#wpforms-987 button {
	margin: 0;
	padding: 0;
	border: none;
	background: none
}
#wpforms-987 .wpforms-field {
	padding: 0;
	margin: 0
}
#wpforms-987 .wpforms-field-label {
	font-size: 0;
}
#wpforms-987 .wpforms-required-label {
	position: absolute;
	top: .06rem;
	left: .1rem;
	font-size: .16rem;
	color: #F00
}
#wpforms-987 .wpforms-field {
	width: 100%;
	background: transparent;
	padding-bottom: .26rem;
	position: relative;
	overflow: hidden
}

#wpforms-987 .wpforms-field-container input,
#wpforms-987 textarea {
	width: 100%;
	max-width: 100% !important;
	min-width: 100%;
	font-size: var(--input_font_size);
	color: #333;
	height: var(--input_height);
	box-sizing: border-box;
	border: 1px solid var(--border_color);
	background: #FFF;
	padding: 0 .24rem;
	overflow: hidden;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
#wpforms-987 input {
	line-height: var(--input_height)
}
#wpforms-987 textarea {
	line-height: .22rem;
	min-height: 1.8rem;
	padding: .06rem .24rem
}
#wpforms-987 .wpforms-field-container input:hover,
#wpforms-987 .wpforms-field-container textarea:hover {
	border-color: var(--i_color2);
}

#wpforms-987-field_1-container input {
	-webkit-border-radius: .2rem 0 0 0;
	border-radius: .2rem 0 0 0;
}
#wpforms-987-field_1-container,
#wpforms-987-field_2-container {
	width: 49% !important;
}

#wpforms-987 input::-webkit-input-placeholder,
#wpforms-987 textarea::-webkit-input-placeholder {
	color: rgb(0 0 0 / 40%);
	font-size: var(--input_font_size)
}
#wpforms-987 input::-moz-placeholder,
#wpforms-987 textarea::-moz-placeholder {
	color: rgb(0 0 0 / 40%);
	font-size: var(--input_font_size)
}
#wpforms-987 input::-ms-input-placeholder,
#wpforms-987 textarea::-ms-input-placeholder {
	color: rgb(0 0 0 / 40%);
	font-size: var(--input_font_size)
}

#wpforms-987-field_1-error,
#wpforms-987-field_2-error,
#wpforms-987-field_3-error,
#wpforms-987-field_4-error,
#wpforms-987-field_5-error,
#wpforms-987-field_6-error {
	position: absolute;
	font-size: 12px;
	color: #A90909;
}

#wpforms-987 .wpforms-field-container {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden
}
#wpforms-987 .wpforms-submit-container {
	width: 4rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0;
	-webkit-border-radius: .3rem 0 0 0;
	border-radius: .3rem 0 0 0;
	overflow: hidden;
	position: relative;
}
#wpforms-987 .wpforms-submit-container::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -80%;
	width: 0.5rem;
	height: 1.4rem;
	background: rgb(255 255 255 / 30%);
	-webkit-transform: translate(0, -50%) rotate(130deg);
	transform: translate(0, -50%) rotate(130deg);
	-webkit-transition: all .8s ease;
	transition: all .8s ease
}
#wpforms-987 .wpforms-submit-container button {
	width: 100%;
	height: .5rem;
	font-size: .16rem;
	color: #FFF;
	line-height: .5rem;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	cursor: pointer;
}
#wpforms-987 .wpforms-submit-container:hover::before {
	left: 150%;
}
#wpforms-987 .wpforms-submit-container img {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 4px;
	z-index: 2
}

@media screen and (max-width:1440px) {}
@media screen and (max-width:1366px) {}
@media screen and (max-width:1200px) {}
@media screen and (max-width:1024px) {
	#wpforms-987 {
		--input_height: .46rem
	}
	#wpforms-987 .wpforms-submit-container {
		width: 3rem;
	}
	#wpforms-987 .wpforms-submit-container button {
		height: 0.46rem;
		line-height: 0.46rem;
		font-size: 0.15rem;
	}
}
@media screen and (max-width:768px) {
	#wpforms-987 .wpforms-field {
		padding-bottom: 0.2rem;
	}
}
@media screen and (max-width:560px) {
	#wpforms-987 .wpforms-field {
		width: 100% !important
	}
	#wpforms-987 .wpforms-submit-container {
		width: 2.1rem;
		-webkit-border-radius: .2rem 0 0 0;
		border-radius: .2rem 0 0 0;
	}
	#wpforms-987 .wpforms-submit-container button {
		height: 0.42rem;
		line-height: 0.42rem;
		font-size: 0.15rem;
	}
}