@charset "utf-8";

/* banner */
.banner {
	width: 100%;
	overflow: hidden;
}
.banner .swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}
.banner .swiper-wrapper {
	display: flex;
	position: relative;
	width: 100%;
	z-index: 1
}
.banner .swiper-slide {
	height: 0;
	padding-bottom: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-shrink: 0;
	position: relative;
	overflow: hidden
}
.banner .swiper-slide>img,
.banner .swiper-slide>video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover
}

.banner-button-prev,
.banner-button-next {
	display: none;
}

.banner-pagination {
	position: absolute;
	left: 2.5vw;
	bottom: 10%;
	text-align: center;
	z-index: 2;
}
.banner-pagination .swiper-pagination-bullet {
	width: .7rem;
	height: .02rem;
	display: inline-block;
	margin: 0 6px;
	background: #CCC;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
	outline: none;
	cursor: pointer;
	position: relative;
}
.banner-pagination .swiper-pagination-bullet::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 4s ease;
	transition: all 4s ease
}
.banner-pagination .swiper-pagination-bullet-active::before {
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-animation: w100 5800ms 1;
	animation: w100 5800ms 1;
}
@keyframes w100 {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}

@media screen and (max-width:1200px) {
	.banner-button-prev,
	.banner-button-next {
		display: none;
	}
}
@media screen and (max-width:1024px) {
	.banner {
		height: auto;
	}
	.banner .swiper-slide {
		padding-bottom: 50%
	}

	.banner-button-prev,
	.banner-button-next {
		display: none
	}
}
@media screen and (max-width:768px) {
	.banner .swiper-slide {
		padding-bottom: 52%
	}

	.banner-pagination {
		bottom: 0.3rem;
	}
	.banner-pagination .swiper-pagination-bullet {
		width: 0.5rem;
	}
}
@media screen and (max-width:560px) {
	.banner-pagination {
		bottom: 0.26rem;
	}
}







/* banner上文字 */
.b_t {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 0;
	width: 100%;
	z-index: 3;
}

.b_t1 h2 {
	font-size: 0.82rem;
	text-transform: uppercase;
	font-weight: 100;
	color: var(--i_color);
	line-height: 0.9rem;
}
.b_t1 h5 {
	margin-top: 0.3rem;
	font-size: 0.3rem;
	color: #676767;
}
.b_t1 h2,
.b_t1 h5 {
	position: relative;
	z-index: 2;
}

@media screen and (max-width:1440px) {
	.b_t1 h2 {
		font-size: 0.7rem;
		line-height: 0.76rem;
	}
	.b_t1 h5 {
		font-size: 0.24rem;
	}
}
@media screen and (max-width:1366px) {
	.b_t1 h2 {
		font-size: 0.62rem;
		line-height: 0.7rem;
	}
	.b_t1 h5 {
		font-size: 0.22rem;
	}
}
@media screen and (max-width:1200px) {
	.b_t1 h2 {
		font-size: 0.54rem;
		line-height: 0.6rem;
	}
	.b_t1 h5 {
		font-size: 0.2rem;
	}
}
@media screen and (max-width:1024px) {
	.b_t {
		top: 44%;
	}

	.b_t1 h2 {
		font-size: 0.44rem;
		line-height: 0.5rem;
	}
	.b_t1 h5 {
		font-size: 0.2rem;
	}
}
@media screen and (max-width:768px) {
	.b_t1 h2 {
		font-size: 0.34rem;
		line-height: 0.4rem;
	}
	.b_t1 h5 {
		margin-top: 0.2rem;
		font-size: 0.18rem;
	}

	.i_banner_map i::before {
		width: 0.6rem;
		height: 0.6rem;
	}
	.i_banner_map i::after {
		width: 0.4rem;
		height: 0.4rem;
	}
}
@media screen and (max-width:560px) {
	.b_t1 h2 {
		font-size: 0.22rem;
		line-height: 0.28rem;
	}
	.b_t1 h5 {
		margin-top: 0.1rem;
		font-size: 0.14rem;
	}

	.i_banner_map i::before {
		width: 0.4rem;
		height: 0.4rem;
	}
	.i_banner_map i::after {
		width: 0.3rem;
		height: 0.3rem;
	}
}






/* About */
.i_about {
	background: #FFF;
}

.i_ab_cont {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.i_ab_t {
	width: 30%;
}


.i_ab_num {
	margin-left: auto;
	max-width: 60%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	gap: .3rem 5%;
}
.i_ab_num dt {
	width: 30%;
}

.i_ab_num span {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}
.i_ab_num .roll_num {
	font-size: 0.48rem;
}
.i_ab_num b,
.i_ab_num p {
	font-size: 0.16rem;
	font-weight: normal;
}
.i_ab_num h6 {
	font-size: 0.18rem;
}

@media screen and (max-width:1440px) {
	.i_ab_num .roll_num {
		font-size: 0.44rem;
	}
	.i_ab_num h6 {
		font-size: 0.17rem;
	}
}
@media screen and (max-width:1024px) {
	.i_ab_t {
		width: 100%;
	}
	.i_ab_num {
		width: 100%;
		max-width: 100%;
		margin: .3rem 0 .2rem;
	}
	.i_ab_num .roll_num {
		font-size: 0.32rem;
	}
	.i_ab_num b,
	.i_ab_num p {
		font-size: 0.15rem;
	}
	.i_ab_num h6 {
		font-size: 0.16rem;
	}
}
@media screen and (max-width:768px) {}
@media screen and (max-width:560px) {
	.i_ab_num .roll_num {
		font-size: 0.26rem;
	}
	.i_ab_num h6 {
		font-size: 0.13rem;
	}
}




.i_ab_pic {
	--round_size: .24rem
}
.i_ab_pic {
	display: table;
	width: 74.8vw;
	max-width: 1436px;
	padding-top: 0.6rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.i_ab_pic>img {
	width: 100%;
	position: relative;
	z-index: 3;
}

.i_round {
	position: absolute;
	top: .2rem;
	left: 7%;
	width: 87.744%;
}
.i_round::before {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.i_star1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid rgb(0 0 0 / 10%);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	animation: round 56s linear infinite;
	-webkit-animation: round 56s linear infinite;
}

.i_star2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 84%;
	height: 84%;
	box-sizing: border-box;
	border: 1px solid rgb(0 0 0 / 20%);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	animation: round2 44s linear infinite;
	-webkit-animation: round2 44s linear infinite;
}

.i_round li {
	position: absolute;
	width: var(--round_size);
	height: var(--round_size);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: -webkit-linear-gradient(100deg, var(--i_color2) 0%, var(--i_color) 100%);
	background: linear-gradient(100deg, var(--i_color2) 0%, var(--i_color) 100%);
}
.i_star1 li:nth-child(1),
.i_star2 li:nth-child(1) {
	left: 50%;
	transform: translate(-50%, 0);
	top: calc(-1 * var(--round_size) / 2);
}
.i_star1 li:nth-child(2),
.i_star2 li:nth-child(2) {
	top: 50%;
	transform: translate(0, -50%);
	right: calc(-1 * var(--round_size) / 2);
}
.i_star1 li:nth-child(3),
.i_star2 li:nth-child(3) {
	left: 50%;
	transform: translate(-50%, 0);
	bottom: calc(-1 * var(--round_size) / 2);
}
.i_star1 li:nth-child(4),
.i_star2 li:nth-child(4) {
	top: 50%;
	transform: translate(0, -50%);
	left: calc(-1 * var(--round_size) / 2);
}

@-webkit-keyframes round {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}
@keyframes round {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}
@-webkit-keyframes round2 {
	from {
		transform: rotateZ(360deg);
	}
	to {
		transform: rotateZ(0deg);
	}
}
@keyframes round2 {
	from {
		transform: translate(-50%, -50%) rotateZ(360deg);
	}
	to {
		transform: translate(-50%, -50%) rotateZ(0deg);
	}
}

@media screen and (max-width:1440px) {}
@media screen and (max-width:1366px) {}
@media screen and (max-width:1200px) {}
@media screen and (max-width:1024px) {
	.i_ab_pic {
		--round_size: .16rem
	}
	.i_ab_pic {
		width: 80vw;
	}
}
@media screen and (max-width:768px) {}
@media screen and (max-width:560px) {
	.i_ab_pic {
		--round_size: 8px
	}
	.i_star2 {
		width: 78%;
		height: 78%;
	}
}








.i_ab_vision {
	padding: .46rem 0;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-border-radius: .7rem 0 0 0;
	border-radius: .7rem 0 0 0;
}
.i_ab_vision .wrap {
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
}
.i_ab_vision span {
	width: 50%;
	font-size: 0.24rem;
	color: #FFF;
}
.i_ab_vision h2 {
	margin-left: auto;
	flex-shrink: 0;
	font-size: 0.48rem;
	color: #FFF;
	text-transform: uppercase;
}

@media screen and (max-width:1440px) {
	.i_ab_vision {
		padding: .34rem 0;
	}
	.i_ab_vision span {
		width: 60%;
		font-size: 0.2rem;
	}
	.i_ab_vision h2 {
		font-size: 0.42rem;
	}
}
@media screen and (max-width:1366px) {
	.i_ab_vision h2 {
		font-size: 0.36rem;
	}
}
@media screen and (max-width:1200px) {}
@media screen and (max-width:1024px) {
	.i_ab_vision {
		padding: .3rem 0;
	}
	.i_ab_vision h2 {
		font-size: 0.34rem;
	}
	.i_ab_vision span {
		width: 65%;
		font-size: 0.18rem;
	}
}
@media screen and (max-width:768px) {
	.i_ab_vision {
		-webkit-border-radius: .5rem 0 0 0;
		border-radius: .5rem 0 0 0;
	}
	.i_ab_vision h2 {
		font-size: 0.24rem;
	}
	.i_ab_vision span {
		width: 70%;
		font-size: 0.16rem;
	}
}
@media screen and (max-width:560px) {
	.i_ab_vision {
		-webkit-border-radius: .3rem 0 0 0;
		border-radius: .3rem 0 0 0;
	}
	.i_ab_vision .wrap {
		flex-wrap: wrap;
		box-sizing: border-box;
		padding: 0 .14rem;
	}
	.i_ab_vision h2 {
		margin-bottom: 0.1rem;
		font-size: 0.2rem;
		margin-left: 0;
		order: -1;
	}
	.i_ab_vision span {
		width: 100%;
		font-size: 0.14rem;
	}
}









/* solutions */
.i_solutions {}

.i_sol_cont {
	position: relative;
}

.i_sol_p {
	width: 100%;
	position: relative;
	overflow: hidden
}
.i_sol_p::before {
	content: "";
	display: block;
	padding-bottom: 40.625%
}
.i_sol_p li {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.i_sol_p li.curr {
	opacity: 1;
	z-index: 2;
}
.i_sol_p img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.i_sol_p .txt {
	position: absolute;
	top: 24%;
	left: 0;
	width: 100%;
	z-index: 3;
}
.i_sol_p .txt .wrap {
	box-sizing: border-box;
	padding-right: 50%;
}
.i_sol_p .txt h2 {
	font-size: 0.4rem;
}
.i_sol_p span {
	margin-top: 0.2rem;
}
.i_sol_p span p {
	margin: .2rem 0 .26rem;
	font-size: 0.22rem;
}

.i_sol_t {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgb(0 0 0 / 20%);
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	z-index: 3;
}
.i_sol_t dt {
	width: 100%;
	padding: .2rem 5%;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.i_sol_t dt::before {
	content: '';
	position: absolute;
	bottom: -100%;
	right: 0;
	width: 100%;
	height: 100%;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-border-radius: .6rem 0 0 0;
	border-radius: .6rem 0 0 0;
	-webkit-transition: all .7s ease;
	transition: all .7s ease
}
.i_sol_t dt.curr::before {
	bottom: 0;
}

.i_sol_t span {
	position: relative;
}
.i_sol_t img {
	width: 0.34rem;
	height: 0.34rem;
}
.i_sol_t p {
	margin-top: 0.1rem;
	font-size: 0.18rem;
	color: #FFF;
}

@media screen and (max-width:1440px) {
	.i_sol_p .txt .wrap {
		padding-right: 40%;
	}
	.i_sol_p .txt h2 {
		font-size: 0.34rem;
	}
}
@media screen and (max-width:1366px) {}
@media screen and (max-width:1200px) {
	.i_sol_p .txt {
		top: 18%;
	}
	.i_sol_t p {
		font-size: 0.17rem;
	}
}
@media screen and (max-width:1024px) {
	.i_sol_p .txt {
		top: 22%;
	}
	.i_sol_p .txt .wrap {
		padding-right: 20%;
	}
	.i_sol_p .txt h2 {
		font-size: 0.26rem;
	}
	.i_sol_p span p {
		font-size: 0.18rem;
	}

	.i_sol_t {
		position: initial;
	}
	.i_sol_t dt {
		padding: .2rem .2rem;
	}
	.i_sol_t img {
		width: 0.24rem;
		height: 0.24rem;
	}
	.i_sol_t p {
		font-size: 0.15rem;
	}
}
@media screen and (max-width:768px) {
	.i_sol_p {
		width: 94vw;
		margin-left: auto;
		margin-right: auto;
	}
	.i_sol_p::before {
		display: none;
	}

	.i_sol_p li {
		opacity: 1;
		position: relative;
		box-sizing: border-box;
		border: 1px solid #E7E7E7;
		margin-bottom: 0.2rem;
		overflow: hidden;
	}
	.i_sol_p li::before {
		content: '';
		display: block;
		padding-bottom: 40.625%;
	}
	.i_sol_p li::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(255 255 255 / 80%);
	}
	.i_sol_p img {
		position: absolute;
		top: 0;
		left: 0;
	}

	.i_sol_p .txt {
		top: 48%;
		transform: translate(0, -50%);
	}
	.i_sol_p .txt .wrap {
		box-sizing: border-box;
		padding: 0 .3rem;
	}
	.i_sol_p .txt h2 {
		font-size: 0.2rem;
	}
	.i_sol_p span {
		margin-top: 0;
		display: block;
	}
	.i_sol_p span p {
		margin: .1rem 0 .14rem;
		font-size: 0.16rem;
	}

	.i_sol_t {
		display: none;
	}
}
@media screen and (max-width:560px) {
	.i_sol_p li {
		margin-bottom: 0.1rem;
	}
	.i_sol_p li::before {
		padding-bottom: 50%;
	}
	.i_sol_p .txt .wrap {
		padding: 0 .2rem;
	}
	.i_sol_p .txt h2 {
		font-size: 0.16rem;
	}
	.i_sol_p span p {
		font-size: 0.14rem;
	}
}







.i_news {}

.i_news_tit {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.i_news_tit .i_more {
	margin-left: auto;
}

.i_news_list {
	position: relative;
	overflow: hidden
}
.i_news_list .swiper-wrapper {
	display: -webkit-flex;
	display: flex;
	position: relative;
	width: 100%
}
.i_news_list .swiper-slide {
	flex-shrink: 0;
	position: relative
}
.i_news_list .img {
	width: 100%;
	position: relative;
	overflow: hidden
}
.i_news_list .img::before {
	content: "";
	display: block;
	padding-bottom: 48.8%
}
.i_news_list .img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

.i_news_list .n_time {
	position: absolute;
	bottom: -.4rem;
	right: 0;
	padding: .05rem .2rem .05rem .3rem;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	font-size: 0.14rem;
	color: #FFF;
	-webkit-border-radius: .2rem 0 0 0;
	border-radius: .2rem 0 0 0;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

.i_news_list .txt {
	margin-top: 0.16rem;
}
.i_news_list .txt p {
	font-size: 0.2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.i_news_list .swiper-slide:hover img {
	width: 110%;
	height: 110%;
}
.i_news_list .swiper-slide:hover .n_time {
	bottom: 0;
}
.i_news_list .swiper-slide:hover p {
	color: var(--i_color);
}

.news-pagination {
	display: block;
	text-align: center
}
.news-pagination .swiper-pagination-bullet {
	width: .7rem;
	height: .02rem;
	display: inline-block;
	margin: 0 6px;
	background: #E1E1E1;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
	outline: none;
	cursor: pointer;
	position: relative;
}
.news-pagination .swiper-pagination-bullet::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.news-pagination .swiper-pagination-bullet-active::before {
	width: 100%;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
}

@media screen and (max-width:1440px) {
	.i_news_list .txt p {
		font-size: 0.18rem;
	}
}
@media screen and (max-width:1200px) {
	.i_news_list .txt p {
		font-size: 0.17rem;
	}
}
@media screen and (max-width:1024px) {
	.i_news_list {
		padding-bottom: 0.2rem;
	}
	.i_news_list .txt p {
		font-size: 0.15rem;
	}
	.i_news_list .n_time {
		bottom: 0;
	}

	.news-pagination .swiper-pagination-bullet {
		width: 0.4rem;
	}
}
@media screen and (max-width:768px) {
	.news-pagination .swiper-pagination-bullet {
		width: 0.2rem;
	}
}
@media screen and (max-width:560px) {
	.i_news_list {
		padding-bottom: 0.06rem;
	}
}