@charset "utf-8";

.p_cont {}
.p_cont>.wrap {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.p_list_box {
	width: 66%;
}
.p_list_box dt {
	margin-bottom: 0.3rem;
	position: static;
}
.p_cat_tit {
	padding-bottom: 0.3rem;
	border-bottom: 1px solid #BBB;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	cursor: pointer;
	background: #FFF;
	z-index: 3;
}
.p_cat_tit p {
	margin-right: 0.4rem;
	font-size: 0.24rem;
	font-weight: bold;
}
.p_cat_tit img {
	height: 0.12rem;
	flex-shrink: 0;
	margin-left: auto;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.p_cat_tit.curr p {
	color: var(--i_color3);
}
.p_cat_tit.curr img {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.p_list {
	display: none;
	margin-bottom: 0.6rem;
}
.p_list li {
	padding: .2rem 0;
	border-bottom: 1px solid var(--border_color);
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.p_list a {
	margin-right: 0.4rem;
	width: 100%;
	font-size: 0.18rem;
}
.p_list li:hover a {
	color: var(--i_color3);
}

.p_list span {
	margin-left: auto;
	flex-shrink: 0;
	padding: .06rem .2rem;
	background: #F1F1F1;
	-webkit-border-radius: .2rem 0 0 0;
	border-radius: .2rem 0 0 0;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.p_list span::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.p_list span i {
	font-size: 0.16rem;
	position: relative;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.p_list span:hover::before {
	left: initial;
	right: 0;
	width: 100%;
}
.p_list span:hover i {
	color: #FFF;
}


.expand-btn {
	margin-top: 0.2rem;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.expand-btn b {
	margin-right: 0.2rem;
	font-size: 0.18rem;
}
.expand-btn img {
	height: 0.1rem;
}
.expand-btn b:hover {
	color: var(--i_color3);
}



.p_aside_form {
	margin-left: auto;
	width: 30%;
	box-sizing: border-box;
	padding: .46rem;
	flex-shrink: 0;
	background: #F1F1F1;
	position: relative;
}
.p_aside_form::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 4px;
	height: 100%;
	background: -webkit-linear-gradient(top, var(--i_color2), var(--i_color));
	background: linear-gradient(to bottom, var(--i_color2), var(--i_color));
}
.p_aside_form .tit {
	margin-bottom: 0.22rem;
	font-size: 0.2rem;
}

#wpforms-456 {
	--input_font_size: 14px;
	--input_height: .48rem
}
#wpforms-form-456 {
	width: 100%;
	position: relative;
	overflow: hidden
}

#wpforms-456 input,
#wpforms-456 button {
	margin: 0;
	padding: 0;
	border: none;
	background: none
}
#wpforms-456 .wpforms-field {
	padding: 0;
	margin: 0
}
#wpforms-456 .wpforms-field-label {
	font-size: 0;
}
#wpforms-456 .wpforms-required-label {
	position: absolute;
	top: .06rem;
	left: .1rem;
	font-size: .16rem;
	color: #F00
}
#wpforms-456 .wpforms-field {
	width: 100%;
	background: transparent;
	padding-bottom: .2rem;
	position: relative;
	overflow: hidden
}

#wpforms-456 .wpforms-field-container input,
#wpforms-456 textarea {
	width: 100%;
	max-width: 100% !important;
	min-width: 100%;
	font-size: var(--input_font_size);
	color: #333;
	height: var(--input_height);
	box-sizing: border-box;
	background: #FFF;
	padding: 0 .26rem;
	-webkit-border-radius: .05rem;
	border-radius: .05rem;
	overflow: hidden;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
#wpforms-456 .wpforms-field-container input:hover,
#wpforms-456 textarea:hover {
	border-color: var(--i_color);
}
#wpforms-456 input {
	line-height: var(--input_height)
}
#wpforms-456 textarea {
	line-height: .22rem;
	min-height: 1rem;
	padding: .06rem .26rem
}

#wpforms-456-field_1-container {
	-webkit-border-radius: .2rem 0 0 0;
	border-radius: .2rem 0 0 0;
}

#wpforms-456 input::-webkit-input-placeholder,
#wpforms-456 textarea::-webkit-input-placeholder {
	color: rgb(0 0 0 / 40%);
	font-size: var(--input_font_size)
}
#wpforms-456 input::-moz-placeholder,
#wpforms-456 textarea::-moz-placeholder {
	color: rgb(0 0 0 / 40%);
	font-size: var(--input_font_size)
}
#wpforms-456 input::-ms-input-placeholder,
#wpforms-456 textarea::-ms-input-placeholder {
	color: rgb(0 0 0 / 40%);
	font-size: var(--input_font_size)
}

#wpforms-456-field_1-error,
#wpforms-456-field_2-error,
#wpforms-456-field_3-error,
#wpforms-456-field_4-error,
#wpforms-456-field_5-error,
#wpforms-456-field_6-error {
	position: absolute;
	font-size: 12px;
	color: #A90909;
}

#wpforms-456 .wpforms-field-container {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden
}
#wpforms-456 .wpforms-submit-container {
	text-align: center;
	padding: 0;
	overflow: hidden;
	position: relative;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-border-radius: .26rem 0 0 0;
	border-radius: .26rem 0 0 0;
	width: 2rem;
}
#wpforms-456 .wpforms-submit-container::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -80%;
	width: 0.5rem;
	height: 1.4rem;
	background: rgb(255 255 255 / 30%);
	-webkit-transform: translate(0, -50%) rotate(130deg);
	transform: translate(0, -50%) rotate(130deg);
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
#wpforms-456 .wpforms-submit-container button {
	width: 100%;
	height: .5rem;
	font-size: .2rem;
	color: #FFF;
	line-height: .5rem;
	cursor: pointer;
	position: relative;
	z-index: 2
}
#wpforms-456 .wpforms-submit-container:hover::before {
	left: 150%;
}
#wpforms-456 .wpforms-submit-container img {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 4px;
	z-index: 2
}

@media screen and (max-width:1440px) {
	.p_cat_tit p {
		font-size: 0.22rem;
	}
	.p_aside_form {
		padding: .3rem;
	}
	.p_aside_form .tit {
		font-size: 0.18rem;
	}
	#wpforms-456 .wpforms-submit-container button {
		font-size: 0.18rem;
	}
}
@media screen and (max-width:1366px) {
	.p_aside_form .tit {
		font-size: 0.17rem;
	}
}
@media screen and (max-width:1200px) {
	.p_cat_tit p {
		font-size: 0.2rem;
	}
	.expand-btn b {
		font-size: 0.17rem;
	}
}
@media screen and (max-width:1024px) {
	.p_list_box {
		width: 100%;
	}
	.p_cat_tit {
		padding-bottom: 0.18rem;
	}
	.p_cat_tit p {
		font-size: 0.18rem;
	}
	.p_cat_tit img {
		height: 0.1rem;
	}
	.p_list a {
		font-size: 0.17rem;
	}
	.p_list span i {
		font-size: 0.15rem;
	}

	.p_aside_form {
		margin: .3rem 0 0 0;
		width: 100%;
	}
	.p_aside_form .tit {
		font-size: 0.16rem;
	}
	#wpforms-456 .wpforms-submit-container {
		width: 1.7rem;
	}
	#wpforms-456 .wpforms-submit-container button {
		height: 0.44rem;
		line-height: 0.44rem;
		font-size: 0.15rem;
	}
}
@media screen and (max-width:768px) {
	.p_list_box dt {
		margin-bottom: 0.2rem;
	}
	.p_cat_tit {
		border-bottom-color: #DDD;
	}
	.p_list {
		margin-bottom: 0.44rem;
	}
	.p_list li {
		padding: .14rem 0;
	}
	.p_list a {
		font-size: 0.15rem;
	}
	.p_list span i {
		font-size: 0.14rem;
	}

	.expand-btn b {
		margin-right: 0.1rem;
		font-size: 0.16rem;
	}
	.expand-btn img {
		height: 0.08rem;
	}
}
@media screen and (max-width:560px) {
	.p_list a {
		font-size: 0.14rem;
	}

	.expand-btn b {
		font-size: 0.14rem;
	}

	.p_aside_form {
		padding: .2rem;
	}
	.p_aside_form::before {
		width: 3px;
	}
	.p_aside_form .tit {
		font-size: 0.14rem;
	}
	#wpforms-456 {
		--input_font_size: 14px;
		--input_height: .42rem
	}
}









#p_eject_shadow {
	display: none;
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	left: 0%;
	width: 100%;
	height: 100%;
	background: rgb(0 0 0 / 70%);
	z-index: 9999999999998;
}
#p_eject_form {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 800px;
	width: 92%;
	box-sizing: border-box;
	padding: 30px 30px 40px;
	background: rgb(255 255 255 / 100%);
	z-index: 9999999999999;
	overflow: auto
}
#p_eject_form .tit {
	margin-bottom: .2rem;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#p_eject_form .tit p {
	font-size: .3rem;
	font-weight: bold;
	line-height: .3rem
}
.p_eject_close {
	display: block;
	margin-left: auto;
	font-size: 0.36rem;
	color: #000;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}
.p_eject_close:hover {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	color: var(--i_color3);
}

#wpforms-789 {
	--input_font_size: 14px;
	--input_height: .46rem
}
#wpforms-form-789 {
	width: 100%;
	position: relative;
	overflow: hidden
}

#wpforms-789 input,
#wpforms-789 button {
	margin: 0;
	padding: 0;
	border: none;
	background: none
}
#wpforms-789 .wpforms-field {
	padding: 0;
	margin: 0
}
#wpforms-789 .wpforms-field-label {
	font-size: 0;
}
#wpforms-789 .wpforms-required-label {
	position: absolute;
	top: .1rem;
	left: .05rem;
	font-size: .16rem;
	color: #F00
}
#wpforms-789 .wpforms-field {
	width: 100%;
	background: transparent;
	padding-bottom: .2rem;
	position: relative;
	overflow: hidden
}

#wpforms-789 .wpforms-field-container input,
#wpforms-789 textarea {
	width: 100%;
	max-width: 100% !important;
	min-width: 100%;
	font-size: var(--input_font_size);
	color: #333;
	height: var(--input_height);
	box-sizing: border-box;
	border: 1px solid var(--border_color);
	background: none;
	padding: 0 .16rem;
	overflow: hidden;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
#wpforms-789 .wpforms-field-container input:hover,
#wpforms-789 textarea:hover {
	border-color: var(--i_color);
}
#wpforms-789 input {
	line-height: var(--input_height)
}
#wpforms-789 textarea {
	line-height: .22rem;
	min-height: 1rem;
	padding: .06rem .16rem
}

#wpforms-789-field_1-container,
#wpforms-789-field_2-container {
	width: 49% !important;
}

#wpforms-789 input::-webkit-input-placeholder,
#wpforms-789 textarea::-webkit-input-placeholder {
	color: rgb(0 0 0 / 40%);
	font-size: var(--input_font_size)
}
#wpforms-789 input::-moz-placeholder,
#wpforms-789 textarea::-moz-placeholder {
	color: rgb(0 0 0 / 40%);
	font-size: var(--input_font_size)
}
#wpforms-789 input::-ms-input-placeholder,
#wpforms-789 textarea::-ms-input-placeholder {
	color: rgb(0 0 0 / 40%);
	font-size: var(--input_font_size)
}

#wpforms-789-field_1-error,
#wpforms-789-field_2-error,
#wpforms-789-field_3-error,
#wpforms-789-field_4-error,
#wpforms-789-field_5-error,
#wpforms-789-field_6-error {
	position: absolute;
	font-size: 12px;
	color: #A90909;
}

#wpforms-789 .wpforms-field-container {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden
}
#wpforms-789 .wpforms-submit-container {
	width: 3rem;
	text-align: center;
	padding: 0;
	overflow: hidden;
	position: relative;
	-webkit-border-radius: .2rem 0 0 0;
	border-radius: .2rem 0 0 0;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
}
#wpforms-789 .wpforms-submit-container::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -80%;
	width: 0.5rem;
	height: 1.4rem;
	background: rgb(255 255 255 / 30%);
	-webkit-transform: translate(0, -50%) rotate(130deg);
	transform: translate(0, -50%) rotate(130deg);
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
#wpforms-789 .wpforms-submit-container button {
	width: 100%;
	height: .46rem;
	font-size: .16rem;
	color: #FFF;
	line-height: .46rem;
	cursor: pointer;
	position: relative;
	z-index: 2
}
#wpforms-789 .wpforms-submit-container:hover::before {
	left: 150%;
}
#wpforms-789 .wpforms-submit-container img {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 4px;
	z-index: 2
}

@media screen and (max-width:1024px) {
	#p_eject_form .tit p {
		font-size: 0.26rem;
	}
	#wpforms-789 .wpforms-submit-container {
		width: 2rem;
	}
	#wpforms-789 .wpforms-submit-container button {
		font-size: 0.14rem;
		height: 0.42rem;
		line-height: 0.42rem;
	}
}
@media screen and (max-width:768px) {
	#p_eject_form .tit p {
		font-size: 0.22rem;
	}
	.p_eject_close {
		font-size: 0.32rem;
	}
}
@media screen and (max-width:560px) {
	#p_eject_form {
		padding: .2rem .2rem .3rem;
	}
	#p_eject_form .tit p {
		font-size: 0.2rem;
	}
	.p_eject_close {
		font-size: 0.28rem;
	}
	#wpforms-789 .wpforms-field {
		width: 100% !important;
	}
	#wpforms-789 .wpforms-submit-container {
		width: 1.7rem;
	}
	#wpforms-789 .wpforms-submit-container button {
		height: 0.38rem;
		line-height: 0.38rem;
	}
}









/* Product Catalog */
.p_catalog_box{
	display:-webkit-flex;
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	min-height: 100vh;
}

.p_catalog{width: 100%;overflow: hidden;position: relative;}

.p_banner{width: 100%;overflow: hidden;position: relative;}
.p_banner::before{content: '';display: block;padding-bottom: 22.5%;}
.p_banner::after{content: '';position:absolute; top:0; left:0; width:100%; height:100%; background: rgb(0 0 0 / 30%);}

.p_banner .in_b_t{z-index: 5;}
.p_banner .in_b_t h2{color: #FFF;}

.p_banner img{
	position: absolute;
	left: 0;top: 0;
	width: 100vw;height: 100%;
	object-fit: cover;
}

.p_catalog_cont{}
.p_catalog_list{width: 100%;}
.p_catalog_list .p_list_box{display: none;position: relative;}
.p_catalog_list .p_list_box.curr{display: block;animation:catalog_list_change .5s linear 0s 1 alternate}
@keyframes catalog_list_change{
	from {opacity: 0;top: 20px;}
	to {opacity: 1;top: 0;}
}

.p_catalog_box .f_copy{width: 100%;align-self: flex-end;margin-top: auto;}
.f_catalog_logo{}
.f_catalog_logo img{height: 0.6rem;}

@media screen and (max-width:1440px) {}
@media screen and (max-width:1366px) {}
@media screen and (max-width:1200px) {
	.f_catalog_logo img{height: 0.54rem;}
}
@media screen and (max-width:1024px) {
	.p_banner::before{padding-bottom: 34%;}
	.f_catalog_logo img{height: 0.44rem;}
}
@media screen and (max-width:768px) {}
@media screen and (max-width:560px) {
	.p_banner::before{padding-bottom: 50%;}
	.f_catalog_logo img{height: 0.36rem;}
}


