@charset "utf-8";

/* Home Category */
.i_categroy {}

.i_cat_list {
	position: relative;
}
.i_cat_list dt {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	overflow: hidden;
}

.i_cat_list .pic,
.i_cat_list .txt {
	width: 50%;
	position: relative;
	background: #FFF;
}
.i_cat_list dt:nth-child(even) .txt {
	order: -1;
}

.i_cat_list .pic {
	min-height: 6rem;
}
.i_cat_list .pic img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all 1.5s ease;
	transition: all 1.5s ease
}

.i_cat_list .cont {
	box-sizing: border-box;
	padding: .8rem 1rem 1rem;
}
.i_cat_list .ico {
	width: 1rem;
	height: 1rem;
	object-fit: contain;
}
.cat_tit i {
	display: none;
}

.i_cat_name {
	margin: .2rem 0;
}
.i_cat_name a {
	font-size: 0.32rem;
	font-weight: bold;
}
.i_cat_name a:hover {
	color: var(--i_color3);
}

.i_catzi_list {
	padding-right: 0.3rem;
	max-height: 2.5rem;
	overflow-y: auto;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.i_catzi_list::-webkit-scrollbar {
	width: 1px;
}
.i_catzi_list::-webkit-scrollbar-thumb {
	background: var(--i_color)
}

.i_catzi_list li {
	width: 100%;
}
.i_catzi_list.col_2 {
	justify-content: space-between;
}
.i_catzi_list.col_2 li {
	width: 47%;
}
.i_catzi_list.col_3 {
	gap: 0 5%;
}
.i_catzi_list.col_3 li {
	width: 30%;
}


.i_catzi_list a {
	padding: .1rem 0;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	position: relative;
}
.i_catzi_list a::before,
.i_catzi_list a::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	height: 2px;
}
.i_catzi_list a::before {
	width: 100%;
	background: #DDD;
}
.i_catzi_list a::after {
	width: 0;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-transition: all .6s ease;
	transition: all .6s ease
}

.i_catzi_list p {
	margin-right: 0.1rem;
	font-size: 0.22rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.i_catzi_list span {
	margin-left: auto;
	flex-shrink: 0;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}
.i_catzi_list span b {
	padding-bottom: 0.01rem;
	font-size: 14px;
	color: var(--i_color3);
	text-decoration: underline;
}
.i_catzi_list span img {
	margin-left: 0.1rem;
}
.i_catzi_list span i {
	margin-right: 0.1rem;
	font-size: 0.2rem;
	color: var(--i_color3);
}

.i_catzi_list.col_3 p {
	font-size: 0.18rem;
}
.i_catzi_list.col_2 span b,
.i_catzi_list.col_3 span b {
	display: none;
}

.i_catzi_list a:hover::after {
	right: initial;
	left: 0;
	width: 100%;
}
.i_catzi_list a:hover p {
	color: var(--i_color3);
}

.vline {
	position: absolute;
	left: 50%;
	top: 0;
	width: 3px;
	height: 5rem;
	background: -webkit-linear-gradient(top, var(--i_color2), var(--i_color));
	background: linear-gradient(to bottom, var(--i_color2), var(--i_color));
}

.i_cat_list dt:hover .pic img {
	-webkit-transform: scale(1.15, 1.15);
	transform: scale(1.15, 1.15);
}

@media screen and (max-width:1440px) {
	.i_cat_list .pic {
		min-height: 5.3rem;
	}
	.i_cat_list .cont {
		padding: 0.7rem 0.7rem 0.9rem;
	}
	.i_cat_list .ico {
		width: 0.9rem;
		height: 0.9rem;
	}
	.i_cat_name a {
		font-size: 0.28rem;
	}
	.i_catzi_list {
		max-height: 2.3rem;
	}
	.i_catzi_list p {
		font-size: 0.18rem;
	}
	.i_catzi_list.col_3 p {
		font-size: 0.16rem;
	}
}
@media screen and (max-width:1366px) {
	.i_cat_list .pic {
		min-height: 5rem;
	}
	.i_cat_list .ico {
		width: 0.8rem;
		height: 0.8rem;
	}
}
@media screen and (max-width:1200px) {}
@media screen and (max-width:1024px) {
	.i_cat_list .pic {
		min-height: 4rem;
	}
	.i_cat_list .cont {
		padding: 0.4rem 0.4rem 0.6rem;
	}
	.i_cat_list .ico {
		width: 0.64rem;
		height: 0.64rem;
	}
	.i_cat_name {
		margin: .12rem 0;
	}
	.i_cat_name a {
		font-size: 0.2rem;
	}
	.i_catzi_list a::before,
	.i_catzi_list a::after {
		height: 1px;
	}

	.i_catzi_list {
		max-height: 2.14rem;
	}
	.i_catzi_list p {
		font-size: 0.16rem;
	}
	.i_catzi_list span b {
		display: none;
	}
	.i_catzi_list span img {
		margin-left: 0;
	}
	.i_catzi_list span i {
		margin-right: 0;
		font-size: 0.18rem;
	}

	.i_catzi_list.col_3 {
		gap: 0 0;
	}
	.i_catzi_list.col_2 li,
	.i_catzi_list.col_3 li {
		width: 100%;
	}

	.vline {
		width: 2px;
	}
}
@media screen and (max-width:768px) {
	.i_cat_list .pic,
	.i_cat_list .txt {
		width: 100%;
	}

	.i_cat_list .pic {
		display: none;
	}

	.i_cat_list {
		width: 94vw;
		margin-left: auto;
		margin-right: auto;
	}
	.i_cat_list dt {
		margin: .1rem 0;
	}
	.i_cat_list .cont {
		padding: 0 0;
	}

	.cat_tit {
		display: -webkit-flex;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		box-sizing: border-box;
		padding: .08rem .2rem;
		position: relative;
		background: rgb(0 0 0 / 3%);
	}
	.i_cat_list .ico {
		flex-shrink: 0;
		width: 0.5rem;
		height: 0.5rem;
	}
	.i_cat_name {
		margin: 0 .2rem 0 .2rem;
	}
	.i_cat_name a {
		font-size: 0.18rem;
		color: #333 !important;
	}
	.cat_tit i {
		flex-shrink: 0;
		display: block;
		margin-left: auto;
		font-size: 0.24rem;
		-webkit-transition: all .5s ease;
		transition: all .5s ease
	}
	.cat_tit.curr {
		background: rgb(0 0 0 / 6%);
	}
	.cat_tit.curr i {
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
	.cat_tit.curr a,
	.cat_tit.curr i {
		color: var(--i_color3) !important;
	}

	.i_catzi_list {
		display: none;
		max-height: none;
		padding-right: 0;
		box-sizing: border-box;
		padding: .14rem .2rem .26rem;
	}
	.i_catzi_list p {
		font-size: 0.15rem;
	}

	.vline {
		display: none;
	}
}
@media screen and (max-width:560px) {
	.i_cat_list .ico {
		width: 0.4rem;
		height: 0.4rem;
	}
	.i_cat_name a {
		font-size: 0.16rem;
	}
	.i_catzi_list p {
		font-size: 0.15rem !important;
		white-space: normal
	}
}