@charset "utf-8";

.in_solutions {}

.sol_cont {
	--horizontal-menu-num: 4;
	--horizontal-menu-margin: 1%;
	--horizontal-menu-width: calc((100% - (var(--horizontal-menu-margin) * (var(--horizontal-menu-num) - 1))) / 4);

	--item_num: 7;
	--item_height: .9rem;
	--item_margin: .1rem;
	--item_box_height: calc(var(--item_num) * var(--item_height) + (var(--item_num) - 1) * var(--item_margin));
}
.sol_cont {
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-end;
}

.sol_aside {
	flex-shrink: 0;
	width: .8rem;
	height: var(--item_box_height);
	background: -webkit-linear-gradient(top, var(--i_color2), var(--i_color));
	background: linear-gradient(to bottom, var(--i_color2), var(--i_color));
	-webkit-clip-path: polygon(50% 0%, 100% 6%, 100% 100%, 0 100%, 0% 6%);
	clip-path: polygon(50% 0%, 100% 6%, 100% 100%, 0 100%, 0% 6%);
	overflow: hidden;
}
.sol_aside li:nth-child(1) {
	height: 15%;
}
.sol_aside li:nth-child(2) {
	height: 27.5%;
}
.sol_aside li:nth-child(3) {
	height: 57.5%;
}
.sol_aside li {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: relative;
}
.sol_aside li:not(:last-child)::before,
.sol_aside li:not(:last-child)::after {
	content: '';
	position: absolute;
	bottom: .1rem;
	width: 70%;
	height: 2px;
	background: #FFF;
}
.sol_aside li:not(:last-child)::before {
	left: -14%;
	-webkit-transform: rotate(-34deg);
	transform: rotate(-34deg);
}
.sol_aside li:not(:last-child)::after {
	right: -14%;
	-webkit-transform: rotate(34deg);
	transform: rotate(34deg);
}
.sol_aside p {
	text-align: center;
	font-size: .15rem;
	color: #FFF;
}



.sol_table_box {
	margin-left: .3rem;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-end;
}

.sol_table_box .vertical_menu {
	flex-shrink: 0;
	width: 12%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.sol_table_box .vertical_menu dt {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center
}
.sol_table_box .vertical_menu dt p {
	padding: 0 .1rem;
	text-align: center;
	font-size: 0.16rem;
	font-weight: bold;
}

.sol_table {
	margin-left: .2rem;
	width: 100%;
	position: relative;
}

.sol_table .horizontal-menu {
	margin-bottom: 0.2rem;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.sol_table .horizontal-menu dt {
	width: var(--horizontal-menu-width);
	text-align: center;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.sol_table .horizontal-menu dt::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid var(--i_color3);
}
.sol_table .horizontal-menu p {
	padding: .12rem 0;
	font-size: 0.18rem;
	color: var(--i_color3);
	position: relative;
}
.sol_table .horizontal-menu dt.curr {
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-border-radius: .2rem 0 0 0;
	border-radius: .2rem 0 0 0;
}
.sol_table .horizontal-menu dt.curr::before {
	border-color: transparent;
}
.sol_table .horizontal-menu dt.curr p {
	color: #FFF;
}


.sol_table_t {
	height: var(--item_box_height);
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
}
.sol_table_t dt {
	position: absolute;
	top: 0;
	width: var(--horizontal-menu-width);
	height: 100%;
	-webkit-transition: all .7s ease;
	transition: all .7s ease
}
.sol_table_t dt:nth-child(1) {
	left: 0;
}
.sol_table_t dt:nth-child(2) {
	left: calc(1 * var(--horizontal-menu-width) + var(--horizontal-menu-margin));
}
.sol_table_t dt:nth-child(3) {
	left: calc(2 * var(--horizontal-menu-width) + var(--horizontal-menu-margin) * 2);
}
.sol_table_t dt:nth-child(4) {
	left: calc(3 * var(--horizontal-menu-width) + var(--horizontal-menu-margin) * 3);
}

.sol_table_t ul {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.sol_table_t li {
	width: 100%;
	box-sizing: border-box;
	padding: 0 .14rem;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.sol_table_t li::-webkit-scrollbar {
	width: 2px;
}
.sol_table_t li::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #333
}
.sol_table_t li::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	background: #F1F1F1
}

.sol_table_t li p {
	font-size: 0.14rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}

.sol_table_bottom_t {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: var(--item_height);
	-webkit-border-radius: .3rem 0 0 0;
	border-radius: .3rem 0 0 0;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	z-index: 3;
}
.sol_table_bottom_t p {
	padding: 0 .3rem;
	font-size: 0.15rem;
	color: #FFF;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}

.sol_table_box .vertical_menu,
.sol_table_t ul {
	gap: var(--item_margin) 0;
}
.sol_table_box .vertical_menu dt,
.sol_table_t li {
	height: var(--item_height);
}

.sol_table_box .vertical_menu dt:nth-child(1),
.sol_table_t li:nth-child(1) {
	background: rgb(255 221 109 / 20%);
}
.sol_table_box .vertical_menu dt:nth-child(2),
.sol_table_t li:nth-child(2) {
	background: rgb(253 203 94 / 20%);
}
.sol_table_box .vertical_menu dt:nth-child(3),
.sol_table_t li:nth-child(3) {
	background: rgb(248 155 56 / 20%);
}
.sol_table_box .vertical_menu dt:nth-child(4),
.sol_table_t li:nth-child(4) {
	background: rgb(243 104 33 / 20%);
}
.sol_table_box .vertical_menu dt:nth-child(5),
.sol_table_t li:nth-child(5) {
	background: rgb(240 70 34 / 20%);
}
.sol_table_box .vertical_menu dt:nth-child(6),
.sol_table_t li:nth-child(6) {
	background: rgb(239 50 34 / 20%);
}
.sol_table_box .vertical_menu dt:nth-child(7) {
	background: rgb(238 36 35 / 20%);
}

.sol_table_t:hover dt {
	opacity: 0;
}
.sol_table_t dt:hover {
	left: 0;
	width: 100%;
	opacity: 1;
	z-index: 2;
}
.sol_table_t dt:hover li {
	justify-content: center;
}
.sol_table_t dt:hover p {
	text-align: center;
}
.sol_table_t dt:hover p br {
	display: none;
}
.sol_table_t ul li {
	opacity: .3;
}
.sol_table_t dt.curr li,
.sol_table_t ul:hover li {
	opacity: 1;
}


@media screen and (max-width:1440px) {
	.sol_table .horizontal-menu p {
		font-size: 0.17rem;
	}
}
@media screen and (max-width:1366px) {
	.sol_aside p {
		font-size: 0.14rem;
	}
	.sol_table_box .vertical_menu dt p {
		font-size: 0.15rem;
	}
	.sol_table_bottom_t p {
		font-size: 0.14rem;
	}
}
@media screen and (max-width:1200px) {}






/* Solutions  ---  Mobile Style  */
.mb_sol_cont,
.last_item,
.mb_sol_aside {
	display: none;
}
@media screen and (max-width:1024px) {
	.sol_cont {
		display: none;
	}
	.mb_sol_cont,
	.last_item,
	.mb_sol_aside {
		display: block;
	}
}
@media screen and (max-width:1024px) {
	.mb_sol_cont {
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
	}
	.mb_vertical_menu {
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		flex-shrink: 0;
		width: 24%;
	}
	.mb_vertical_menu dt {
		padding: 0 .1rem;
	}
	.mb_vertical_menu p {
		text-align: center;
		font-size: .14rem;
		font-weight: bold;
	}

	.mb_sol_table {
		margin-left: auto;
		width: 74%;
		position: relative;
	}

	.mb_sol_list {
		width: 100%;
		position: relative;
		overflow: hidden
	}
	.mb_sol_list .swiper-wrapper {
		display: -webkit-flex;
		display: flex;
		position: relative;
		width: 100%
	}
	.mb_sol_list .swiper-slide {
		flex-shrink: 0;
		position: relative
	}

	.mb_horizontal-menu {
		margin-bottom: 0.1rem;
		width: 100%;
		background: var(--linear-gradien);
		background: var(--linear-gradien2);
		-webkit-border-radius: .2rem 0 0 0;
		border-radius: .2rem 0 0 0;
	}
	.mb_horizontal-menu p {
		text-align: center;
		padding: .1rem 0;
		font-size: 0.16rem;
		color: #FFF;
	}

	.mb_table_t_list {
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
	}
	.mb_vertical_menu,
	.mb_table_t_list {
		gap: .08rem 0;
	}
	.mb_vertical_menu dt,
	.mb_table_t_list dt {
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		box-sizing: border-box;
		width: 100%;
		height: .9rem;
	}
	.mb_vertical_menu dt {
		justify-content: center;
	}
	.mb_table_t_list dt {
		padding: 0 .3rem;
	}

	.mb_vertical_menu dt:nth-child(1),
	.mb_table_t_list dt:nth-child(1) {
		background: rgb(255 221 109 / 20%);
	}
	.mb_vertical_menu dt:nth-child(2),
	.mb_table_t_list dt:nth-child(2) {
		background: rgb(253 203 94 / 20%);
	}
	.mb_vertical_menu dt:nth-child(3),
	.mb_table_t_list dt:nth-child(3) {
		background: rgb(248 155 56 / 20%);
	}
	.mb_vertical_menu dt:nth-child(4),
	.mb_table_t_list dt:nth-child(4) {
		background: rgb(243 104 33 / 20%);
	}
	.mb_vertical_menu dt:nth-child(5),
	.mb_table_t_list dt:nth-child(5) {
		background: rgb(240 70 34 / 20%);
	}
	.mb_vertical_menu dt:nth-child(6),
	.mb_table_t_list dt:nth-child(6) {
		background: rgb(239 50 34 / 20%);
	}
	.mb_vertical_menu dt:nth-child(7) {
		background: rgb(238 36 35 / 20%);
	}

	.mb_table_t_list dt p {
		font-size: 0.14rem;
	}
	.mb_table_t_list dt p br {
		display: none;
	}

	.mb_sol-prev,
	.mb_sol-next {
		position: absolute;
		top: 51%;
		z-index: 3;
		cursor: pointer;
		outline: none;
		-webkit-user-select: none;
		user-select: none
	}
	.mb_sol-prev.swiper-button-disabled,
	.mb_sol-next.swiper-button-disabled {
		display: none;
	}
	.mb_sol-prev {
		left: 10px;
	}
	.mb_sol-next {
		right: 10px;
	}
	.mb_sol-prev i,
	.mb_sol-next i {
		font-size: 0.4rem;
		color: var(--i_color3);
	}
	.mb_sol-prev.shake,
	.mb_sol-next.shake {
		-webkit-animation: move_lr 1s infinite linear;
		animation: move_lr 1s infinite linear
	}
	@keyframes move_lr {
		0% {
			transform: translateX(0);
		}
		50% {
			transform: translateX(10px);
		}
		100% {
			transform: translateX(0);
		}
	}

	.last_item {
		margin-top: 0.08rem;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
	}
	.mb_vertical_menu_last {
		width: 24%;
		background: rgb(238 36 35 / 20%);
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.mb_vertical_menu_last p {
		padding: 0 .1rem;
		text-align: center;
		font-size: 0.14rem;
		font-weight: bold;
	}
	.mb_table_t_list_last {
		margin-left: auto;
		width: 74%;
		background: var(--linear-gradien);
		background: var(--linear-gradien2);
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		-webkit-border-radius: .2rem 0 0 0;
		border-radius: .2rem 0 0 0;
	}
	.mb_table_t_list_last p {
		padding: .1rem .3rem;
		font-size: 0.14rem;
		color: #FFF;
	}

	.mb_sol_aside {
		margin-top: 0.2rem;
		-webkit-border-radius: .1rem;
		border-radius: .1rem;
		overflow: hidden;
	}
	.mb_sol_aside ul {
		padding: .1rem 0;
		display: -webkit-flex;
		display: flex;
		flex-wrap: nowrap;
		background: var(--linear-gradien);
		background: var(--linear-gradien2);
	}
	.mb_sol_aside li {
		text-align: center;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.mb_sol_aside li:nth-child(1) {
		width: 20%;
	}
	.mb_sol_aside li:nth-child(2) {
		width: 30%;
	}
	.mb_sol_aside li:nth-child(3) {
		width: 50%;
	}
	.mb_sol_aside p {
		text-align: center;
		color: #FFF;
	}
}
@media screen and (max-width:768px) {
	.mb_vertical_menu p,
	.mb_vertical_menu_last p {
		font-size: 0.13rem;
	}
	.mb_table_t_list dt,
	.mb_table_t_list_last p {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}
	.mb_table_t_list dt p,
	.mb_table_t_list_last p {
		font-size: 0.13rem;
	}
}
@media screen and (max-width:560px) {
	.mb_horizontal-menu p {
		font-size: 0.15rem
	}
	.mb_vertical_menu dt,
	.mb_table_t_list dt {
		height: 0.8rem;
	}
	.mb_sol-prev,
	.mb_sol-next {
		top: 52%;
	}
	.mb_sol-prev i,
	.mb_sol-next i {
		font-size: 0.26rem;
	}
}







/* ----------------------------------------- */

.sol2_cont{
	--horizontal-menu-num: 5;
	--horizontal-menu-margin: 1%;
	--horizontal-menu-width: calc((100% - (var(--horizontal-menu-margin) * (var(--horizontal-menu-num) - 1))) / 5);

	--item1_height: 1rem;
	--item2_height: 2.6rem;
	--item_bottom1_height: 1.2rem;
	--item_bottom2_height: 1.4rem;
	--item_margin: .14rem;
	--item_box_height: calc(var(--item1_height) + var(--item2_height) + var(--item_bottom1_height) + var(--item_bottom2_height) + var(--item_margin) * 3)
}
.sol2_cont{display:-webkit-flex; display:flex; flex-wrap:nowrap;}

.sol2_aside{width: 1.3rem;flex-shrink: 0;display:-webkit-flex; display:flex; flex-wrap:wrap;flex-direction: column;gap: var(--item_margin) 0;}
.sol2_aside dt{text-align: center;display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;justify-content: center;}
.sol2_aside p{
	box-sizing: border-box;
	padding: 0 .1rem;
	font-size: 0.16rem;color: #FFF}
.sol2_aside dt:nth-child(1){
	height: 0.54rem;
	background: #FDC110;
}
.sol2_aside dt:nth-child(2){
	height: calc(.54rem + var(--item1_height) + var(--item_margin));
	background:-webkit-linear-gradient(top, #FBB84F, #F57D4E); background:linear-gradient(to bottom, #FBB84F, #F57D4E);
}
.sol2_aside dt:nth-child(3){
	height: calc(var(--item2_height) + var(--item_bottom1_height) + var(--item_margin));
	background:-webkit-linear-gradient(top, #F36521, #EE1F23); background:linear-gradient(to bottom, #F36521, #EE1F23);
}
.sol2_aside dt:nth-child(4){
	height: var(--item_bottom2_height);
	background: #EE1F1F;
}

.sol2_table_box{width: 100%;margin-left: 2%;}

.sol2_table_tit{
	margin-bottom: var(--item_margin);
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-border-radius: .2rem 0 0 0;
	border-radius: .2rem 0 0 0;
	text-align: center;
	position: relative;
}
.sol2_table_tit p{
	font-size: 0.18rem;
	color: #FFF;
	line-height: 0.54rem;
}

.sol2_table_box .horizontal-menu{
	margin-bottom: var(--item_margin);
	display:-webkit-flex; display:flex; flex-wrap:nowrap;justify-content: space-between;
}
.sol2_table_box .horizontal-menu dt {
	width:var(--horizontal-menu-width);
	text-align: center;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.sol2_table_box .horizontal-menu dt::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid var(--i_color3);
}
.sol2_table_box .horizontal-menu p {
	font-size: 0.18rem;
	color: var(--i_color3);
	line-height: 0.54rem;
	position: relative;
}
.sol2_table_box .horizontal-menu dt.curr {
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-border-radius: .2rem 0 0 0;
	border-radius: .2rem 0 0 0;
}
.sol2_table_box .horizontal-menu dt.curr::before {
	border-color: transparent;
}
.sol2_table_box .horizontal-menu dt.curr p {
	color: #FFF;
}


.sol2_table_t{
	height: var(--item_box_height);
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
}
.sol2_table_t dt {
	position: absolute;
	top: 0;
	width: var(--horizontal-menu-width);
	-webkit-transition: all .7s ease;
	transition: all .7s ease
}
.sol2_table_t dt:nth-child(1) {
	left: 0;
}
.sol2_table_t dt:nth-child(2) {
	left: calc(1 * var(--horizontal-menu-width) + var(--horizontal-menu-margin));
}
.sol2_table_t dt:nth-child(3) {
	left: calc(2 * var(--horizontal-menu-width) + var(--horizontal-menu-margin) * 2);
}
.sol2_table_t dt:nth-child(4) {
	left: calc(3 * var(--horizontal-menu-width) + var(--horizontal-menu-margin) * 3);
}
.sol2_table_t dt:nth-child(5) {
	left: calc(4 * var(--horizontal-menu-width) + var(--horizontal-menu-margin) * 4);
}

.sol2_table_t ul{display:-webkit-flex; display:flex; flex-wrap:wrap;gap: var(--item_margin) 0;}

.sol2_table_t li{
	width: 100%;
	box-sizing: border-box;
	padding: 0 .14rem;
	display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;
}
.sol2_table_t li:nth-child(1){height: var(--item1_height);background: #FFF8E2;}
.sol2_table_t li:nth-child(2){height: var(--item2_height);background: #FEEBD7;}

.sol2_table_t li p{
	font-size: 0.14rem;
}

/* .sol2_table_t dt:hover {
	opacity: 0;
} */
.sol2_table_t dt:hover {
	left: 0;
	width: 100%;
	opacity: 1;
	z-index: 2;
}
.sol2_table_t dt:hover li {
	justify-content: center;
}
.sol2_table_t dt:hover p {
	text-align: center;
}
.sol2_table_t dt:hover p br {
	display: none;
}
.sol2_table_t ul li {
	opacity: .3;
}
.sol2_table_t dt.curr li,
.sol2_table_t ul:hover li {
	opacity: 1;
}


.sol2_table_bottom_t_box{
	position: absolute;left: 0;bottom: 0;width: 100%;
}
.sol2_table_bottom_t_box .sol2_table_bottom_t{
	display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;
	z-index: 3;
}
.sol2_table_bottom_t_box .sol2_table_bottom_t p{
	width: 100%;
	box-sizing: border-box;
	padding: 0 .3rem;font-size: 0.15rem;
}

.sol2_table_bottom_t_box .sol2_table_bottom_t:nth-child(1){
	height: var(--item_bottom1_height);
	background: rgb(232 23 23 / 20%);
}
.sol2_table_bottom_t_box .sol2_table_bottom_t:nth-child(2){
	margin-top: var(--item_margin);
	height: var(--item_bottom2_height);
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-border-radius:.3rem 0 0 0; border-radius:.3rem 0 0 0;
}
.sol2_table_bottom_t_box .sol2_table_bottom_t:nth-child(1) p{color: #333;}
.sol2_table_bottom_t_box .sol2_table_bottom_t:nth-child(2) p{
	color: #FFF;
	text-align: center;
}

@media screen and (max-width:1440px) {
	.sol2_table_box .horizontal-menu p{
		font-size: 0.17rem;
	}
}
@media screen and (max-width:1366px) {
	.sol2_aside p {
		font-size: 0.15rem;
	}
	.sol2_table_tit p{font-size: 0.17rem;}
}
@media screen and (max-width:1200px) {
	.sol2_table_box .horizontal-menu p {
		font-size: 0.16rem;
	}
}








.mb_sol2_cont {
	display: none;
}
@media screen and (max-width:1024px) {
	.sol2_cont {
		display: none;
	}
	.mb_sol2_cont {
		display:-webkit-flex; display:flex; flex-wrap:wrap;
	}
}
@media screen and (max-width:1024px) {
	.mb_sol2_aside{width: 20%;
		display:-webkit-flex; display:flex; flex-wrap:wrap;flex-direction: column;
		flex-shrink: 0;gap: .1rem 0;
	}
	.mb_sol2_aside dt{
		width: 100%;
		text-align: center;display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;justify-content: center;}
	.mb_sol2_aside p{
		box-sizing: border-box;
		padding: 0 .1rem;
		font-size: 0.16rem;color: #FFF}
	.mb_sol2_aside dt:nth-child(1){
		height: 0.44rem;
		background: #FDC110;
	}
	.mb_sol2_aside dt:nth-child(2){
		height: calc(.4rem + .1rem + .8rem);
		background:-webkit-linear-gradient(top, #FBB84F, #F57D4E); background:linear-gradient(to bottom, #FBB84F, #F57D4E);
	}
	.mb_sol2_aside dt:nth-child(3){
		height: calc(1.8rem + 2.6rem + .1rem);
		background:-webkit-linear-gradient(top, #F36521, #EE1F23); background:linear-gradient(to bottom, #F36521, #EE1F23);
	}

	.mb_sol2_table_box{width: 78%;margin-left: auto}

	.mb_sol2_table_tit{
		width: 100%;
		margin-bottom: 0.1rem;
		background: var(--linear-gradien);
		background: var(--linear-gradien2);
		-webkit-border-radius:.1rem 0 0 0; border-radius:.1rem 0 0 0;
	}
	.mb_sol2_table_tit p{
		font-size: 0.17rem;color: #FFF;text-align: center;
		line-height: 0.44rem;
		overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
	}

	.mb_sol2_list_box{}

	.mb_sol2_list {
		width: 100%;
		position: relative;
		overflow: hidden
	}
	.mb_sol2_list .swiper-wrapper {
		display: -webkit-flex;
		display: flex;
		position: relative;
		width: 100%
	}
	.mb_sol2_list .swiper-slide {
		flex-shrink: 0;
		position: relative
	}

	.mb_horizontal-menu2{
		width: 100%;
		margin-bottom: 0.1rem;
		background: var(--linear-gradien);
		background: var(--linear-gradien2);
		-webkit-border-radius:.1rem 0 0 0; border-radius:.1rem 0 0 0;
	}
	.mb_horizontal-menu2 p{
		font-size: 0.16rem;color: #FFF;text-align: center;
		line-height: 0.4rem;
		overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
	}

	.mb_table_t_list2{
		display:-webkit-flex; display:flex; flex-wrap:wrap;
		flex-direction: column;
		gap: .1rem 0;
	}
	.mb_table_t_list2 dt{
		width: 100%;
		box-sizing: border-box;
		padding: 0 .14rem;
		display:-webkit-flex; display:flex; flex-wrap:wrap;
		align-items: center;
	}
	.mb_table_t_list2 dt:nth-child(1){
		height: .8rem;
		background: #FFF8E2;
	}
	.mb_table_t_list2 dt:nth-child(2){
		height: 1.8rem;
		background: #FEEBD7;
	}

	.mb_table_t_list2 dt p{font-size: 0.14rem;}

	.mb_sol2_table_bottom_t1{
		height: 2.6rem;
		margin-top: 0.1rem;
		background: rgb(232 23 23 / 20%);
		display:-webkit-flex; display:flex; flex-wrap:wrap;
		align-items: center;
		justify-content: center;
	}
	.mb_sol2_table_bottom_t1 p{
		width: 100%;
		box-sizing: border-box;
		padding: 0 .14rem;
		font-size: 0.14rem;
	}

	.mb_last_box{
		margin-top: 0.1rem;
		display:-webkit-flex; display:flex; flex-wrap:wrap;}
	.mb_last_box dt{
		width: 20%;
		background: #EE1F1F;
		display:-webkit-flex; display:flex; flex-wrap:wrap;
		align-items: center;justify-content: center;
	}
	.mb_last_box dt p{
		text-align: center;
		box-sizing: border-box;
		padding: 0 .1rem;font-size: 0.16rem;color: #FFF;
	}
	.mb_last_box dd{
		width: 78%;
		margin-left: auto;
		background: var(--linear-gradien);
		background: var(--linear-gradien2);
		display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;justify-content: center;
		-webkit-border-radius:.1rem 0 0 0; border-radius:.1rem 0 0 0;
	}
	.mb_last_box dd p{
		padding: .14rem;
		font-size: 0.14rem;color: #FFF;}
}
@media screen and (max-width:768px) {
	.mb_sol2_aside p,.mb_last_box dt p{font-size: 0.14rem;}
	.mb_sol2_table_tit p{font-size: 0.14rem;}

	.mb_horizontal-menu2 p{font-size: 0.14rem;}

	.mb_table_t_list2 dt p,.mb_sol2_table_bottom_t1 p,.mb_last_box dd p{font-size: 0.13rem;}
}














.sol_about {}
.sol_about .wrap {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

.sol_ab_t {
	width: 48%;
}
.sol_ab_t .tit {
	font-size: 0.38rem;
	text-transform: uppercase;
}

.sol_ab_p {
	margin-left: auto;
	width: 46%;
	height: 100%;
	position: relative;
}
.sol_ab_p::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 30%;
	height: 70%;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-border-radius: .4rem 0 0 0;
	border-radius: .4rem 0 0 0;
}
.sol_ab_p .img {
	position: relative;
	padding: .26rem 0 0 .26rem;
}
.sol_ab_p .img img {
	width: 100%;
	-webkit-border-radius: .3rem 0 0 0;
	border-radius: .3rem 0 0 0;
}

.sol_num {}
.sol_num dl {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.sol_num dt {
	max-width: 30%;
}
.sol_num span {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}
.sol_num .roll_num {
	font-size: 0.48rem;
}
.sol_num b,
.sol_num p {
	font-size: 0.16rem;
	font-weight: normal;
}
.sol_num h6 {
	font-size: 0.18rem;
}

@media screen and (max-width:1440px) {
	.sol_ab_t .tit {
		font-size: 0.34rem;
	}
}
@media screen and (max-width:1366px) {
	.sol_num .roll_num {
		font-size: 0.42rem;
	}
	.sol_num h6 {
		font-size: 0.17rem;
	}
}
@media screen and (max-width:1200px) {
	.sol_num .roll_num {
		font-size: 0.38rem;
	}
	.sol_num h6 {
		font-size: 0.16rem;
	}
}
@media screen and (max-width:1024px) {
	.sol_ab_t {
		width: 100%;
	}
	.sol_ab_t .tit {
		max-width: 70%;
		font-size: 0.28rem;
	}
	.sol_ab_t .tit br {
		display: none;
	}

	.sol_ab_p {
		margin: .4rem 0 0 0;
		width: 100%;
	}
	.sol_ab_p .img {
		padding: .14rem 0 0 .14rem;
	}

	.sol_num dl {
		gap: .3rem 5%;
	}
	.sol_num dt {
		width: 30%;
	}
	.sol_num .roll_num {
		font-size: 0.32rem;
	}
	.sol_num h6 {
		font-size: 0.15rem;
	}
}
@media screen and (max-width:768px) {
	.sol_ab_t .tit {
		font-size: 0.22rem;
	}
	.sol_ab_t article {
		margin: .2rem auto .3rem;
	}

	.sol_num .roll_num {
		font-size: 0.28rem;
	}
	.sol_num h6 {
		font-size: 0.14rem;
	}
}
@media screen and (max-width:560px) {
	.sol_ab_t .tit {
		max-width: 100%;
		font-size: 0.18rem;
	}
	.sol_ab_p .img {
		padding: .1rem 0 0 .1rem;
	}

	.sol_num .roll_num {
		font-size: 0.26rem;
	}
	.sol_num h6 {
		font-size: 0.13rem;
	}
}







/* ------------------------------------- */

.sol3_cont{
	--horizontal-menu-num: 3;
	--horizontal-menu-margin: 1%;
	--horizontal-menu-width: calc((100% - (var(--horizontal-menu-margin) * (var(--horizontal-menu-num) - 1))) / 3);

	--item_margin: .1rem;
	--item_span_height: .46rem;
	--item1_height: 1rem;
	--item2_height: calc(5 * var(--item_span_height) + 4 * var(--item_margin));
	--item3_height: calc(5 * var(--item_span_height) + 4 * var(--item_margin));
	--item_box_height: calc(var(--item1_height) + var(--item2_height) + var(--item3_height) + 2 * var(--item_margin))
}
.sol3_cont{
	display:-webkit-flex; display:flex; flex-wrap:nowrap;
}

.sol3_aside{width: 1.3rem;flex-shrink: 0;
display:-webkit-flex; display:flex; flex-wrap:wrap;flex-direction: column;gap: var(--item_margin) 0;}
.sol3_aside dt{text-align: center;display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;justify-content: center;}
.sol3_aside p{
	box-sizing: border-box;
	padding: 0 .1rem;
	font-size: 0.16rem;color: #FFF}
.sol3_aside dt:nth-child(1){
	height: 0.54rem;
	background: #FDC110;
}
.sol3_aside dt:nth-child(2){
	height: var(--item1_height);
	background:-webkit-linear-gradient(top, #FBB84F, #F57D4E); background:linear-gradient(to bottom, #FBB84F, #F57D4E);
}
.sol3_aside dt:nth-child(3){
	height: calc(var(--item2_height) + var(--item3_height) + var(--item_margin));
	background:-webkit-linear-gradient(top, #F36521, #EE1F23); background:linear-gradient(to bottom, #F36521, #EE1F23);
}

.sol3_table_box{width: 100%;margin-left: 2%;}

.sol3_table_box .horizontal-menu{
	margin-bottom: var(--item_margin);
	display:-webkit-flex; display:flex; flex-wrap:nowrap;justify-content: space-between;
}
.sol3_table_box .horizontal-menu dt {
	width:var(--horizontal-menu-width);
	text-align: center;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.sol3_table_box .horizontal-menu dt::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid var(--i_color3);
}
.sol3_table_box .horizontal-menu p {
	font-size: 0.18rem;
	color: var(--i_color3);
	line-height: 0.54rem;
	position: relative;
}
.sol3_table_box .horizontal-menu dt.curr {
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
	-webkit-border-radius: .2rem 0 0 0;
	border-radius: .2rem 0 0 0;
}
.sol3_table_box .horizontal-menu dt.curr::before {
	border-color: transparent;
}
.sol3_table_box .horizontal-menu dt.curr p {
	color: #FFF;
}

.sol3_table_t{
	height: var(--item_box_height);
	display:-webkit-flex; display:flex; flex-wrap:nowrap;
	position: relative;
}
.sol3_table_t dt{
	position: absolute;
	top: 0;
	width: var(--horizontal-menu-width);
	height: 100%;
	-webkit-transition: all .7s ease;
	transition: all .7s ease
}
.sol3_table_t dt:nth-child(1) {
	left: 0;
}
.sol3_table_t dt:nth-child(2) {
	left: calc(1 * var(--horizontal-menu-width) + var(--horizontal-menu-margin));
}
.sol3_table_t dt:nth-child(3) {
	left: calc(2 * var(--horizontal-menu-width) + var(--horizontal-menu-margin) * 2);
}

.sol3_table_t ul{display:-webkit-flex; display:flex; flex-wrap:wrap;gap: var(--item_margin) 0;}
.sol3_table_t dt:nth-child(3) ul{width: 100%;height: 100%;}

.sol3_table_t li{
	width: 100%;
	box-sizing: border-box;
}
.sol3_table_t li span{
	display: block;
	height: 0.46rem;
}
.sol3_table_t li p{
	text-align: center;
	padding: 0 .14rem;
	font-size: 0.14rem;
	height: 100%;
	display:-webkit-flex; display:flex; flex-wrap:wrap;
	align-items: center;
	justify-content: center;
}

.sol3_t_1_1,.sol3_t_2_1,.sol3_t_3_1{
	display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;justify-content: center;
	background: #FFF8E2;
}
.sol3_t_1_1,.sol3_t_2_1{height: var(--item1_height);}
.sol3_t_3_1{height: 100%;}

.sol3_t_1_2,
.sol3_t_1_3,
.sol3_t_2_2,
.sol3_t_2_3{
	display:-webkit-flex; display:flex; flex-wrap:wrap;flex-direction: column;
	gap: var(--item_margin) 0;
}

.sol3_t_2_2{flex-direction: row;justify-content: space-between !important;}
.sol3_t_2_2 .h_t{
	width: calc((100% - var(--item_margin)) / 2);
	height: calc(5 * var(--item_span_height) + 4 * var(--item_margin));
}

.sol3_t_1_2 span p,.sol3_t_2_2 span p,.sol3_t_2_2 .h_t{background: #FEEBD7;}
.sol3_t_1_3 span p,.sol3_t_2_3 span p{background: #FDEAE9;}

.sol3_table_t:hover dt {
	opacity: 0;
}
.sol3_table_t dt:hover {
	left: 0;
	width: 100%;
	opacity: 1;
	z-index: 2;
}
.sol3_table_t dt:hover li {
	justify-content: center;
}
.sol3_table_t dt:hover p {
	text-align: center;
}
/* .sol3_table_t dt:hover p br {
	display: none;
} */
.sol3_table_t ul li {
	opacity: .3;
}
.sol3_table_t dt.curr li,
.sol3_table_t ul:hover li {
	opacity: 1;
}


.sol3_bottom_t{
	margin-top: .1rem;
	display:-webkit-flex; display:flex; flex-wrap:nowrap;
}
.sol3_bottom_t dt{width: 1.3rem;flex-shrink: 0;background: #EE1F1F;display:-webkit-flex; display:flex; flex-wrap:wrap;
	align-items: center;justify-content: center;}
.sol3_bottom_t dt p{
	text-align: center;
	box-sizing: border-box;
	padding: 0 .1rem;font-size: 0.16rem;color: #FFF;
}

.sol3_bottom_t dd{width: 100%;margin-left: 2%;background: var(--linear-gradien);
	background: var(--linear-gradien2);
	display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;justify-content: center;
	-webkit-border-radius:.2rem 0 0 0; border-radius:.2rem 0 0 0;
}
.sol3_bottom_t dd p{
	padding: .2rem;
	font-size: 0.18rem;color: #FFF;
}

@media screen and (max-width:1440px) {
	.sol3_table_box .horizontal-menu p{
		font-size: 0.17rem;
	}
}
@media screen and (max-width:1366px) {
	.sol3_table_box .horizontal-menu p{
		font-size: 0.16rem;
	}
	.sol3_bottom_t dd p{font-size: 0.17rem;}
}


.mb_sol3_cont {
	display: none;
}
@media screen and (max-width:1024px) {
	.sol3_cont,.sol3_bottom_t {
		display: none;
	}
	.mb_sol3_cont {
		display:-webkit-flex; display:flex; flex-wrap:wrap;
	}
}
@media screen and (max-width:1024px) {
	.mb_sol3_aside{width: 20%;
		display:-webkit-flex; display:flex; flex-wrap:wrap;flex-direction: column;
		flex-shrink: 0;gap: .1rem 0;
	}
	.mb_sol3_aside dt{
		width: 100%;
		text-align: center;display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;justify-content: center;
	}
	.mb_sol3_aside dt{
		width: 100%;
		text-align: center;display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;justify-content: center;}
	.mb_sol3_aside p{
		box-sizing: border-box;
		padding: 0 .1rem;
		font-size: 0.16rem;color: #FFF}
	.mb_sol3_aside dt:nth-child(1){
		height: 0.44rem;
		background: #FDC110;
	}
	.mb_sol3_aside dt:nth-child(2){
		height: .9rem;
		background:-webkit-linear-gradient(top, #FBB84F, #F57D4E); background:linear-gradient(to bottom, #FBB84F, #F57D4E);
	}
	.mb_sol3_aside dt:nth-child(3){
		height: calc(5 * .46rem * 2 + 4 * .1rem * 2 + .1rem);
		background:-webkit-linear-gradient(top, #F36521, #EE1F23); background:linear-gradient(to bottom, #F36521, #EE1F23);
	}

	.mb_sol3_table_box{width: 78%;margin-left: auto}

	.mb_sol3_list {
		width: 100%;
		position: relative;
		overflow: hidden
	}
	.mb_sol3_list .swiper-wrapper {
		display: -webkit-flex;
		display: flex;
		position: relative;
		width: 100%
	}
	.mb_sol3_list .swiper-slide {
		flex-shrink: 0;
		position: relative
	}

	.mb_horizontal-menu3{
		width: 100%;
		margin-bottom: 0.1rem;
		background: var(--linear-gradien);
		background: var(--linear-gradien2);
		-webkit-border-radius:.1rem 0 0 0; border-radius:.1rem 0 0 0;
	}
	.mb_horizontal-menu3 p{
		font-size: 0.16rem;color: #FFF;text-align: center;
		line-height: 0.44rem;
		overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
	}

	.mb_table_t_list3{
		height: calc(100% - .44rem - .1rem);
		display:-webkit-flex; display:flex; flex-wrap:wrap;
		flex-direction: column;
		gap: .1rem 0;
	}
	.mb_table_t_list3 p{
		padding: 0 .14rem;
		font-size: 0.14rem;
	}
	.mb_sol3_t_1_1,.mb_sol3_t_2_1,.mb_sol3_t_3_1{
		height: .9rem;
		background: #FFF8E2;
		display:-webkit-flex; display:flex; flex-wrap:wrap;
		align-items: center;
		justify-content: center;
	}
	.mb_sol3_t_1_2,
	.mb_sol3_t_1_3,
	.mb_sol3_t_2_2,
	.mb_sol3_t_2_3
	{
		display:-webkit-flex; display:flex; flex-wrap:wrap;flex-direction: column;
		gap: .1rem 0;
	}
	.mb_sol3_t_2_2{
		flex-direction: row;
		justify-content: space-between;
	}
	.mb_sol3_t_2_2 .h_t{
		width: calc((100% - .1rem) / 2);
		height: calc(5 * .46rem + 4 * .1rem);
	}

	.mb_sol3_t_1_2 span,
	.mb_sol3_t_1_3 span,
	.mb_sol3_t_2_2 span,
	.mb_sol3_t_2_3 span{height: 0.46rem;}
	.mb_sol3_t_1_2 p,
	.mb_sol3_t_1_3 p,
	.mb_sol3_t_2_2 p,
	.mb_sol3_t_2_3 p
	{
		text-align: center;
		height: 100%;
		display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;justify-content: center;
	}
	.mb_sol3_t_1_2 p,
	.mb_sol3_t_2_2 p{background: #FEEBD7;}
	.mb_sol3_t_1_3 p,
	.mb_sol3_t_2_3 p{background: #FDEAE9;}

	.mb_sol3_t_3_1{height: 100%;}

	.mb_sol3_last_box{
		width: 100%;
		margin-top: 0.1rem;
		display:-webkit-flex; display:flex; flex-wrap:wrap;}
	.mb_sol3_last_box dt{
		width: 20%;
		background: #EE1F1F;
		display:-webkit-flex; display:flex; flex-wrap:wrap;
		align-items: center;justify-content: center;
	}
	.mb_sol3_last_box dt p{
		text-align: center;
		box-sizing: border-box;
		padding: 0 .1rem;font-size: 0.16rem;color: #FFF;
	}
	.mb_sol3_last_box dd{
		width: 78%;
		margin-left: auto;
		background: var(--linear-gradien);
		background: var(--linear-gradien2);
		display:-webkit-flex; display:flex; flex-wrap:wrap;align-items: center;justify-content: center;
		-webkit-border-radius:.1rem 0 0 0; border-radius:.1rem 0 0 0;
	}
	.mb_sol3_last_box dd p{
		text-align: center;
		padding: .14rem;
		font-size: 0.14rem;color: #FFF;}
}
@media screen and (max-width:768px) {
	.mb_sol3_aside p,.mb_sol3_last_box dt p{font-size: .14rem;}
	.mb_horizontal-menu3 p{font-size: 0.15rem;}

	.mb_table_t_list3 p{font-size: 0.13rem;}
}
















.sol_honor {
	background: -webkit-linear-gradient(top, transparent 50%, #FFF4EA);
	background: linear-gradient(to bottom, transparent 50%, #FFF4EA);
}

.sol_honor_list {
	position: relative;
	overflow: hidden
}
.sol_honor_list .swiper-wrapper {
	display: -webkit-flex;
	display: flex;
	position: relative;
	width: 100%
}
.sol_honor_list .swiper-slide {
	flex-shrink: 0;
	position: relative
}
.sol_honor_list .img {
	width: 100%;
	position: relative;
	overflow: hidden
}
.sol_honor_list .img::before {
	content: "";
	display: block;
	padding-bottom: 136.8%
}
.sol_honor_list .img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.sol_honor_list .txt {
	margin-top: 0.1rem;
	text-align: center;
}
.sol_honor_list .txt p {
	font-size: 0.15rem;
}

.sol_honor-prev,
.sol_honor-next {
	position: absolute;
	top: 42%;
	transform: translate(0, -50%);
	width: .4rem;
	height: .6rem;
	background: rgb(0 0 0 / 40%);
	z-index: 3;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	user-select: none
}
.sol_honor-prev {
	left: 0;
}
.sol_honor-next {
	right: 0;
}
.sol_honor-prev i,
.sol_honor-next i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.34rem;
	color: #FFF;
}
.sol_honor_list .swiper-button-disabled {
	cursor: not-allowed
}
.sol_honor-prev:hover,
.sol_honor-next:hover {
	background: var(--i_color3);
}


.sol_honor-pagination {
	display: block;
	margin-top: 0.6rem;
	text-align: center
}
.sol_honor-pagination .swiper-pagination-bullet {
	width: .7rem;
	height: .02rem;
	display: inline-block;
	margin: 0 6px;
	background: #E1E1E1;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
	outline: none;
	cursor: pointer;
	position: relative;
}
.sol_honor-pagination .swiper-pagination-bullet::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.sol_honor-pagination .swiper-pagination-bullet-active::before {
	width: 100%;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
}

@media screen and (max-width:1200px) {
	.sol_honor-pagination .swiper-pagination-bullet {
		width: 0.4rem;
	}
}
@media screen and (max-width:1024px) {
	.sol_honor-prev,
	.sol_honor-next {
		display: none;
	}
	.sol_honor_list .txt p {
		font-size: 0.14rem;
	}
	.sol_honor-pagination {
		margin-top: 0.4rem;
	}
}
@media screen and (max-width:768px) {
	.sol_honor-pagination .swiper-pagination-bullet {
		width: 0.2rem;
	}
}
@media screen and (max-width:560px) {
	.sol_honor_list .txt p {
		font-size: 0.13rem;
	}
}







.sol_app {}

.app_list {
	position: relative;
	overflow: hidden
}
.app_list .swiper-wrapper {
	display: -webkit-flex;
	display: flex;
	position: relative;
	width: 100%
}
.app_list .swiper-slide {
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
}

.app_list .img {
	width: 100%;
	position: relative;
	overflow: hidden
}
.app_list .img::before {
	content: "";
	display: block;
	padding-bottom: 60%
}
.app_list .img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}

.app_list .txt {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.app_list .txt::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	background: rgb(0 0 0 / 30%);
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.app_list .txt p {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	font-size: 0.16rem;
	color: #FFF;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.app_list .swiper-slide:hover .txt::before {
	height: 100%;
}
.app_list .swiper-slide:hover p {
	opacity: 1;
}

.app-prev,
.app-next {
	position: absolute;
	top: 46%;
	transform: translate(0, -50%);
	width: .4rem;
	height: .6rem;
	background: rgb(0 0 0 / 40%);
	z-index: 3;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	user-select: none
}
.app-prev {
	left: 0;
}
.app-next {
	right: 0;
}
.app-prev i,
.app-next i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.34rem;
	color: #FFF;
}
.app_list .swiper-button-disabled {
	cursor: not-allowed
}
.app-prev:hover,
.app-next:hover {
	background: var(--i_color3);
}

.app-pagination {
	display: block;
	margin-top: 0.6rem;
	text-align: center
}
.app-pagination .swiper-pagination-bullet {
	width: .7rem;
	height: .02rem;
	display: inline-block;
	margin: 0 6px;
	background: #E1E1E1;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
	outline: none;
	cursor: pointer;
	position: relative;
}
.app-pagination .swiper-pagination-bullet::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.app-pagination .swiper-pagination-bullet-active::before {
	width: 100%;
	background: var(--linear-gradien);
	background: var(--linear-gradien2);
}

@media screen and (max-width:1200px) {
	.app-pagination .swiper-pagination-bullet {
		width: 0.4rem;
	}
}
@media screen and (max-width:1024px) {
	.app_list .txt {
		position: relative;
		height: auto;
		margin-top: 0.1rem;
	}
	.app_list .txt::before {
		display: none;
	}
	.app_list .txt p {
		opacity: 1;
		position: initial;
		transform: none;
		width: 100%;
		font-size: 0.13rem;
		color: #888;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}

	.app-prev,
	.app-next {
		display: none;
	}
	.app-pagination {
		margin-top: 0.4rem;
		margin-bottom: 0.24rem;
	}
}
@media screen and (max-width:768px) {}
@media screen and (max-width:560px) {}